#set($title = '我的系统积分信息')
<div class="wrapperRight">
	<div id="rightTab" class="t">
        <ul>
			#if($!userAgent.haveFunction("BIZ_U_USER_INFO_EDIT"))
				<li><a href="$!{appServer}/user/edit.htm">修改个人信息</a></li>
			#end
			#if($!userAgent.haveFunction("BIZ_R_USER_LEVELS_VIEW"))
                <li><a class="cursor" href="#">积分等级</a></li>
    			<li><a href="$!{appServer}/user/level/credit.htm">信用等级</a></li>
			#end	
        </ul>
	</div>
	<div class="right-body">
		<div class="formBox">
	            <div class="content">
                	<table class="c2">
						<tr>
							<th>积分：</th>							
							<td>
								$!{userLevel.integral}
                            </td>
                        </tr>
						<tr>
							<th>级别：</th>
							<td>
								$!{userLevel.levelName}
								<img src="$!{uploadServer}/$!{userLevel.imgName}"/>
                            </td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>
	<div class="b"></div>
</div>