@charset "utf-8";
/* CSS Document */
*		{}
body	{ font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#444; line-height:22px; background-color: #FFF;margin:0; padding:0; background:url(../images/bg.gif) repeat-x;}
.main	{background:url(../images/bg_main.jpg) no-repeat center top;}
a		{color:#444;text-decoration:underline}
a:hover	{color:#468100; text-decoration:underline}
a.green	{color:#468100;}
img		{border:0px;}
ul,li,form,h1,h2,h3,h4,dl,dt,dd{margin:0; padding:0; list-style:none;}
.clear	{clear:both; line-height:0; font:0;}
.hidden	{display:none;}
.fontRed{color:#ff5959;}
.fontGreen{color:#468100;}

span.buttonGreen{display: block; width: 140px; height:34px;}
span.buttonGreen span{display:block;}
span.buttonGreen span a{display: block; line-height: 34px; background:url(../images/button.gif) 0 -50px no-repeat; color: #ffffff; font-size: 14px; font-weight: bold; text-align: center;}
span.buttonGreen span a:hover{background-position: -140px -50px;}
span.buttonGreen button{display:block;overflow:visible;width:auto;_width:0;height:35px;margin:0 -10px;padding:0 10px;border:0 none;background:none;color:#fff;text-decoration:none;line-height:27px;vertical-align:middle;white-space:nowrap;cursor:pointer; }
span.buttonGreen span a{ text-decoration:none; color:#FFF;font-size:14px; font-weight:bold;}
span.buttonGreen span a:hover{color:#FFF; text-decoration:none;}

.buttonYes{width:70px; height:25px; text-align:center; float:left; margin-right:10px;}
.buttonYes a{ color:#444444; text-decoration:none; line-height:25px; display: block;background:url(../images/button2.gif) no-repeat 0 -143px;}
.buttonYes a:hover{color:#ffffff; text-decoration:none; line-height:25px; background-position: -70px -143px;}

.buttonNo{width:70px; height:25px; text-align:center; float:left; margin-right:10px;}
.buttonNo a{ color:#444444; text-decoration:none; line-height:25px; display: block; background:url(../images/button2.gif) no-repeat 0 -168px;}
.buttonNo a:hover{color:#ffffff; text-decoration:none; line-height:25px; background-position: -70px -168px;}

#head			{width:100%; background:url(../images/head.gif) repeat-x 0 -288px ;}
#head .headBox	{width:990px; margin:auto;}
#head .headBox .headBox1		{height:65px;}
#head .headBox .headBox1 .logo	{height:65px; width:376px; float:left; background:url(../images/head.gif) no-repeat; display:block; text-indent:-9900px; overflow:hidden;}
#head .headBox .headBox2		{height:48px;}
#head .headBox .headBox2 .l		{width:10px; float:left; height:48px; background:url(../images/head.gif) 0 -65px ;}
#head .headBox .headBox2 .r		{width:255px; float:left; height:48px; background:url(../images/head.jpg);}
#head .headBox .headBox2 .c		{float:left; height:48px; width:725px; background:url(../images/head.gif) 0 -113px ;}

#txz				{float:left; height:48px; width:140px;}
#txz .buttonTxz		{width:112px; height:30px; background:url(../images/txz.jpg) no-repeat ; display:block; margin:8px 0 0 8px; _margin:8px 0 0 4px; text-indent:-9900px; overflow:hidden;}
#txz .buttonTxz:hover{background-position: 0 -30px;}
#menu				{float:left; height:48px; width:585px; _display:inline; margin-left:10px;}
#menu li			{float:left; width:102px; height:48px; text-align:center; display:block; background:url(../images/head.gif) no-repeat 0 -209px ;}
#menu .cursor		{background:url(../images/head.gif) no-repeat 0 -161px; color:#1e4b00;}
#menu .cursor:hover	{color:#1e4b00;}
#menu li a			{font-size:14px; font-weight:bold; width:100px; height:48px; line-height:48px; color:#FFF; text-decoration:none; display:block; padding-left: 2px;}
#menu li a:hover	{color:#ff0; text-decoration:none;}

#head .headBox .headBox1 .about					{height:40px; float:right; width:500px; padding-top:25px; padding-right:10px;}
#head .headBox .headBox1 .about .back			{float:right; width:70px; height:25px; }
#head .headBox .headBox1 .about .back a			{text-decoration:none; line-height:25px; color: #444444; display: block; background:url(../images/button2.gif) no-repeat 0 -168px; text-align: center;}
#head .headBox .headBox1 .about .back a:hover	{color:#ffffff; background-position: -70px -168px;}
#head .headBox .headBox1 .about .welcome		{float:right; color:#468100; padding-left:20px; margin-right:20px; margin-top: 2px; height:20px; line-height: 20px; overflow:hidden; background:url(../images/button.gif) no-repeat  0 -197px;}

#headIndex					{width:980px; margin:auto; height:63px; margin-bottom:30px;}
#headIndex .l				{width:10px; height:63px; float:left; background:url(../images/head3.gif) no-repeat 0 -63px;}
#headIndex .c				{width:950px; height:63px; float:left; background:url(../images/head3.gif) repeat-x; padding:0 5px;}
#headIndex .c .logo			{width:547px; height:63px; float:left; background:url(../images/button3.jpg) no-repeat;}
#headIndex .c .logo span	{display:none;}
#headIndex .c .about		{ padding-top:20px; text-align:right;}
#headIndex .c .about a		{ color:#FC0; text-decoration:none; margin-right:10px;}
#headIndex .c .about a:hover{ color:#FF9; text-decoration:underline;}
#headIndex .r				{width:10px; height:63px; float:left; background:url(../images/head3.gif) no-repeat -10px -63px;}

#wrapperBase		{width:980px; margin:10px auto; clear:both;}
#wrapperBase .wrapperLeft	{float:left; width:200px;}
#wrapperBase .wrapperLeft .t{width:200px; height:6px; line-height:0; font-size:0; background:url(../images/box.gif) no-repeat;}
#wrapperBase .wrapperLeft .b{width:200px; height:6px; line-height:0; font-size:0; background:url(../images/box.gif) no-repeat 0 -6px;}
#wrapperBase .wrapperLeft .c{width:180px; background:url(../images/box.gif) repeat-y -200px 0 ; padding:5px 10px;}

#wrapperBase .wrapperLeft .c h3{display:block; height:33px; width:147px; color:#114551; font-size:14px; font-weight:bold; padding-left:33px; line-height:33px;}
.wrapperLeft h3.t1	{background:url(../images/ico2.gif) no-repeat}
.wrapperLeft h3.t2	{background:url(../images/ico2.gif) no-repeat 0 -33px}
.wrapperLeft h3.t3	{background:url(../images/ico2.gif) no-repeat 0 -297px}
.wrapperLeft h3.t4	{background:url(../images/ico2.gif) no-repeat 0 -329px}
.wrapperLeft h3.t5	{background:url(../images/ico2.gif) no-repeat 0 -233px}
.wrapperLeft h3.t6	{background:url(../images/ico2.gif) no-repeat 0 -265px}
.wrapperLeft h3.t7	{background:url(../images/ico2.gif) no-repeat 0 -361px}
.wrapperLeft h3.t8	{background:url(../images/ico2.gif) no-repeat 0 -393px}
#wrapperBase .wrapperLeft .c ul{margin:5px auto}
#wrapperBase .wrapperLeft .c li{display:block; height:27px; width:180px; background:url(../images/ico2.gif) no-repeat 0 -176px ; }
#wrapperBase .wrapperLeft .c li a{color:#444; text-decoration:none;display:block; height:27px; width:147px; color:#444;font-size:12px; font-weight:100; padding-left:33px; line-height:27px;}
#wrapperBase .wrapperLeft .c li a.cursor{color:#F60;text-decoration:none; background:url(../images/ico2.gif) 0 -151px ;}
#wrapperBase .wrapperLeft .c li a:hover{color:#114551;text-decoration:none; background:url(../images/ico2.gif) 0 -151px ;}
.leftService{width:180px; padding-bottom:15px; background:url(../images/kfzx.gif) no-repeat; margin-top:20px; padding-top:40px;}
.leftService h4{ line-height:22px; color:#fff; text-indent:15px; font-weight:300;}
.leftService p{ line-height:20px; padding:0; margin:0; color:#FF0; text-indent:40px;}
#wrapperBase .wrapperRight	{float:right; width:770px;}
#wrapperBase .wrapperRight .t{width:770px; height:31px; line-height:0; font-size:0; background:url(../images/button2.gif) repeat-x  0 -112px;}
#wrapperBase .wrapperRight .b{width:770px; position:relative; height:6px; line-height:0; font-size:0; background:url(../images/box.gif) no-repeat -400px -6px;}
#wrapperBase .wrapperRight .c{width:730px; min-height:472px ;_height:472px; background:url(../images/box.gif) repeat-y -1170px 0 ; padding:20px;}
#guanggao					 {width:980px; margin:0 auto 10px auto;}

#rightTab li{float:left; width:95px;height:31px; margin-right:5px; text-align:center;}
#rightTab li a{display:block;width:95px;height:31px; background:url(../images/button2.gif) 0 -81px; line-height:35px; overflow:hidden; text-decoration:none; color: #444; font-size:12px;}
#rightTab li a:hover{background:url(../images/button2.gif) -95px -81px; color:#ffffff;}
#rightTab li .cursor{background:url(../images/button2.gif)  0px -50px ; color:#066; text-decoration:none;line-height:35px;}
#rightTab li .cursor:hover{background:url(../images/button2.gif)  0px -50px ; color:#468100; text-decoration:none;line-height:35px;}
#rightTab ul{ height:30px;}
#wrapperBase .wrapperRight #rightTab p{ float:right; font-size:12px; line-height:25px; display:inline; margin-right:10px;}
#wrapperBase .wrapperRight #rightTab p a{ color:#fff; padding:2px 7px; background:#1d90aa; border:1px solid #069; text-decoration:none; margin-left:3px;}
#wrapperBase .wrapperRight #rightTab p a:hover{ color:#fff; padding:2px 7px; background:#F90; border:1px solid #F60; text-decoration:none;}

.footer				{ color:#aaa; overflow:hidden;padding-top:5px;width:980px; margin:auto; text-align:center;}
.footer .link		{text-align:center; color: #999;}
.footer .link a		{color:#666; text-decoration: none; margin:0 10px;}
.footer .link a:hover{color:#069;}
.footer .link .copyText{font-size:11px;}	
.footer .copyright	{ line-height:20px; margin: 10px auto; color:#666; }

#menu li .disabled{font-size:14px; font-weight:bold; width:102px; height:48px; line-height:48px; color:#84ae2b; text-decoration:none; display:block; cursor:default;}

#guanggao{margin-top:10px;}

