#set($layout='layout/baseday.vm')
<script type="text/javascript" src="$!{imageServer}/scripts/baseset/baseday.js" ></script>
<script >
    var currentyear = $!year;
    var year = $!year;
    var sys_year = $!year;
	var tmpdays = "$!{dates}".split(',');
</script>
<style>
    .dp-applied {
    float: left;
    }
    .dp-popup-inline {
    height: 170px;
    }
</style>
<div style="margin-left:20px;">
        <div class="tool">
            #if($hasPrevious)
                <span>
                    <a hidefocus="true" href="#" class="bt_par" onclick="previous();return false;">上一年</a>
                </span>
            #end
            <span>
                <a hidefocus="true" href="#" class="bt_par" onclick="next();return false;">下一年</a>
            </span>
            <span>
                <a hidefocus="true"  id="total" href="#" class="bt_all">保存</a>
            </span>
            <span>
                <a hidefocus="true" href="#" class="bt_all" onclick="sel_work_day()">选取所有工作日</a>
            </span>
        </div>
		<div class="listBox" style="width:87%;"> 
		<table width="100%"> 
            <tr>
                <th>上一交易日</th> 
                <th>当前交易日</th>
                <th>下一交易日</th>
            </tr>
			<tr>
                <td >$!{dateTool.format($!{tradeDayInfo.lastTradeDay})}</td>
				<td >$!{dateTool.format($!{tradeDayInfo.currentTradeDay})}</td>
				<td >$!{dateTool.format($!{tradeDayInfo.nextTradeDay})}</td>
            </tr>
        </table>
		</div> 
        &nbsp;&nbsp;&nbsp;<font color="red">* 只能修改下一交易日之后的日期</font>
        <br/>
        <br/>
        <div class="listbox">
            <form action="$!{appServer}/baseset/baseday/edit.htm" method="post" id="editForm" name="editForm">
                <div id="multimonth" ></div>
                <input type="hidden" id="dates" name="dates" value="" />
                <input type="hidden" id="year" name="year" value="" />
            </form>
            <div class="clear"></div>
        </div>
</div>
<form action="$!{appServer}/baseset/baseday/add_work_day.htm" method="post" id="form1" name="form1">
    <input type="hidden" id="startDate" name="startDate" value="" />
</form>
