#set($layout = 'layout/default.vm')
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/jquery.artDialog.source.js?skin=aero"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/artDialog.iframeTools.js"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/user/userDialog.js"></script>
<link rel="stylesheet" href="$!{imageServer}/styles/basic.css" />
<script type="text/javascript">
function checkMoney(type){
	var content = "";
	if("In" == type) content = "入金";
	else if("Out" == type) content = "出金";
	var money = $("#fund"+type+"Money").val();
	if(!window.confirm('确定' + content + numToCny(money, type) + '？'))return false;
	if(money==null || money == "" || money <= 0) {
		$("#fund"+type+"Error").text("请输入金额");
		return false;
	} else {
		var reg = /^\d+(\.\d{1,2})?$/;   
		if(!reg.test(money)) {
			$("#fund"+type+"Error").text("精确到分的小数格式");
			return false;
		} else {
			$("#fund"+type+"Error").text("");
			return true;
		}
	}
}

function numToCny(num, type){
	var spId = "fundOutCn";
	if("In" == type) spId = "fundInCn";
	$("#" + spId).text(''); 
	if(num==null || num == "" || num <= 0) {
		return num;
	} else {
		var reg = /^\d+(\.\d{1,2})?$/;   
		if(!reg.test(num)) {
			return num;
		}
	}
	num = Math.round(num*100).toString();
	var s1 = ['零', '壹', '贰', '叁', '肆', '伍', '陆', '柒', '捌', '玖'];   
    var s4 = ['分', '角', '元', '拾', '佰', '仟', '万', '拾', '佰', '仟', '亿', '拾', '佰', '仟', '万', '拾', '佰'];
	var result = "";
	for (var i = 0; i < num.length; i++) {   
    	var n = num.charAt(num.length - 1 - i) - '0';   
    	result = s1[n] + "" + s4[i] + result;   
    }
		result = result.replace("零仟", "零");   
        result = result.replace("零佰", "零");   
        result = result.replace("零拾", "零");   
        result = result.replace("零亿", "亿");   
        result = result.replace("零万", "万");   
        result = result.replace("零元", "元");   
        result = result.replace("零角", "零");   
        result = result.replace("零分", "零");   
      
        result = result.replace("零零", "零");   
        result = result.replace("零亿", "亿");   
        result = result.replace("零零", "零");   
        result = result.replace("零万", "万");   
        result = result.replace("零零", "零");   
        result = result.replace("零元", "元"); 
        result = result.replace("零亿", "亿");   
        result = result.replace("零零", "零");
        result = result.replace("亿万", "亿");   
      
        result = result.replace("零$", "");   
        result = result.replace("元$", "元整");
		if(result.charAt(result.length - 1) == "零") {
			result = result.substr(0, result.length - 1);
		}
		
    $("#" + spId).text(result);   
	return result;
}   
</script>
<style >
	.print_head_style{font-weight:800;font-size:21px;}
	.print{font-size:14px;align:left}
</style>
<div class="main">
	<h2>用户资金账户信息</h2>

    <!-- 搜索模块 -->
    <form id="queryFundAccountMsgForm" action="$!{appServer}/fund/queryFundAccountMsg.htm"  method="post">
		<div class="searchBox">
			<h5><span>搜索资金账户信息</span></h5>
			<table>
				<tr>
            		<th>用户账号：</th>
                    <td><input type="text" class="inp" id="userAccount"  name="userAccount" value="$!{userAccount}"   size="15"/> </td>
            		<th></th>
            		<th></th>
                    <th>资金账号：</th>
                    <td><input type="text" class="inp" id="fundAccount"  name="fundAccount" value="$!{fundAccount}"   size="15"/></td>
            		<th></th>
            		<th></th>
                    <td><input type="hidden" class="inp"  name="clientId" value="$!{clientId}"  size="15"/></td>
                    <th></th>
                    <td>
                    <button type="submit" class="btn">查询</button></td>
				</tr>
			</table>
		</div>
    </form>
	<!-- 搜索模块 END -->

	<div class="clear"></div>

	<!-- 列表模块 -->
	<div class="listBox">
		<h5>
    		<span>每日结算报表</span>
    	</h5>
        <table border="0" class="c2" style="width:100%;">
			<tbody>
    			#if($!{fundAccountMsg})
                    <tr>
                        <th class="w100 tr f14">用户账号:</th><td>$!{fundAccountMsg.clientId}</td>
    				</tr>
    				<tr>
                        <th class="f14 tr">资金账号:</th><td>$!{fundAccountMsg.fundAccount}</td>
                    </tr>
    				<tr>
                        <th class="f14 tr">余          额:</th><td>$!{commonUtils.getMoneyDesc($!{fundAccountMsg.amount})}  元</td>
    				</tr>
    				<tr>
    					<th class="f14 tr">冻结金额:</th><td>$!{commonUtils.getMoneyDesc($!{fundAccountMsg.freezeTotal})}  元</td>
    				</tr>
    				<tr>
    					<th class="f14 tr">可用余额:</th><td>$!{commonUtils.getMoneyDesc($!{fundAccountMsg.useBanlance})}  元</td>
                    </tr>
    			</tr>
    			#else
    				<tr>
                		<td><p>没有找到符合条件的结果</p></td>
                    </tr>
    			#end
			<tbody>
        </table>
	</div>
	<!-- 列表模块 END -->
	#if($!{fundAccountMsg})
		<div class="formBox">
			<h3><i></i><span>出入金操作</span></h3>
			<div class="content">
			<h5><span>入金</span></h5>
			<form id="fundInForm" name="fundInForm"  action="$!{appServer}/fund/in.htm" method="POST" onSubmit="return checkMoney('In');">
				<input type="hidden" name="fundAccount" value="$!{fundAccountMsg.fundAccount}"/>
    			<table class="c5">
    				<tr>
						<th id="cashTitle">入金额：</th>
						<td>
							<input type="text" id="fundInMoney" name="fundInMoney" value="" class="inp" onchange="numToCny(this.value,'In');"/>&nbsp;元(精确到分)
							<span class="red" id="fundInError"></span>
						</td>
                    </tr>
					<tr>
                        <td></td>
						<td>
							<button type="submit" class="button-s4">确定入金</button>
							<span class="red" id="fundInCn"></span>
						</td>
					</tr>
				</table>
			</form>
			<h5><span>出金</span></h5>
			<form id="fundOutForm" name="fundOutForm"  action="$!{appServer}/fund/out.htm" method="POST" onSubmit="return checkMoney('Out');">
				<input type="hidden" name="fundAccount" value="$!{fundAccountMsg.fundAccount}"/>
				<table class="c5">
					<tr>
						<th id="cashTitle">出金额：</th>
						<td>
							<input type="text" id="fundOutMoney" name="fundOutMoney" value="" class="inp" onchange="numToCny(this.value,'Out');"/>&nbsp;元(精确到分)
							<span class="red" id="fundOutError"></span>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button type="submit" class="button-s4">确定出金</button>
							<span class="red" id="fundOutCn"></span>
						</td>
					</tr>
				</table>
			</form>
			</div>
		</div>
    #end

</div>