#set($layout = 'layout/default.vm')
<div class="main">
	<h2>大屏展示管理</h2>
	<form id="screenFrom" action="$!{appServer}/substation/list.htm"  method="post">
    </form>
	<div class="tool">
        <span><a href="$!{appServer}/screen/add.htm" hidefocus="true" class="bt_add">添加大屏</a></span>
    </div>
	<div class="clear"></div>
	<div class="listBox">
		<h5><span>大屏列表</span></h5>
		<table width="100%">
			<tr>
				<th>名称</th>
				<th>URL地址</th>
				<th>分中心</th>
				<th>操作</th>
            </tr>
			#if($page && $page.getData().size() > 0)
				#foreach($!list in $!page.getData())
					<tr>
                        <td>$!{list.name}</td>
						<td>
							<a href="$!{appServer}/screen/view.htm?id=$!{list.id}" target="_blank">$!{appServer}/screen/view.htm?id=$!{list.id}</a>
						</td>
						<td>$!{substationMap.get($!{list.substationId})}</td>
						<td>
							<a href="$!{appServer}/screen/edit.htm?id=$!{list.id}">编辑</a>
							<a href="#" onclick="javascript:if(confirm('确定删除此项大屏展示？')){window.location.href='$!{appServer}/screen/del.htm?id=$!{list.id}';}">删除</a>
						</td>
                    </tr>
				#end
			#end
        </table>
		<div class="pages-box" >
			<div class="pages">
				#pager($page,"screenFrom")
            </div> 
        </div>
    </div>
</div>