#set($title = '个人中心')
<script src="$!{imageServer}/scripts/user/index_cookie.js" type="text/javascript"></script>
<div class="welcome">
	<ul>
    	<li>您好，<strong>$!{userAgent.name}</strong>！欢迎您使用中部林业产权交易服务系统！</li>
        <li>
			上次登录：<span>$!{userAgent.lastLoginTime}</span>
			&nbsp;&nbsp;&nbsp;&nbsp;登录IP：<span>$!{userAgent.lastLoginIP}</span>
		</li>

		## 待办事宜
		#if($!{msgNumber}>0)
			<li>
				未读站内信：
    			<span>
    				<a style="text-decoration:none;color:red" href="$!{appServer}/user/message/list.htm?_m_=1007&status=$!{msgStatus}" title="现在去查看"><strong>($!{msgNumber})</strong></a>
    			</span>
				&nbsp;&nbsp;
			</li>
		#end
		#if($!{sellProNumber}+$!{buyProNumber}>0)
		<li>待提交的挂牌项目：
			<span>
				#if($!{sellProNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/project/seller/list.htm?_m_=2003&status=$!{proStatus}&listingType=$!{sellType}" title="现在去处理">卖牌<strong>($!{sellProNumber})</strong></a>
				&nbsp;
				#end
				#if($!{buyProNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/project/buyer/list.htm?_m_=2004&status=$!{proStatus}&listingType=$!{buyType}" title="现在去处理">买牌<strong>($!{buyProNumber})</strong></a>
				#end
			</span>
		</li>
		#end
		#if($!{sellTwoNumber}+$!{buyTwoNumber}>0)
		<li>待提交的意向单：
			<span>
				#if($!{sellTwoNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/tradeWishOrder/sell.htm?_m_=9001&status=$!{twoStatus}&tradeDictor=$!{sellType}" title="现在去处理">销售意向<strong>($!{sellTwoNumber})</strong></a>
				&nbsp;
				#end
				#if($!{buyTwoNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/tradeWishOrder/buy.htm?_m_=9002&status=$!{twoStatus}&tradeDictor=$!{buyType}" title="现在去处理">采购意向<strong>($!{buyTwoNumber})</strong></a>
				#end
			</span>
		</li>
		#end
		#if($!{sellAuctionNumber}+$!{buyAuctionNumber}>0)
		<li>待参加拍卖：
			<span>
				#if($!{sellAuctionNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/tradeWishOrder/sell.htm?_m_=9001&status=$!{tradeStatus}&tradeDictor=$!{sellType}" title="现在去处理">销售意向<strong>($!{sellAuctionNumber})</strong></a>
				&nbsp;
				#end
				#if($!{buyAuctionNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/tradeWishOrder/buy.htm?_m_=9002&status=$!{tradeStatus}&tradeDictor=$!{buyType}" title="现在去处理">采购意向<strong>($!{buyAuctionNumber})</strong></a>
				#end
			</span>
		</li>
		#end
		#*
		#if($!{sellTocNumber}+$!{buyTocNumber}>0)
		<li>收到的投诉：
			<span>
				#if($!{sellTocNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/complain/sell/complain.htm?_m_=10001&status=$!{tocStatus}&complainedType=$!{sellType}" title="现在去处理">销售投诉<strong>($!{sellTocNumber})</strong></a>
				&nbsp;
				#end
				#if($!{buyTocNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/complain/buy/complain.htm?_m_=10004&status=$!{tocStatus}&complainedType=$!{buyType}" title="现在去处理">采购投诉<strong>($!{buyTocNumber})</strong></a>
				#end
			</span>
		</li>
		#end
		*#
		#if($!{sellConfirmNumber}+$!{sellSendgoodsNumber}+$!{sellerRankNumber}>0)
		<li>销售订单：
			<span>
				#if($!{sellConfirmNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/order/sell/list.htm?_m_=6001&status=$!{confirmStatus}" title="现在去处理">待确认<strong>($!{sellConfirmNumber})</strong></a>
				#end
				#if($!{sellSendgoodsNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/order/sell/list.htm?_m_=6001&status=$!{sellSendgoodsStatus}" title="现在去处理">待交割<strong>($!{sellSendgoodsNumber})</strong></a>
				#end
				#*
				#if($!{sellerRankNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/order/sell/list.htm?_m_=6001&status=$!{sellerRankStatus}" title="现在去处理">待评价<strong>($!{sellerRankNumber})</strong></a>
				#end
				*#
			</span>
		</li>
		#end
		#if($!{buyConfirmNumber}+$!{payNumber}+$!{checkGoodNumber}+$!{checkTicketNumber}+$!{buyerRankNumber}>0)
		<li>采购订单：
			<span>
				#if($!{buyConfirmNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/order/buy/list.htm?_m_=5001&status=$!{confirmStatus}" title="现在去处理">待确认<strong>($!{buyConfirmNumber})</strong></a>
				&nbsp;
				#end
				#if($!{payNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/order/buy/list.htm?_m_=5001&status=$!{payStatus}" title="现在去处理">待付款<strong>($!{payNumber})</strong></a>
				&nbsp;
				#end
				#if($!{checkGoodNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/order/buy/list.htm?_m_=5001&status=$!{checkGoodStatus}" title="现在去处理">待确认交割<strong>($!{checkGoodNumber})</strong></a>
				&nbsp;
				#end
				#if($!{checkTicketNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/order/buy/list.htm?_m_=5001&status=$!{checkTicketStatus}" title="现在去处理">待验票<strong>($!{checkTicketNumber})</strong></a>
				#end
				#*
				#if($!{buyerRankNumber}>0)
				<a style="text-decoration:none;color:red" href="$!{appServer}/order/buy/list.htm?_m_=5001&status=$!{buyerRankStatus}" title="现在去处理">待评价<strong>($!{buyerRankNumber})</strong></a>
				#end
				*#
			</span>
		</li>
		#end
		
		##评审员待评审项目
		#*
		#if($!{waitreviewproNumber}>0)
		<li>待评审报价：
			##挂牌人作为评审员待评审项目列表
			#if($!userAgent.haveFunction("BIZ_R_PROJECT_REVIEWER_LIST_WAITU"))
				<a style="text-decoration:none;color:red" href="$!{appServer}/auction/reviewer/waituserprolist.htm" title="现在去处理"><strong>($!{waitreviewproNumber})</strong></a>
			#end
			##评审员待评审项目列表
			#if($!userAgent.haveFunction("BIZ_R_PROJECT_REVIEWER_LIST_WAIT"))
				<a style="text-decoration:none;color:red" href="$!{appServer}/auction/reviewer/waitreviewprolist.htm" title="现在去处理"><strong>($!{waitreviewproNumber})</strong></a>
			#end
		</li>
		#end
		*#
		
		##拍卖师待主持项目
		#if($!{waitprojectNumber}>0)
		<li>待主持拍卖：
			<span>
				<a style="text-decoration:none;color:red" href="$!{appServer}/auction/auctioneer/waitprojectlist.htm" title="现在去处理"><strong>($!{waitprojectNumber})</strong></a>
			</span>
		</li>
		#end
		
		#if($!{supNumber}>0)
			<li>
				待发布的供求信息：
    			<span>
    				<a style="text-decoration:none;color:red" href="$!{appServer}/supplydemand/list.htm?_m_=20001&status=$!{supStatus}" title="现在去处理"><strong>($!{supNumber})</strong></a>
    			</span>
			</li>
		#end

    </ul>
</div>