#set($layout = 'layout/default.vm')
<div class="r-waring">
    	<h3>#if($!{message})$!{message}#else 操作警告！#end</h3>
        <button class="button-s12" type="button" onclick="javascript:#if($!{url})window.location.href='$!{appServer}$!{url}.htm'#else history.go(-1)#end">
			#if($!{buttonName})
				$!{buttonName}
			#else
				返回
			#end
		</button>
       	##<p>相关操作：<a href="#">管理员首页</a> <a href="#">新增用户</a> <a href="#">用户列表</a></p> 
</div>
