#set($title = '挂牌项目')
<div>
	##项目搜索区
	<h3>网络报价项目搜索</h3>
	 <form action="$!{appServer}/pagerTest.htm" id="searchForm" method="post" >
		<div>
			<table>
                	<tr>
                		<th>项目名称:</th>
                    	<td><input type="text" class="inp" style="width:121px;" name="" value="" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" class="but" value="搜索项目" /></td>
                    </tr>
                </table>
            </div>
      </form>
	  ##项目数据展示
	  <table>
		<tr>
			<th style="width:120px;">项目编号</th>
            <th style="width:70px;">项目名称</th>
			<th style="width:75px;">项目类型</th>
            <th style="width:120px;">挂牌截止时间</th>
			<th style="width:75px;">交易方式</th>
			
        </tr>
				#foreach($item in $!{query.data})
					
                <tr  #if($velocityCount%2==0) class="bg" #end style="height:60px;">
					<td style="text-align:center;">
						$!{item.code}
					</td>
					
                	<td style="text-align:left;">
						
						<a style="color:#0066CC" href="#" title="#">
							#if($!item.title.toString().length()>15)
							        $!{item.title}.toString().substring(0,15)
							#else
								    $!{item.title}
							#end
						</a>
					</td>
					<td style="text-align:center;">
						$!{item.projectTypeCode}
					</td>
					<td style="text-align:center;">
						$!{item.listingEndTime}
					</td>
					<td style="text-align:center;">
						$!{item.tradingType}
					</td>
					
                   
                </tr>
                #end
	  </table>
	   #pager($query,"searchForm")
	  <div></div>
	  ##分页宏
	
</div>