##资金账户 开户
<script type="text/javascript">
     function bankin(){
		window.location = "$!{appServer}/fund/bank_fund_in.htm";
	}

	function bankout(){
		window.location = "$!{appServer}/fund/bank_fund_out.htm";
	}
	
	function currentTradeDay(){
		window.location = "$appServer.get('/fund/current_trade_day.htm')";
	}

</script>
<div class="main-right" >
	<div class="basic">
		<ul class="form-tab">
			<li class="c">
                <span><a href="#">首页</a></span>
            </li>
            <li class="c">
                <span><a href="#" onclick="bankout()">银行转交易所</a></span>
            </li>
			<li class="c">
                <span><a href="#" onclick="bankin()">交易所转银行</a></span>
            </li>
			<li class="c">
                <span><a href="#" onclick="currentTradeDay()">当前交易日</a></span>
            </li>
		</ul>
		<div class="formbox">
			<div class="clear"></div>
			<form action="$!{appServer}/fund/bank_fund_intrans.htm" method="post">
			<div class="nr">
				<div class="nr-t"></div>
				<div class="nr-c">
					<table class="c2">##输出字段(始)
					    <tr>
							<th></th>
							<td>
							</td>
						</tr>

						<tr>
							<th>上一交易日:</th>
							<td>
								${lastTradeDay}
							</td>
						</tr>
						<tr>
							<th>当前交易日:</th>
							<td>
								${currentTradeDay}
							</td>
						</tr>
						<tr>
							<th>下一交易日:</th>
							<td>
								${nextTradeDay}
							</td>
						</tr>
						##输出字段(终)
					</table>
				</div>
				<div class="nr-b"></div>
			</div>
            </form>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
    </div>
	<ul class="form-tab">
			<li class="c">
                <span><a href="$appServer.get('/fund/change_current_trade_day.htm')">切换交易日(当日)</a></span>
            </li>
            <li class="c">
                <span><a href="$appServer.get('/fund/init_current_trade_day.htm')">初始化交易日</a></span>
            </li>
	 </ul>

</div>