#set($layout = 'layout/default.vm')
<script src="$!{appServer}/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="$!{appServer}/scripts/baseset/comscpecial.js" type="text/javascript"></script>
<div class="main">
	#if($isSuccess)
		<div class="mag-t2"> 修改成功！ </div>
	#end
<form action="$!{appServer}/baseset/sysscpecial/comspecial.htm" id="smlsAdd" name="smlsAdd" method="post" >
#springBind("sscSpecial.id")
<input type="hidden" id="$!status.expression" name="$!status.expression" value="$!{status.value}" />
#springBind("sscSpecial.isSystem")
<input type="hidden" id="$!status.expression" name="$!status.expression" value="$!{status.value}" />
  <h2>服务费配置</h2>##通用服务费配置
  <div class="formBox">
    <div id="div-1">
    <div class="content">
      <table class="c2" style="width:600px;">
        <tr>
          <th style="width:100px;"><span class="red">*</span>挂牌未成交：</th>
          <td >
			#springBind("sscSpecial.listUnturnover")
			<input type="text" class="inp" id="$!status.expression" name="$!status.expression" value="$!{status.value}" style="width:250px;"/> %
			<span class="red">#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
        </tr>
        <tr>
          <th ><span class="red">*</span>挂牌已成交：</th>
          <td>
			#springBind("sscSpecial.listTurnover")
			<input type="text" class="inp" id="$!status.expression" name="$!status.expression" value="$!{status.value}" style="width:250px;"/> %
			<span class="red">#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
        </tr>
        <tr>
          <th ><span class="red">*</span>下单未成交：</th>
          <td>
			#springBind("sscSpecial.orderUnturnover")
			<input type="text" class="inp" id="$!status.expression" name="$!status.expression" value="$!{status.value}" style="width:250px;"/> %
			<span class="red">#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
        </tr>
        <tr>
          <th ><span class="red">*</span>下单已成交：</th>
          <td>
			#springBind("sscSpecial.orderTurnover")
			<input type="text" class="inp" id="$!status.expression" name="$!status.expression" value="$!{status.value}" style="width:250px;"/> %
			<span class="red">#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
        </tr>
		#*
		<tr>
          <td colspan=2><span>
			注意：比例值设置 * 10000即是实际的服务费比例值，值介于0~2000之间，1%设置为100，20%设置成2000
		  </span></td>
        </tr>*#
      </table>
    </div>
    </div>
    </div>
    <div class="form-but">
      <!-- 表单按钮区 -->
      <button type="submit" class="button-s4">确定</button>
    </div>
</form>
</div>
