#set($layout = 'layout/default.vm')
<link href="${imageServer}/scripts/zTree/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/jquery.artDialog.js?skin=aero"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/artDialog.iframeTools.js"></script>
<script type="text/javascript" src="${imageServer}/scripts/zTree/jquery.ztree-2.6.min.js"></script>
<script type="text/javascript" src="${imageServer}/scripts/project/prjTypeMeta.js"></script>
<script language="javascript" type="text/javascript" src="$!{imageServer}/scripts/My97DatePicker/WdatePicker.js"></script>
<script language="javascript">
function chooseProjectType(data){
	jQuery("#sel_projectTypeCode").val(data.code);
	jQuery("#sel_projectTypeName").val(data.name);
}

//新增按钮
function doAdd(){
	window.location.href = "$!{appServer}/baseset/sysscpecial/add.htm?dd="+new Date();
}
function modifyEnable(id,enable,tt){
	if(confirm('确定修改'+tt+'吗？')){
    	jQuery.ajax({
            type: "POST",
            url: "$appServer.get('/baseset/sysscpecial/ajaxenable.htm')",
            data: "id=" + id + "&enable=" + enable + "&dd="+new Date(),
            success: function(msg){
    			if(msg=="success"){
               		alert("修改配置成功！");
    				jQuery("#sysscpecialList").submit();
    			}else if(msg=="error_nofoundId"){
    				alert("传递参数有问题！");
    			}else if(msg=="error_other"){
    				alert("其它错误，请联系管理员！");
    			}
            }
        });
	}
}
</script>
<div class="main">
<h2>特殊服务费设置</h2>
<!-- 搜索模块 -->
<form id="sysscpecialList" action="$!{appServer}/baseset/sysscpecial/list.htm"  method="post">
  <div class="searchBox">
    <h5><span>搜索</span></h5>
    <table>
      <tr>
		<th>&nbsp;&nbsp;交易方式：</th>
        <td>
			#springBind("query.tradingType")
			<select class="select" name="${status.expression}" value="$!{status.value}" style="width:95px;">
    			<option value="">请选择</option>
    			#foreach($item in $transTypeList)
    				<option value="$!{item.value}" #if($!{status.value} == $!{item.value}) selected #end>$!{item.name}</option>	
    			#end
			</select>
		</td>
		<th>&nbsp;&nbsp;项目类型：</th>
        <td>
			#springBind("query.sleProTypeName")
			<input type="text" id="sel_projectTypeName" readonly name="$!{status.expression}" value="$!{status.value}" style="width:130px;"  class="prjTypeName" onclick="showPrjTypeSel(this,chooseProjectType); return false;"/>
			#springBind("query.proTypeCode")
			<input type="hidden" id="sel_projectTypeCode" name="$!{status.expression}"  value="$!{status.value}" />
		</td>
		#springBind("query.userAccount")
        <th>&nbsp;&nbsp;会员帐号：</th>
        <td>
			<input type="text" class="inp inp-w160" name="$!status.expression" value="$!{status.value}" maxlength="30"/>
		</td>
      </tr>
	  <tr>
		<th>&nbsp;&nbsp;成交金额(<=)：</th>
        <td>
			#springBind("query.turnoverAmount")
			<input type="text" class="inp inp-w160" name="$!status.expression" value="$!{status.value}" maxlength="30"/>元
		</td>
		
		<th>&nbsp;&nbsp;是否有拍卖师：</th>
        <td>
			#springBind("query.haveAuctioneer")
			<select class="select" name="${status.expression}" value="$!{status.value}" style="width:95px;">
    			<option value="">请选择</option>
    			#foreach($item in $haveAuctioneerEnum)
    				<option value="$!{item.value}" #if($!{status.value} == $!{item.value}) selected #end>$!{item.name}</option>	
    			#end
			</select>
		</td>
		
		<th>&nbsp;</th>
        <td><button type="submit" class="btn">搜 索</button></td>
        <td>&nbsp;</td>
	  </tr>
    </table>
  </div>
</form>
<div class="tool">
	##if($!settlerAccess.has('S_B_MEMLEVSET_ADD'))
	<span><a href="#" hidefocus="true" class="bt_add" onclick="doAdd();">新增</a></span>
	##end
</div>
<!-- 搜索模块 END -->
<div class="clear"></div>
    <!-- 列表模块 -->
    <div class="listBox"> 
      <h5><span>特殊服务费列表</span></h5> 
        <table width="100%"> 
            <tr>
                <th>交易方式<br />(权重:16)</th>
				<th>项目类型<br />(权重:8)</th>
				<th>会员帐号<br />(权重:4)</th> 
                <th>成交金额<br />(权重:2)</th> 
				<th>是否有拍卖师<br />(权重:1)</th>
                <th>挂牌未成交</th>
                <th>挂牌已成交</th>
				<th>下单未成交</th>
                <th>下单已成交</th>
				<th>状态</th>
				<th>修改时间</th>
				##<th>修改人</th>
                <th>操作栏</th>
            </tr>
			#if($query && $query.getData().size() > 0)
			#foreach($result in $query.getData())
            <tr #if($velocityCount%2==0) class="bg" #end>
				<td>$!result.tradingTypeName</td>
				<td>$!result.proTypeName</td>
              	<td>$!result.userAccount</td>
                <td>$!result.turnoverAmount</td>
				<td>$!result.haveAuctioneerCon</td>
                <td>$!{result.listUnturnover}#if($!{result.listUnturnover} > 0)%#end</td>
                <td>$!{result.listTurnover}#if($!{result.listTurnover} > 0)%#end</td>
				<td>$!{result.orderUnturnover}#if($!{result.orderUnturnover} > 0)%#end</td>
                <td>$!{result.orderTurnover}#if($!{result.orderTurnover} > 0)%#end</td>
				<td>##$!result.isDel
					$!EnumSysSerCSpecialIsDelMap.get("$!result.isDel")
				</td>
				<td>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{result.gmtModify})</td>
				##<td>$!result.operator</td>
                <td>
					<a href="$!{appServer}/baseset/sysscpecial/update.htm?id=$!result.id">修改</a>
					#if("$!result.isDel"=="0")
						<a href="javascript:void(0);" onclick="modifyEnable('$!result.id','1','禁用');">禁用</a>
					#elseif("$!result.isDel"=="1")
						<a href="javascript:void(0);" onclick="modifyEnable('$!result.id','0','启用');">启用</a>
					#end
					<a href="$!{appServer}/baseset/sysscpecial/view.htm?id=$!result.id">查看</a>
				</td>
            </tr>
			#end
			#end
        </table> 
		<div class="pages-box" >
			<div class="pages">
				#pager($query, "sysscpecialList")
            </div> 
        </div>
    </div> <!-- 列表模块 END -->   
  </div>
</div>
