##资金账户 开户
<script type="text/javascript">
     function bankin(){
		window.location = "$!{appServer}/fund/bank_fund_in.htm";
	}

	function bankout(){
		window.location = "$!{appServer}/fund/bank_fund_out.htm";
	}

</script>
<div class="main-right" >
	<div class="basic">
		<ul class="form-tab">
			<li class="c">
                <span><a href="$appServer.get('index.htm')"">首页</a></span>
            </li>
            <li class="c">
                <span><a href="#" onclick="bankout()">银行转交易所</a></span>
            </li>
			<li class="c">
                <span><a href="#" onclick="bankin()">交易所转银行</a></span>
            </li>
		</ul>
		<div class="formbox">
			<div class="clear"></div>
			<form action="$!{appServer}/fund/bank_fund_outtrans.htm" method="post">
			<div class="nr">
				<div class="nr-t"></div>
				<div class="nr-c">
					<table class="c2">##输出字段(始)
					    <tr>
							<th>资料都填完哦，后果自负哈</th>
							<td>
							</td>
						</tr>

						<tr>
							<th>资金账号:</th>#springBind("transReq.fundAccount")
							<td>
								<input type="text" class="inp" name="${status.expression}" value="$!{status.value}" maxlength="20"/>
							</td>
						</tr>
						<tr>
							<th>交易流水号:</th>#springBind("transReq.bizNo")
							<td>
								<input type="text" class="inp" name="${status.expression}" value="$!{status.value}" maxlength="32"/>
							</td>
						</tr>
						<tr>
							<th>金额:</th>#springBind("transReq.amount")
							<td>
								<input type="text" class="inp" name="${status.expression}" value="$!{status.value}"  maxlength="20"/>
							</td>
						</tr>
						##输出字段(终)
					</table>
				</div>
				<div class="nr-b"></div>
			</div>
			<div class="form-but">##操作按键区(始)
				<input type="submit" class="but" value="充值" />
				<input type="reset" class="but" value="重置" />
			</div>##操作按键区(终)
            </form>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
    </div>

</div>