#set($layout = 'layout/blank.vm')
#set($title = "采购订单详情")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>采购订单详情$!tradeOrder.orderNo</title>
        <meta http-equiv="x-ua-compatible" content="ie=7" />
        <link rel="stylesheet" href="$!{imageServer}/styles/personal/common.css" />
		<script type="text/javascript">
            function preview(oper) { 
           		if (oper < 10){ 
            		bdhtml=window.document.body.innerHTML;//获取当前页的html代码 
            		sprnstr="<!--startprint"+oper+"-->";//设置打印开始区域 
                    eprnstr="<!--endprint"+oper+"-->";//设置打印结束区域 
                    prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取html 
                    prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html 
                    window.document.body.innerHTML=prnhtml; 
                    window.print(); 
                    window.document.body.innerHTML=bdhtml; 
            	} else{ 
                	window.print(); 
                } 
            } 
        </script>
    </head>
    <body>
        <div class="main w700">
            <div>
                ##<img src="$!{imageServer}/images/personal/logo.png" width="395" height="105" class="fl"/>
            </div>
            <div class="clear"></div>
			<!--startprint1-->
            <div class="order_con mt10">
                <h6>
                    <span class="fl">
                        <strong class="mr10">订单号：</strong>
                        $!tradeOrder.orderNo
    				</span>
                    <span class="fr">
                        <strong class="mr10">日期：</strong>
                        $!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{tradeOrder.gmtCreate})
    				</span>
                </h6>
                <div class="clear"></div>
                <table width="100%">
                    <tr>
                        <th rowspan="2" class="w20">卖方</th>
                        <th class="w100">会员名称：</th>
                        <td class="w170">$!tradeOrderDetail.sellerName</td>
                        <th class="w100">会员账户：</th>
                        <td class="w170">$!tradeOrder.sellerAccount</td>
                    </tr>
                    <tr>
                        <th>联 系 人：</th>
                        <td>$!tradeOrderDetail.sellerLinkMan</td>
                        <th>联系电话：</th>
                        <td>$!tradeOrderDetail.sellerPhone</td>
                    </tr>
                    <tr>
                        <th rowspan="2" class="w20">买方</th>
                        <th>会员名称：</th>
                        <td>$!tradeOrderDetail.buyerName</td>
                        <th>会员账户：</th>
                        <td>$!tradeOrder.buyerAccount</td>
                    </tr>
                    <tr>
                        <th>联 系 人：</th>
                        <td>$!tradeOrderDetail.buyerLinkMan</td>
                        <th>联系电话：</th>
                        <td>$!tradeOrderDetail.buyerPhone</td>
                    </tr>
                    <tr>
                        <th rowspan="12" class="w20">
                            <p>订单详情</p>
                        </th>
                        <th>项目名称：</th>
                        <td>
							<a style="color:#0066CC" target="_blank" href="$!{appServer}/home/detail.htm?projectCode=$!{tradeOrder.projectCode}">$!tradeOrder.projectName</a>
                        </td>
                        <th>单价：</th>
                        <td>
                            $!commonUtils.getValuationUnitDesc($!tradeOrder.bidPrice,$!tradeOrder.getValuationUnit())
                        </td>
                    </tr>
                    <tr>
                        <th>下单数量：</th>
                        <td>
                            $!tradeOrder.quantity
                        </td>
                        <th>数量单位：</th>
                        <td>
                            $!tradeOrder.measureUnitDesc
                        </td>
                    </tr>
                    <tr>
                        <th>总价：</th>
                        <td>
                            $!commonUtils.getValuationUnitDesc($!tradeOrder.orderAmount,$!tradeOrder.getValuationUnit())
                        </td>
                        <th>需要发票：</th>
                        <td>
                            #if("$!tradeOrder.hasInvoice"=="Y")是#else否#end
                        </td>
                    </tr>
                    <tr>
                        <th>支付方式：</th>
                        <td colspan=3>
                            $!enumPaymentTypeMap.get($!tradeOrder.paymentType)
                        </td>
                    </tr>
                    <tr>
                        <th>订单状态：</th>
                        <td>
                            $!tradeOrder.statusDesc
                        </td>
                        <th>下单日期：</th>
                        <td>
                            $!dateTool.format("yyyy-MM-dd",$!{tradeOrder.gmtCreate})
                        </td>
                    </tr>
                    <tr>
                        <th>期望交收时间：</th>
                        <td>
                            $!dateTool.format("yyyy-MM-dd",$!{tradeOrder.expectTime})
                        </td>
                        <th>交易方式：</th>
                        <td>
                            $!tradingTypeMap.get($!tradeOrder.tradingType)
                        </td>
                    </tr>
                    <tr>
                        <th>订单确认时限：</th>
                        <td>
                            $!dateTool.format("yyyy-MM-dd",$!{tradeOrder.endDateConfirm})
                        </td>
                        <th>订单付款时限：</th>
                        <td>
                            $!dateTool.format("yyyy-MM-dd",$!{tradeOrder.endDatePay})
                        </td>
                    </tr>
                    <tr>
                        <th>订单交割时限：</th>
                        <td>
                            $!dateTool.format("yyyy-MM-dd",$!{tradeOrder.endDateSendGoods})
                        </td>
                        <th>订单确认交割时限：</th>
                        <td>
                            $!dateTool.format("yyyy-MM-dd",$!{tradeOrder.endDateGoods})
                        </td>
                    </tr>
                    <tr>
                        <th>订单验票时限：</th>
                        <td>
                            $!dateTool.format("yyyy-MM-dd",$!{tradeOrder.endDateBill})
                        </td>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th>交割备注：</th>
                        <td colspan="3">$!tradeOrderDetail.remark</td>
                    </tr>
                    #if("$!tradeOrder.deliveryType"=="buyerSelf")
                        <tr>
							#*
                            <th>交收方式：</th>
                            <td>$!enumDeliveryTypeMap.get($!tradeOrder.deliveryType)</td>
							<th>&nbsp;</th>
							<td>&nbsp;</td>
                            <th>交货仓库：</th>
                            <td>$!tradeOrderDetail.storehouse</td>
							*#
    					</tr>
    					<tr>	
                            <th>地址：</th>
                            <td colspan="3">
                                $!areaTool.getAreaFullName($!tradeOrderDetail.sellerArea)
                                $!tradeOrderDetail.sellerAddress
                                #if($tradeOrderDetail.sellerZipCode)邮编：$!tradeOrderDetail.sellerZipCode#end
                            </td>
                        </tr>
                    #end
                    #if("$!tradeOrder.deliveryType"=="sellerSend")
                        #*
						<tr>
    						<th>交收方式：</th>
                            <td colspan="3">$!enumDeliveryTypeMap.get($!tradeOrder.deliveryType)</td>
                        </tr>
						*#
    					<tr>
                            <th>交割地址：</th>
                            <td colspan=3>
                                $!areaTool.getAreaFullName($!tradeOrderDetail.buyerArea)
                                $!tradeOrderDetail.buyerAddress
                                #if($tradeOrderDetail.buyerZipCode)邮编：$!tradeOrderDetail.buyerZipCode#end
                            </td>
                        </tr>
                    #end
                    <tr>
                        <th rowspan="2" class="w20">卖家缴费情况</th>
                        <th>交易服务费：</th>
                        <td>
                            #if($sellMoney.tradeServiceCharge && $sellMoney.tradeServiceCharge!=0)
                                $!commonUtils.getValuationUnitDesc($!sellMoney.tradeServiceCharge,$!tradeOrder.getValuationUnit())
                            #end
                        </td>
                        <th>交易保证金：</th>
                        <td>
                            #if($sellMoney.tradeDeposit && $sellMoney.tradeDeposit!=0)
                                $!commonUtils.getValuationUnitDesc($!sellMoney.tradeDeposit,$!tradeOrder.getValuationUnit())
                            #end
                        </td>
                    </tr>
                    <tr>
                        <th>交收保证金：</th>
                        <td>
                            #if($sellMoney.deliveryDeposit && $sellMoney.deliveryDeposit!=0)
                                $!commonUtils.getValuationUnitDesc($!sellMoney.deliveryDeposit,$!tradeOrder.getValuationUnit())
                            #end
                        </td>
						<th>&nbsp;</th>
                        <td>&nbsp;</td>
						#*
                        <th>违约金：</th>
                        <td>
                            #if($sellMoney.penaltyAmount && $sellMoney.penaltyAmount!=0)
                                $!commonUtils.getPenaltyAmountDesc($!sellMoney.penaltyAmount,$!tradeOrder.getValuationUnit())
                            #end
                        </td>
						*#
                    </tr>
                    <tr>
                        <th rowspan="3" class="w20">买家缴费情况</th>
                        <th>交易服务费：</th>
                        <td>
                            #if($buyMoney.tradeServiceCharge && $buyMoney.tradeServiceCharge!=0)
                                $!commonUtils.getValuationUnitDesc($!buyMoney.tradeServiceCharge,$!tradeOrder.getValuationUnit())
                            #end
                        </td>
                        <th>交易保证金：</th>
                        <td>
                            #if($buyMoney.tradeDeposit && $buyMoney.tradeDeposit!=0)
                                $!commonUtils.getValuationUnitDesc($!buyMoney.tradeDeposit,$!tradeOrder.getValuationUnit())
                            #end
                        </td>
                    </tr>
                    <tr >
                        <th>交收保证金：</th>
                        <td>
                            #if($buyMoney.deliveryDeposit &&  $buyMoney.deliveryDeposit!=0)
                                $!commonUtils.getValuationUnitDesc($!buyMoney.deliveryDeposit,$!tradeOrder.getValuationUnit())
                            #end
                        </td>
						<th>&nbsp;</th>
                        <td>&nbsp;</td>
						#*
                        <th>违约金：</th>
                        <td>
                            #if($buyMoney.penaltyAmount && $buyMoney.penaltyAmount!=0)
                                $!commonUtils.getPenaltyAmountDesc($!buyMoney.penaltyAmount,$!tradeOrder.getValuationUnit())
                            #end
                        </td>
						*#
                    </tr>
                    <tr>
                        <th>总款项：</th>
                        <td colspan=3>
							#set($goodsAmountss = $!buyMoney.goodsAmount.longValue()+$!sellMoney.goodsAmount.longValue())
							#if($goodsAmountss!=0)
							$!commonUtils.getValuationUnitDesc($!goodsAmountss,$!tradeOrder.getValuationUnit())
							#end
                        </td>
                    </tr>
                    #if($!{tradeOrder.complainAble} == "yes")
                        <tr>
                            <th>&nbsp;</th>
                            <td colspan=4>
                                <span>当前订单状态是：</span>$!{tradeOrder.statusDesc}
								#*
                                <span>你可以</span>
                                <a href="$!{appServer}/complain/buy/add.htm?orderNo=$!{tradeOrder.orderNo}" style="color:#0066CC" target="_blank">发起投诉</a>
                                <span>，但请不要重复相同的投诉</span>
								*#
                            </td>
                        </tr>
                    #end
                </table>
            </div>
			<!--endprint1-->
            <div class="qianm mt20">
                <p class="tc">
					<button type="button" onclick="javascript:preview(1);" class="button-2">打 印</button>
                    <button type="button" onclick="window.close();" class="button-2">关闭</button>
                </p>
            </div>
        </div>
    </body>
</html>