@charset "utf-8";
/* CSS Reset */

/*\*/ * html ul {
	position: relative;
}/**/
html { /* for "Unnecessary Horizontal Scrollbar in IE Popups or Frames XHTML Bug" */
	overflow-y: scroll;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, img, button{margin:0; padding:0; font-size:12px;}
body{background:#FFF;}
table{border-collapse:collapse; border-spacing:0;}
fieldset, img{border:0;vertical-align:middle;}
address, caption, cite, code, dfn, em, strong, th, var,{ font-style:normal; font-weight:normal;}
ol, ul{ list-style:none;}
caption, th{ text-align:left;}
h1, h2, h3, h4, h5, h6{font-weight:bold;}
h1{font-size:28px;}
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
addr, acronym{ border:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
sup{vertical-align:baseline;} 
sub{vertical-align:baseline;}
legend{*margin-left:-6px;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;} 
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0;}
select option {padding-right:3px;}
cite, blackquote, em, i {font-style: italic;}
strong, b {font-weight: bold;}
pre, code {font-family: monospace;}
acronym, abbr {cursor: help;}
a{font-family:arial,sans-serif;cursor:pointer;text-decoration:none;color:#666;blr:expression(this.onFocus=this.blur())} 
a:hover{color:#FF0000;text-decoration:none;} 
a:focus{outline:1px dotted;}
.hr10{ height:10px; font-size:0; overflow:hidden; clear:both;}

body.menu {
	font: 12px Arial，"Segoe UI", Tahoma, Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	width:expression(document.body.clientWidth < 950? "950px": "auto" );
	min-width:950px;}
a, #styleShift input{
	blr:expression(this.onFocus=this.close());
	blr:expression(this.onFocus=this.blur());
}
a:focus, input:focus{ -moz-outline-style: none; }

/* -----------------End--------------- */

.main{ margin:0 auto}
/*订单详情页*/
.order_con h6{ font-weight:300; line-height:30px;}
.order_con table{ border:2px solid #333}
.order_con table th, .order_con table td{ font-weight:300; text-align:center; padding:5px 3px;border:1px solid #333;}
.order_con table td{ text-align:left;}
.order_con table td.bg{ background:url(../../images/personal/tt_bg.png) repeat-x; height:29px; line-height:29px; padding:0 5px;}
.order_con table.tb1{ border-width:1px;}
.order_con table.tb1 th, .order_con table.tb1 td{ border:none;}
.order_con table.tb1 th{ text-align:right;}

/*按钮*/
.button-1, .button-2, .button-3, .button-4, .button-5, .button-6, .button-7, .button-8, .button-9{ background-image:url(../../images/personal/btn.png); background-repeat:no-repeat; text-align:center; display:inline-block; border:0; cursor:pointer;}
.button-1{ background-position: 0 -29px; height:35px; width:102px;}
.button-2{ background-position: 0 -64px; height:30px; width:99px; color:#FFF; font-size:14px; font-weight:600;}
.button-3{ background-position: 0 -94px; height:59px; width:150px;}


/*form*/
.inpt{ padding:2px; border:1px solid #aeaeae;background:url(../../images/personal/inp_bg.png) -30px 0 repeat-x;}
.select{ padding:1px; border:1px solid #e69d9d;background:url(../../images/personal/inp_bg.png) 0 0 repeat-x;}
input{ vertical-align:middle;}


/*color*/
.bg_co1{ background-color:#fff7fc;}
.bg_co_w{ background-color:#FFF;}
.co_b{ color:#000;}
.co_w{ color:#fff;}
.co1{ color:#89c736;}
.co2{ color:#1275b6;}
.co3{ color:#ed2122;}
.co4{ color:#89c736;}
.co5{ color:#0e74b6;}
.co6{ color:#89c833;}
.co7{ color:#999;}
.co8{ color:#ab4b57;}




/* Font */
.f10{font-size:10px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f28{font-size:28px;}
.fb{ font-weight:bold;}
.fn{ font-weight:normal;}
.lh150{ line-height:150%;}
.lh180{ line-height:180%;}
.lh200{ line-height:200%;}
.unl{ text-decoration:underline;}
.no-unl{ text-decoration:none;}

/* 位置 */
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto; margin-right:auto;}
.fl{ float:left;display:inline}
.fr{ float:right;display:inline}
.clear{clear:both;}
.clear-l{clear:left;}
.clear-r{clear:right;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block}
* html .clearfix{height:1%;}. Clearfix{ display:block;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.pn{position:static;}
.abs-right{}
.zoom{zoom:1;}
.hidden{visibility:hidden;}
.none{display:none;}
.block{display:block;}
.in_block{display:inline-block;}
.v_top{ vertical-align:top;}
.v_mid{ vertical-align:middle;}
.text_ind20{ text-indent:20px;}
.ov_hid{ overflow:hidden}


/* Width & Height */
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w65{width:65px;}
.w70{width:70px;}
.w80{width:80px;}
.w85{width:85px;}
.w90{width:90px;}
.w95{width:95px;}
.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w150{width:150px;}
.w190{width:190px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w950{width:950px;}
.w960{width:960px;}
.w980{width:980px;}
.w1000{width:1000px;}
.w{width:100%;}
.h{height:100%;}
.h30{height:30px;}
.h50{height:50px;}
.h70{height:70px;}
.h80{height:80px;}
.h100{height:100px;}
.h200{height:200px;}

/* 边距 */
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt-5{margin-top:-5px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml-1{ margin-left:-1px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr8{margin-right:8px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}

.p5{ padding:5px;}
.p10{padding:10px}
.p15{padding:15px}
.p30{padding:30px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pt100{padding-top:100px}
.pb5{padding-bottom:5px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}

