<script type="text/javascript" src="$!{imageServer}/scripts/baseset/basephase.js" ></script>
<div class="main">
	<h2>交易节管理</h2>
    <form id="basePhaseSearchForm" action="$!{appServer}/baseset/basephase/next.htm" method="post">
        <div class="searchBox">
			<input type="hidden"  id="whichPage" class="inp" value="next" />
            <table>
                <tr>
					<th>交易节编号：</th>
					<td>
						#springBind("query.phaseCode")
						<input type="text" id="phaseCode"  class="inp" name="${status.expression}" value="$!{status.value}">
					</td>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;交易节名称：</th>
					<td>
						#springBind("query.phaseName")
						<input type="text" id="phaseName" class="inp" name="${status.expression}" value="$!{status.value}">
					</td>
					<th>&nbsp;&nbsp;&nbsp;&nbsp;状态：</th>
                    <td>
						#springBind("query.state")
                        <select id="state" name="${status.expression}" >
							<option value="">请选择</option>
							<option value="Y" #if($!{status.value} == "Y") selected #end>启用</option>
							<option value="N" #if($!{status.value} == "N") selected #end>禁用</option>
                        </select>
					</td>
                           #springBind("query.endHourNext")
                            <input type="hidden"  id="endHourNext" class="inp" name="${status.expression}" value="$!{status.value}" />
					<th>&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="submit" class="btn" value="搜索" />
						<input type="button"  class="btn" value="重 置" onclick="reset();" />
                    </th>
				</tr>
			</table>
		</div>
	</form>
	<div class="tool">
		<span>
			<a href="$!{appServer}/baseset/basephase/add.htm" class="bt_add" hidefocus="true" >新增交易节</a>
		</span>
		<span>
			<a href="$!{appServer}/baseset/basephase/list.htm" class="bt_par" hidefocus="true">当前交易日有效的交易节</a>
		</span>
	</div>
	<div class="clear"></div>
    #* <ul class="form-tab">
    <li class="c">
    <span>
    <a href="#">当日生效</a>
    </span>
    </li>
    <li class="c">
    <span>
    <a href="$!{appServer}/basephase/next.htm" >下一日生效</a>
    </span>
    </li>
    </ul>
    *#
	<div class="listBox" >
        <h5>
            <span>下一个交易日有效交易节列表</span>
        </h5>
        <table  width="100%">
            <tr>
                <th>交易节编号</th>
                <th>交易节名称</th>
                <th>交易开始时间</th>
                <th>交易结束时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            #if($!{query.data} && !${query.data.empty})
                #foreach($item in $query.data)
                    <tr #if($!{velocityCount}%2 == 0) class="bg" #end>
                            <td>$!{item.phaseCode} </td>
                            <td>$!{item.phaseName} </td>
                            <td>$!{item.gmtStartHourStr}:$!{item.gmtStartMinuteStr}:00</td>
                            <td>$!{item.gmtEndHourStr}:$!{item.gmtEndMinuteStr}:00</td>
                            <td>$!{item.basePhaseStateDesc}</td>
                            <td>
                                #if($!{item.state} != "D")
                                    <a href="$appServer.get('/baseset/basephase/modify.htm').addQueryData('id',$!{item.id})">修改</a>
                                    <a href=JavaScript:del("$appServer.get('/baseset/basephase/delete.htm')","$!{item.uniqueMark}")>删除</a>
                                    #if($!{item.state} == "N" )
                                        <a href=JavaScript:enable("$appServer.get('/baseset/basephase/enable.htm')","$!{item.uniqueMark}")>启用</a>
                                    #elseif($!{item.state} == "Y")
                                        <a href=JavaScript:disable("$appServer.get('/baseset/basephase/disable.htm')","$!{item.uniqueMark}")>禁用</a>
									#end
								#else
									-
                                #end
                            </td>
                    </tr>
                #end
            #end
        </table>
		<div class="pages-box" >
            <div class="pages">
                #pager($query, "basePhaseSearchForm")
            </div>
		</div>
	</div>
</div>
