#set($title = '操作成功')
<link rel="stylesheet" href="$!{imageServer}/styles/result.css" type="text/css">
<div class="c-success">
    <h3>意向单填写成功!
    <span class="fb block f12 co_b mb5 mt10">您的意向单号是：${wishOrderNo} </span>
    <span class="fb block f12 co_b mb5">冻结交易保证金：$!commonUtils.getValuationUnitDesc($!{deposit},$!{valuationUnit})</span>
	<span><a style="line-height:30px;" class="button-2 block f12 mb5"  href="$!{appServer}/tradeWishOrder/registration/check.htm?wishOrderNum=${wishOrderNo}" >提交审核</a></span>
    <span class=" fn block f12 co_b">
		##提示：提交审核将冻结您的交易保证金。当通过后台审核后才算是真正的报名成功！提交审核将冻结您的交易保证金。当审核不通过或者交易结束后将会全额解冻您的保证金!
		##if($!{tradingType} == "mulitBidOrder") 审核通过后,最好在自由报价阶段报价,因为这个会决定您是否具有进入拍卖大厅的资格 #end
		 提示：报名提交审核将冻结您的交易保证金，当审核不通过或交易结束后将全额解冻您的保证金。
		 #if($!{tradingType} == "mulitBidOrder") 系统审核通过后，您可以在自由报价阶段报价，但是只有评审员审核通过后才能进入拍卖大厅参加竞拍。 #end
</span></h3>
</div>