#set($layout = 'layout/blank.vm') 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
	<link rel="stylesheet" href="$!{imageServer}/styles/home/common.css" />
	<script type="text/javascript" src="$!{imageServer}/scripts/jquery-1.4.4.min.js"></script>
    <script src="$!{imageServer}/scripts/common.js" type="text/javascript"></script>
	<script src="$!{imageServer}/scripts/home/cms.js" type="text/javascript"></script>
</head>
<script>
$(function(){
	scrollUp("financing");
})
</script>
<style>
			.tabbox th {
                background: url("$!{imageServer}/images/cms/vbg.gif") 0 -460px repeat-x;
                height: 33px;
                border-bottom: solid 1px #EFC5C5;
                text-align: left;
                padding-left: 10px;
				border-spacing: 2px;
				border-collapse:separate;
				vertical-align:inherit;
            }
			.tabbox td {
    			height: 27px;
                padding-left: 10px;
				margin: 0;
				padding: 0;
				color: #3D3D3D;
				border-collapse: separate;
				border-spacing: 2px;
				vertical-align:inherit;
            }
</style>
<body style="background: none repeat scroll 0 0 #FFFFFF;">
##<div class="infor mt10" id="gpinfor">
      ##<div class="infor_lab">
        <ul>
		  <table width="100%" class="tabbox">
            <thead style="height:20px;">
              <th style="text-align:center;width:14%;">项目编号</th>
              <th style="text-align:center;width:22%;">项目名称</th>
              <th style="text-align:center;width:18%;">融资金额(万元)</th>
			  ##<th style="text-align:center;width:18%;">申请时间</th>
              ##<th style="text-align:center;width:18%;">放款时间</th>
              <th style="text-align:center;width:10%;">状态</th>
            </thead>
		  </table>
		<div id="financing" style="overflow:hidden;height:250px;border:#aaccee 1px soilid;width:100%">
			<div id="financing-demo1">
				<table width="100%" class="tabbox">
			<tbody>
			#if($!{financingList} && ${financingList.size()} > 0)
				#foreach($financing in $financingList)
					<tr #if($velocityCount%2==0) style="background-color:#F6F6F6;color:#E60000;" #end>
						<td style="text-align:center;width:14%;">$!{financing.code}</td>
						<td style="text-align:center;width:22%;">$!{financing.title}</td>
						<td style="text-align:center;width:18%;">#if($!{financing.applyAmount})$!commonUtils.getMoneyDesc($!{financing.applyAmount})#end</td>
						##<td style="text-align:center;width:18%;">$!{dateTool.format($!{financing.gmtApply})}</td>
						##<td style="text-align:center;width:18%;">$!{dateTool.format($!{financing.gmtLoan})}</td>
						<td style="text-align:center;width:10%;color:#E60000;">$!{financing.statusDes}</td>
                    </tr>
				#end
			#end
            </tbody>
          </table>
		  </div>
				<div id="financing-demo2"></div>
            </div>
        </ul>
      ##</div>
    ##</div>
</body>
</html>