#set($layout = 'layout/blank.vm') 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
	<link rel="stylesheet" href="$!{imageServer}/styles/home/common.css" />
	<script type="text/javascript" src="$!{imageServer}/scripts/jquery-1.4.4.min.js"></script>
    <script src="$!{imageServer}/scripts/common.js" type="text/javascript"></script>
	
	<script src="$!{imageServer}/scripts/home/cms.js" type="text/javascript"></script>
</head>
<script>
$(function(){
/*挂牌信息tab*/
var tab1 =$("#gpinfor .infor_lab ul li");
tab1.click(function(){
	$("#gpinfor .infor_lab ul li").removeClass("hover");
	$(this).addClass("hover");
	var index =  tab1.index(this); 
	$("#gpinfor .infor_con ul")   	
			.eq(index).show() 
			.siblings().hide();
	clearInterval(marquee);
	var typeIndex = index + 1;
	typeIndex = "type" + typeIndex;
	scrollUp(typeIndex);
})
	
/*成交信息tab*/
var tab2 =$("#cjinfor .infor_lab ul li");
tab2.click(function(){
	$("#cjinfor .infor_lab ul li").removeClass("hover");
	$(this).addClass("hover");
	var index =  tab2.index(this); 
	$("#cjinfor .infor_con ul")   	
			.eq(index).show() 
			.siblings().hide();
})

})
</script>
<body style="background: none repeat scroll 0 0 #FFFFFF;">
<!-- 成交信息  -->
<div class="infor mt10" id="cjinfor">
      <div class="infor_lab">
        <p class="fr mr10">
        <h5 class="co2">成交信息</h5>
        <ul>
          <li class="hover"><img src="$!{imageServer}/images/home/apple.png" />农业产品</li>
          <li><img src="$!{imageServer}/images/home/tlj.png" />农用物资</li>
          <li><img src="$!{imageServer}/images/home/shu.png" />农村产权</li>
          <li><img src="$!{imageServer}/images/home/qian.png" />农村融资</li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="infor_con">
        <ul>
          <table width="100%" class="tb1">
            <tr style="height:20px;">
              <th>项目编号</th>
              <th>项目名称</th>
              <th>材质规格</th>
              <th>成交价格</th>
              <th>数量</th>
              <th class="brn">成交日期</th>
            </tr>
			#if($!{orderListType1} && ${orderListType1.size()} > 0)
				#foreach($tradeOrder in $orderListType1)
					<tr  #if($velocityCount%2==0) style="height:20px;background-color:#F0F0F0;" #else 
                        style="height:20px;background-color:#FFFFFF;"#end>
						<td style="text-align:left;">$!{tradeOrder.projectCode}&nbsp;</td>
						<td style="text-align:left;">
							<a href="$!{appServer}/home/detail.htm?projectCode=$!{tradeOrder.projectCode}" title="$!{tradeOrder.projectName}" target="_blank">$!{tradeOrder.projectName}&nbsp;</a>
						</td>
						<td style="text-align:left;">$!{tradeOrder.breedStandard}&nbsp;</td>
						<td style="text-align:left;">
							#if($!{tradeOrder.bidPrice})
								$!{tradeOrder.bidPriceDesc}/$!{tradeOrder.measureUnitDesc}
							#end
							&nbsp;
						</td>
						<td style="text-align:left;">$!{tradeOrder.quantity}$!{tradeOrder.measureUnitDesc}&nbsp;</td>
						<td style="text-align:left;">$!{dateTool.format($!{tradeOrder.gmtCreate})}&nbsp;</td>
                    </tr>
				#end
			#end
          </table>
        </ul>
        <ul style="display:none">
          <table width="100%" class="tb1">
            <tr style="height:20px;">
              <th>项目编号</th>
              <th>项目名称</th>
              <th>材质规格</th>
              <th>成交价格</th>
              <th>数量</th>
              <th class="brn">成交日期</th>
            </tr>
			#if($!{orderListType2} && ${orderListType2.size()} > 0)
				#foreach($tradeOrder in $orderListType2)
					<tr  #if($velocityCount%2==0) style="height:20px;background-color:#F0F0F0;" #else 
                        style="height:20px;background-color:#FFFFFF;"#end>
						<td style="text-align:left;">$!{tradeOrder.projectCode}&nbsp;</td>
						<td style="text-align:left;">
							<a href="$!{appServer}/home/detail.htm?projectCode=$!{tradeOrder.projectCode}" title="$!{tradeOrder.projectName}" target="_blank">$!{tradeOrder.projectName}&nbsp;</a>
						</td>
						<td style="text-align:left;">$!{tradeOrder.breedStandard}&nbsp;</td>
						<td style="text-align:left;">
							#if($!{tradeOrder.bidPrice})
								$!{tradeOrder.bidPriceDesc}/$!{tradeOrder.measureUnitDesc}
							#end
							&nbsp;
						</td>
						<td style="text-align:left;">$!{tradeOrder.quantity}$!{tradeOrder.measureUnitDesc}&nbsp;</td>
						<td style="text-align:left;">$!{dateTool.format($!{tradeOrder.gmtCreate})}&nbsp;</td>
                    </tr>
				#end
			#end
          </table>
        </ul>
        <ul style="display:none">
          <table width="100%" class="tb1">
            <tr style="height:20px;">
              <th>项目编号</th>
              <th>项目名称</th>
              <th>材质规格</th>
              <th>成交价格</th>
              <th>数量</th>
              <th class="brn">成交日期</th>
            </tr>
			#if($!{orderListType3} && ${orderListType3.size()} > 0)
				#foreach($tradeOrder in $orderListType3)
					<tr  #if($velocityCount%2==0) style="height:20px;background-color:#F0F0F0;" #else 
                        style="height:20px;background-color:#FFFFFF;"#end>
						<td style="text-align:left;">$!{tradeOrder.projectCode}&nbsp;</td>
						<td style="text-align:left;">
							<a href="$!{appServer}/home/detail.htm?projectCode=$!{tradeOrder.projectCode}" title="$!{tradeOrder.projectName}" target="_blank">$!{tradeOrder.projectName}&nbsp;</a>
						</td>
						<td style="text-align:left;">$!{tradeOrder.breedStandard}&nbsp;</td>
						<td style="text-align:left;">
							#if($!{tradeOrder.bidPrice})
								$!{tradeOrder.bidPriceDesc}/$!{tradeOrder.measureUnitDesc}
							#end
							&nbsp;
						</td>
						<td style="text-align:left;">$!{tradeOrder.quantity}$!{tradeOrder.measureUnitDesc}&nbsp;</td>
						<td style="text-align:left;">$!{dateTool.format($!{tradeOrder.gmtCreate})}&nbsp;</td>
                    </tr>
				#end
			#end
          </table>
        </ul>
        <ul style="display:none">
          <table width="100%" class="tb1">
            <tr style="height:20px;">
              <th>项目编号</th>
              <th>项目名称</th>
              <th>材质规格</th>
              <th>成交价格</th>
              <th>数量</th>
              <th class="brn">成交日期</th>
            </tr>
			#if($!{orderListType4} && ${orderListType4.size()} > 0)
				#foreach($tradeOrder in $orderListType4)
					<tr  #if($velocityCount%2==0) style="height:20px;background-color:#F0F0F0;" #else 
                        style="height:20px;background-color:#FFFFFF;"#end>
						<td style="text-align:left;">$!{tradeOrder.projectCode}&nbsp;</td>
						<td style="text-align:left;">
							<a href="$!{appServer}/home/detail.htm?projectCode=$!{tradeOrder.projectCode}" title="$!{tradeOrder.projectName}" target="_blank">$!{tradeOrder.projectName}&nbsp;</a>
						</td>
						<td style="text-align:left;">$!{tradeOrder.breedStandard}&nbsp;</td>
						<td style="text-align:left;">
							#if($!{tradeOrder.bidPrice})
								$!{tradeOrder.bidPriceDesc}/$!{tradeOrder.measureUnitDesc}
							#end
							&nbsp;
						</td>
						<td style="text-align:left;">$!{tradeOrder.quantity}$!{tradeOrder.measureUnitDesc}&nbsp;</td>
						<td style="text-align:left;">$!{dateTool.format($!{tradeOrder.gmtCreate})}&nbsp;</td>
                    </tr>
				#end
			#end
          </table>
        </ul>
      </div>
 </div>
<!-- 成交信息  -->

<!-- 挂牌信息  -->
<div class="infor mt10" id="gpinfor">
      <div class="infor_lab">
        <p class="fr mr10"><img src="$!{imageServer}/images/home/cui.png" /><span><a href="$!{appServer}/project/seller/add.htm" class="gp" target="_blank">我要挂牌</a></span><a href="$!{appServer}/home/list.htm" class="f12 fn ml20" target="_blank">更多</a></p>
        <h5 class="co1">挂牌信息</h5>
        <ul>
          <li class="hover"><img src="$!{imageServer}/images/home/apple.png" />农业产品</li>
          <li><img src="$!{imageServer}/images/home/tlj.png" />农用物资</li>
          <li><img src="$!{imageServer}/images/home/shu.png" />农村产权</li>
          <li><img src="$!{imageServer}/images/home/qian.png" />农村融资</li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="infor_con">
        <ul>
		  <table width="100%" class="tb1">
            <thead style="height:20px;">
              <th style="width:16%;">项目编号</th>
              <th style="width:18%;">项目名称</th>
              <th style="width:10%;">方向</th>
              <th style="width:10%;">数量</th>
              <th style="width:14%;">挂牌参考价</th>
              <th style="width:18%;">仓库名称</th>
              <th class="brn" style="width:14%;">交收时间</th>
            </thead>
          </table>
		<div id="type1" style="overflow:hidden;height:150px;border:#aaccee 1px soilid;width:100%">
			<div id="type1-demo1">
		  <table width="100%" class="tb1">
			<tbody>
			#if($!{proListType1} && ${proListType1.size()} > 0)
				#foreach($projectListing in $proListType1)
					<tr #if($velocityCount%2==0) style="height:20px;background-color:#F0F0F0;" 
						#else style="height:20px;background-color:#FFFFFF;" #end>
						<td style="text-align:left;width:16%;">$!{projectListing.code}&nbsp;</td>
						<td style="text-align:left;width:18%;">
							<a href="$!{appServer}/home/detail.htm?projectCode=$!{projectListing.code}" title="$!{projectListing.title}" target="_blank">$!{projectListing.title}&nbsp;</a>
						</td>
						<td style="text-align:left;width:10%;">$!{projectListing.listingTypeDesc}&nbsp;</td>
						<td style="text-align:left;width:10%;">$!{projectListing.quantity}$!{projectListing.measureUnitDesc}&nbsp;</td>
						<td style="text-align:left;width:14%;">
							#if($!{projectListing.listingPrice})
								$commonUtils.getValuationUnit($!{projectListing.listingPrice},$!{projectListing.valuationUnit})$!{projectListing.valuationUnitDesc}/$!{projectListing.measureUnitDesc}
							#end
							&nbsp;
						</td>
						<td style="text-align:left;width:18%;">$!{projectListing.storehouse}&nbsp;</td>
						<td style="text-align:left;width:14%;">$!{dateTool.format($!{projectListing.deliveryDate})}&nbsp;</td>
                    </tr>
				#end
			#end
			</tbody>
          </table>
                </div>
				<div id="type1-demo2"></div>
            </div>
			<script type="text/javascript">scrollUp("type1");</script>
        </ul>
        <ul style="display:none">
		  <table width="100%" class="tb1">
            <thead style="height:20px;">
              <th style="width:16%;">项目编号</th>
              <th style="width:18%;">项目名称</th>
              <th style="width:10%;">方向</th>
              <th style="width:10%;">数量</th>
              <th style="width:14%;">挂牌参考价</th>
              <th style="width:18%;">仓库名称</th>
              <th class="brn" style="width:14%;">交收时间</th>
            </thead>
			</table>
		<div id="type2" style="overflow:hidden;height:150px;border:#aaccee 1px soilid;width:100%">
			<div id="type2-demo1">
				<table width="100%" class="tb1">
			<tbody>
			#if($!{proListType2} && ${proListType2.size()} > 0)
				#foreach($projectListing in $proListType2)
					<tr  #if($velocityCount%2==0) style="height:20px;background-color:#F0F0F0;" #else 
                        style="height:20px;background-color:#FFFFFF;"#end>
						<td style="text-align:left;width:16%;">$!{projectListing.code}&nbsp;</td>
						<td style="text-align:left;width:18%;">
							<a href="$!{appServer}/home/detail.htm?projectCode=$!{projectListing.code}" title="$!{projectListing.title}" target="_blank">$!{projectListing.title}&nbsp;</a>
						</td>
						<td style="text-align:left;width:10%;">$!{projectListing.listingTypeDesc}&nbsp;</td>
						<td style="text-align:left;width:10%;">$!{projectListing.quantity}$!{projectListing.measureUnitDesc}&nbsp;</td>
						<td style="text-align:left;width:14%;">
							#if($!{projectListing.listingPrice})
								$commonUtils.getValuationUnit($!{projectListing.listingPrice},$!{projectListing.valuationUnit})$!{projectListing.valuationUnitDesc}/$!{projectListing.measureUnitDesc}
							#end
							&nbsp;
						</td>
						<td style="text-align:left;width:18%;">$!{projectListing.storehouse}&nbsp;</td>
						<td style="text-align:left;width:14%;">$!{dateTool.format($!{projectListing.deliveryDate})}&nbsp;</td>
                    </tr>
				#end
			#end
            </tbody>
          </table>
		  </div>
				<div id="type2-demo2"></div>
            </div>
        </ul>
        <ul style="display:none">
		  <table width="100%" class="tb1">
            <thead style="height:20px;">
              <th style="width:16%;">项目编号</th>
              <th style="width:18%;">项目名称</th>
              <th style="width:10%;">方向</th>
              <th style="width:10%;">数量</th>
              <th style="width:14%;">挂牌参考价</th>
              <th style="width:18%;">仓库名称</th>
              <th class="brn" style="width:14%;">交收时间</th>
            </thead>
			</table>
		<div id="type3" style="overflow:hidden;height:150px;border:#aaccee 1px soilid;width:100%">
			<div id="type3-demo1">
				<table width="100%" class="tb1">
			<tbody>
			#if($!{proListType3} && ${proListType3.size()} > 0)
				#foreach($projectListing in $proListType3)
					<tr  #if($velocityCount%2==0) style="height:20px;background-color:#F0F0F0;" #else 
                        style="height:20px;background-color:#FFFFFF;"#end>
						<td style="text-align:left;width:16%;">$!{projectListing.code}&nbsp;</td>
						<td style="text-align:left;width:18%;">
							<a href="$!{appServer}/home/detail.htm?projectCode=$!{projectListing.code}" title="$!{projectListing.title}" target="_blank">$!{projectListing.title}&nbsp;</a>
						</td>
						<td style="text-align:left;width:10%;">$!{projectListing.listingTypeDesc}&nbsp;</td>
						<td style="text-align:left;width:10%;">$!{projectListing.quantity}$!{projectListing.measureUnitDesc}&nbsp;</td>
						<td style="text-align:left;width:14%;">
							#if($!{projectListing.listingPrice})
								$commonUtils.getValuationUnit($!{projectListing.listingPrice},$!{projectListing.valuationUnit})$!{projectListing.valuationUnitDesc}/$!{projectListing.measureUnitDesc}
							#end
							&nbsp;
						</td>
						<td style="text-align:left;width:18%;">$!{projectListing.storehouse}&nbsp;</td>
						<td style="text-align:left;width:14%;">$!{dateTool.format($!{projectListing.deliveryDate})}&nbsp;</td>
                    </tr>
				#end
			#end
            </tbody>
          </table>
		  </div>
				<div id="type3-demo2"></div>
            </div>
        </ul>
        <ul  style="display:none">
		  <table width="100%" class="tb1">
            <thead style="height:20px;">
              <th style="width:16%;">项目编号</th>
              <th style="width:18%;">项目名称</th>
              <th style="width:10%;">方向</th>
              <th style="width:10%;">数量</th>
              <th style="width:14%;">挂牌参考价</th>
              <th style="width:18%;">仓库名称</th>
              <th class="brn" style="width:14%;">交收时间</th>
            </thead>
			</table>
		<div id="type4" style="overflow:hidden;height:150px;border:#aaccee 1px soilid;width:100%">
			<div id="type4-demo1">
				<table width="100%" class="tb1">
			<tbody>
			#if($!{proListType4} && ${proListType4.size()} > 0)
				#foreach($projectListing in $proListType4)
					<tr  #if($velocityCount%2==0) style="height:20px;background-color:#F0F0F0;" #else 
                        style="height:20px;background-color:#FFFFFF;"#end>
						<td style="text-align:left;width:16%;">$!{projectListing.code}&nbsp;</td>
						<td style="text-align:left;width:18%;">
							<a href="$!{appServer}/home/detail.htm?projectCode=$!{projectListing.code}" title="$!{projectListing.title}" target="_blank">$!{projectListing.title}&nbsp;</a>
						</td>
						<td style="text-align:left;width:10%;">$!{projectListing.listingTypeDesc}&nbsp;</td>
						<td style="text-align:left;width:10%;">$!{projectListing.quantity}$!{projectListing.measureUnitDesc}&nbsp;</td>
						<td style="text-align:left;width:14%;">
							#if($!{projectListing.listingPrice})
								$commonUtils.getValuationUnit($!{projectListing.listingPrice},$!{projectListing.valuationUnit})$!{projectListing.valuationUnitDesc}/$!{projectListing.measureUnitDesc}
							#end
							&nbsp;
						</td>
						<td style="text-align:left;width:18%;">$!{projectListing.storehouse}&nbsp;</td>
						<td style="text-align:left;width:14%;">$!{dateTool.format($!{projectListing.deliveryDate})}&nbsp;</td>
                    </tr>
				#end
			#end
            </tbody>
          </table>
		  </div>
				<div id="type4-demo2"></div>
            </div>
        </ul>
      </div>
    </div>
<!-- 挂牌信息  -->

</body>
</html>