#set($layout = 'layout/blank.vm') 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
	<style>
		li {
            display: list-item;
			list-style-type: none;
			background:url("$!{imageServer}/images/cms/ico-1.gif") 0px 10px no-repeat;
			text-indent:10px;
            text-align: -webkit-match-parent;
			font-size: 12px;
            ##font-family: "宋体",Arial, Helvetica, sans-serif;
            ##color: #3D3D3D;
			margin: 0;
			padding: 0;
        }
		li a {
			color:#333;
			line-height:24px;
			text-decoration:none;
        }
        a:hover {
            color:red;
            text-decoration:none;
        }
		a:-webkit-any-link {
            cursor:auto;
        }
	</style>

</head>
<body >
#if($!{supplyList} && ${supplyList.size()} > 0)
	#foreach($supply in $supplyList)
		<li>
			<a href="$!{appServer}/home/supplydemand/detail.htm?projectCode=$!{supply.projectCode}" target="_blank" title="$!{supply.title}">
                #if($!{supply.title.length()}>20)
					$!{supply.title.substring(0,18)}...
				#else
					$!{supply.title}	
				#end
			</a>
		</li>
	#end
#else
    <li>暂无数据</li>
#end
</body>
</html>