#set($title = '支付交易保证金')
#set($layout = 'layout/default.vm')
<script src="$!{imageServer}/scripts/user/resetPassword.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>
<div class="wrapperRight">
	<div id="rightTab" class="t">
		<ul>
			<li><a class="cursor" href="#">付款</a></li>
        </ul>
    </div>
	<div class="right-body">
		<div class="formBox">
			<form id="payTradeMoneyForm" action="$!{appServer}/tradeWishOrder/registration/pay.htm" method="POST">
    		<div class="content">
				<h4><span>资金信息</span></h4>
				<table class="c2">
					<tr>
                        <th>总资金：</th>
                        <td>$!{allMoney} 元</td>
                    </tr>
					<tr>
                        <th>可用资金：</th>
                        <td>$!{freeMoney} 元</td>
                    </tr>
					<tr>
                        <th>冻结资金：</th>
                        <td>$!{frozenMoney} 元</td>
                    </tr>
				</table>
				<h4><span>交易信息</span></h4>
				<table class="c2">
					<tr>
                        <th>交易保证金：</th>
                        <td>$!{deposit} 元</td>
                    </tr>
				</table>
            </div>
			<div class="form-but">
				<button type="button" class="button-t3">确认</button>
            </div>
			</form>
        </div>
    </div>
	<div class="b"></div>
</div>