#set($layout = 'layout/blank.vm')
<div id="pf-hd">
    <div class="pf-logo">
        ##<img height="41" #if(${systemLogo}) src="$imageServer/$!{systemLogo}" #else src="/easyuimaker/images/main/main_logo.png" #end alt="logo">
        <img src="$appServer/easyuimaker/images/main/main_logo.png" alt="logo">
    </div>
    
    <div class="pf-nav-wrap">
      <div class="pf-nav-ww">
        <ul class="pf-nav">
          #foreach($sub in $!sysList)
          	 <li class="pf-nav-item home #if($eclpUserAgent.currentSystemCode==$sub.name) current #end " url="$appServer.get('contain/crmmenu.htm').addQueryData('subSysId',$sub.id)" title="$!sub.fullName">
	              <a href="javascript:void(0);" >
	                  <span class="iconfont">&#xe63f;</span>
	                  <span class="pf-nav-title">$!sub.fullName</span>
	              </a>
            </li>
         #end
        </ul>
      </div>

      <a href="javascript:;" class="pf-nav-prev disabled iconfont">&#xe606;</a>
      <a href="javascript:;" class="pf-nav-next iconfont">&#xe607;</a>
    </div>
    
    <div class="pf-user">
        <div class="pf-user-photo">
            <img src="/easyuimaker/images/main/user.png" alt="">
        </div>
        <h4 class="pf-user-name ellipsis">$!{eclpUserAgent.name}</h4>
        <i class="iconfont xiala">&#xe607;</i>

        <div class="pf-user-panel">
            <ul class="pf-user-opt">
                <li>
                    <a href="javascript:void(0);" onclick="addTab('用户信息','$appServer.get('/users/user_info_edit.htm').addQueryData('userId',$eclpUserAgent.id)')" >
                        <i class="iconfont">&#xe60d;</i>
                        <span class="pf-opt-name">用户信息</span>
                    </a>
                </li>
                <li class="pf-modify-pwd">
                    <a href="javascript:void(0);" onclick="addTab('修改密码','$appServer.get('/users/password_edit.htm').addQueryData('id',$eclpUserAgent.id)')">
                        <i class="iconfont">&#xe634;</i>
                        <span class="pf-opt-name">修改密码</span>
                    </a>
                </li>
                <li class="pf-logout">
                    <a href="#" target="_self" ">
                        <i class="iconfont">&#xe60e;</i>
                        <span class="pf-opt-name">退出</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
