<script src="$!{imageServer}/scripts/area.js" type="text/javascript"></script>

<script type="text/javascript">
        	$(function() {
        		var area = new Area("$!{appServer}/ajax","","","",'province','city','area');
        	});
</script>

        tttttttt:==>$!{areaTool.getAreaFullName('2742')}
        <label>
            <select id="province" name="province" ></select>
			省/直辖市
        </label>
		<label>
             <select id="city" name="city" /></select>
			  市
		</label>
        <label>
            <select id="area" name="area" /></select>
			区/县
		</label>