###set($layout = 'layout/blank.vm')
#set($layout = '')
<div id="machbox" class="wrapperRight">
    <div class="right-body">	
		 <form id="searchFormMatche" name="searchFormMatche" action="$!{appServer}/project/matche.htm" method="POST">
			<input type="hidden" name="id" value="$!{query.id}">
		 </form>
		<div class="listBox">
			<div>
				<table style="width:100%;">
					<tr>
                        <th>项目编号</th>
                        <th >项目名称</th>
                        <th >项目类型</th>
                        <th >挂牌类型</th>
						<th >挂牌开始时间</th>
                        <th >挂牌截止时间</th>
                        <th >交易方式</th>
                        <th >项目状态</th>
                        <th >操作</th>
					</tr>
					#foreach($item in $!{query.data})
						<tr  #if($velocityCount%2==0) style="height:30px;background-color:#F0F0F0;" #else 
                                style="height:30px;background-color:#FFFFFF;"#end>
                                <td style="text-align:center;">
                                    $!{item.code}
                                </td>
                                <td style="text-align:center;">
                                    <a style="color:#0066CC" target="_blank" href="$!{appServer}/home/detail.htm?projectCode=$!{item.code}"  title="$!{item.title}">
                                        #if($!item.title.toString().length()>15)
                                            $!{item.title}.toString().substring(0,15)
                                            #else
                                                $!{item.title}
                                        #end
                                    </a>
                                </td>
                                <td style="text-align:center;">
                                    $!{item.projectTypeCodeDesc}
                                </td>
                                <td style="text-align:center;">
                                    $!{item.listingTypeDesc}
                                </td>
								<td style="text-align:center;">
                                    $!dateTool.format("yyyy-MM-dd",$!{item.listingStartTime})
                                </td>
                                <td style="text-align:center;">
                                    $!dateTool.format("yyyy-MM-dd",$!{item.listingEndTime})
                                </td>
                                <td style="text-align:center;">
                                    $!{item.tradingTypeDesc}
                                </td>
                                <td style="text-align:center;">
                                    $!{item.statusDesc}
                                </td>
                                <td style="text-align:center;">
                                    <a style="color:#0066CC" href="$!{clientServer}/placeOrder/trade.htm?projectCode=$!{item.code}" title="我要下单">我要下单</a>
								</td>
						</tr>
					#end
				</table>
			</div>
			<div>
				##分页宏
				#ajaxPager($!{query},"machbox","searchFormMatche", "$!{appServer}/project/match.htm")
			</div>
		</div>
	</div>
</div>

