#set($layout = 'layout/default.vm')
<script charset="utf-8" src="${imageServer}/scripts/kindEditor/kindeditor-min.js"></script>
<script charset="utf-8" src="${imageServer}/scripts/kindEditor/lang/zh_CN.js"></script>
		<script>
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea[name="content"]', {
					allowFileManager : false,
					uploadJson : '$!{appServer}/ajax/kindeditor/upload/image.htm'
					//uploadJson : '$!{appServer}/scripts/kindEditor/jsp/upload_json.jsp'
				});
			});
		</script>
	
		<textarea name="content" style="width:800px;height:400px;visibility:hidden;"></textarea>