	## ¶¯Ì¬ÊôÐÔ START  2011-7-14
	#if($!{attriList} && $!{attriList.size()} > 0)
		<tr>
		#foreach($item in $!{attriList})
			#set($index = ${velocityCount} - 1)
			<th>#if($!{metaDTO.projectTypeMeta.request} == 1)<span style="color:red;">*</span>#end $!{metaDTO.projectTypeMeta.metaTitle}:</th>
        	<td>
    			<input type="hidden" name="metaValues[$index].request" value=#if($!{metaDTO.projectTypeMeta.request})"$!{metaDTO.projectTypeMeta.request}" #else "0" #end />
    			#if($!{metaDTO.projectTypeMeta.metaInputType} == "input")
    				<input type="text" class="inp" name="metaValues[$index].metaValue" value="$!{metaDTO.projectMetaValue.metaValue}"/>
    			#elseif($!{metaDTO.projectTypeMeta.metaInputType} == "select")
    				##Î´Ìí¼Ó
    			#end
    			#if($fieldErrors.get("activity.auction.forestrySpecialDO.treeStructure"))
    				<span style="color:red;">$fieldErrors.get("activity.auction.forestrySpecialDO.treeStructure")</span>
    			#end
    		</td>
			
			
			##<th>$!{metaDTO.projectTypeMeta.metaTitle}&nbsp;</th>
			##<td>$!{metaDTO.projectMetaValue.metaValue}&nbsp;</td>
            #if($velocityCount % 2 == 0) </tr><tr> #end 
		#end
        </tr>
	#end