##审核对话框
#set($layout = 'layout/default.vm')
<link href="${imageServer}/scripts/zTree/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/jquery.artDialog.source.js?skin=aero"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/artDialog.iframeTools.js"></script>
<script type="text/javascript" src="${imageServer}/scripts/zTree/jquery.ztree-2.6.min.js"></script>
<script src="$!{imageServer}/scripts/project/projectListing.js" type="text/javascript"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/project/prjTypeMeta.js"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/user/userDialog.js"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
$(function() {
	var tradeTypeStr = $("#tradingType").val();
	onCompleteErrorShow(tradeTypeStr);
	onCompleteValueSeting(tradeTypeStr);
});
</script>
<div id="projectAudit">
<div class="main" style="width:100%;">
<input type="hidden" id="metaErrors" name="metaErrors" value="$!{metaErrors}"/>
<input type="hidden" id="metaSubmitValue" name="metaSubmitValue" value="$!{metaSubmitValue}"/>
 
  <!-- 表单模块 -->
<form id="auditForm" name="auditForm" action="$!{appServer}/project/audit.htm"  method="post">
  <div class="formBox">
    <h3><i></i><span>审核</span></h3>
    <div class="content">
      <table class="c4">
		 #springBind("projectListing.id")
		 <input type="hidden" name="${status.expression}" value="$!{status.value}"/>
		  #springBind("projectListing.tradingType")
		 <input type="hidden" id="${status.expression}" name="${status.expression}" value="$!{status.value}"/>
		 #springBind("projectListing.listingType")
		 <input type="hidden" name="${status.expression}" value="$!{status.value}"/>
		 #springBind("projectListing.listingPrice")
		 <input type="hidden" name="${status.expression}" value="$!{status.value}"/>
		 #springBind("projectListing.quantity")
		 <input type="hidden" name="${status.expression}" value="$!{status.value}"/>
		 #springBind("projectListing.valuationUnit")
		 <input type="hidden" name="${status.expression}" value="$!{status.value}"/>
		 #springBind("projectListing.measureUnit")
		 <input type="hidden" name="${status.expression}" value="$!{status.value}"/>
         <tr>
          <th style="width:20%"><span class="red">*</span>项目名称：</th>
          <td>
			#springBind("projectListing.title")
			<input type="text" class="inp inp-w160-readonly" name="${status.expression}" value="$!{status.value}" readonly/>
			#if($!{projectListing.attachedFilePath})
				&nbsp;<a style="color:#0066CC;text-decoration: underline;" href="$!{uploadServer}/$!{projectListing.attachedFilePath}" target="_blank">[附件下载]</a>
			#end
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
         </tr >
		 <tr>
		  <th style="width:20%"><span class="red">*</span>挂牌参考价：</th>
          <td>
			<input type="text" class="inp inp-w160-readonly" value="$!commonUtils.getValuationUnitDesc($!{projectListing.listingPrice},$!{projectListing.valuationUnit})/$!{projectListing.measureUnitDesc}" readonly/>
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		 </tr>
		 <tr>
		  <th style="width:20%"><span class="red">*</span>挂牌数量：</th>
          <td>
			<input type="text" class="inp inp-w160-readonly" value="$!{projectListing.quantity}$!{projectListing.measureUnitDesc}" readonly/>
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		 </tr>
		 <tr>
		  <th style="width:20%"><span class="red">*</span>挂牌时间：</th>
		  <td>
			#springBind("projectListing.listingStartTime")
			<input type="text" id="listingStartTime" name="${status.expression}" value="$!{status.value}" class="date-pick" style="width:130px;height:16px"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-01-01 00:00:00'})" readonly />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		    -
			#springBind("projectListing.listingEndTime")
			<input type="text" id="listingEndTime" name="${status.expression}" value="$!{status.value}" class="date-pick" style="width:130px;height:16px" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-01-01 00:00:00'})" readonly />
			<font color="red"><label id="listingEndTime_remind_show_message" class="error">${status.errorMessage}</label></font>
		  </td>
		 </tr>
		 
		 #if($!{projectListing.tradingType}=="bidOrder" || $!{projectListing.tradingType}=="mulitBidOrder")
			#if($!{attriList} && $!{attriList.size()} > 0)
        		<tr >
            		#foreach($item in $!{attriList})
            			#set($index = ${velocityCount} - 1)
            			<th> 
							#if($!{item.key} != "watchPassword")
								<span style="color:red;">*</span>
							#end
							$!{item.name}:</th>
                    	<td> 
                			<input type="hidden" name="tradeMetas[$index].key" value="$!{item.key}" />
            				<input type="hidden" name="tradeMetas[$index].name" value="$!{item.name}" />
                			#if($!{item.showType} == "free" ||$!{item.showType} == "TEXT" )
                				<input type="text" id="$!{item.key}" name="tradeMetas[$index].inputValue" value='$!projectDynamicUtils.getKeyInputValue($!{item.key}, $!{tradeBo.tradeMetas})' class="inp" #if($!{item.key}=="auctioneerAccount") readonly #end   />
            					#**
            					判断是否为拍卖师
            					**#
            					#if($!{item.key}=="auctioneerAccount")
            						<input type="button"  class="button-s4" onclick="chooseUsers('$!{item.key}','userAccount','Y','auctioneer');" value="选择"  />
            					#elseif($!{item.key}=="reviewerAccount")
            						<input type="button"  class="button-s4" onclick="chooseUsers('$!{item.key}','userAccount','N','reviewer');" value="选择"  />
            					#end
								<span class="error" id="$!{item.key}_remind_show_message" ></span>
                			#elseif($!{item.showType} == "select" ||$!{item.showType} == "SELECT" )
                				<select id="$!{item.key}" name="tradeMetas[$index].inputValue" style="width:130px;">
            						#foreach($selectItem in $!{item.selectValues})
            						<option value="$!{selectItem.key}" #if($projectDynamicUtils.contains($projectDynamicUtils.getKeyInputValue($!{item.key}, $!{tradeBo.tradeMetas}),$!{selectItem.key}))selected#end>  $!{selectItem.name} </option>
            						#end
                                </select>	
            					<span class="error" id="$!{item.key}_remind_show_message" ></span>
            				#elseif($!{item.showType} == "checkbox" ||$!{item.showType} == "CHECKBOX" )
            					#foreach($selectItem in $!{item.selectValues})
            						<input type="checkbox" id="$!{item.key}"  name="tradeMetas[$index].inputValue" value="$!{selectItem.key}" #if($projectDynamicUtils.contains($projectDynamicUtils.getKeyInputValue($!{item.key}, $!{tradeBo.tradeMetas}),$!{selectItem.key}))checked=true#end />$!{selectItem.name}
            					#end
            					<span class="error" id="$!{item.key}_remind_show_message" ></span>
            				#elseif($!{item.showType} == "radio" ||$!{item.showType} == "RADIO")
            					#foreach($selectItem in $!{item.selectValues}) 
            						 <input type="radio" id="$!{item.key}" name="tradeMetas[$index].inputValue" #if($projectDynamicUtils.contains($projectDynamicUtils.getKeyInputValue($!{item.key}, $!{tradeBo.tradeMetas}),$!{selectItem.key}))checked=true#end  value="$!{selectItem.key}" />$!{selectItem.name}
            					#end
            					<span class="error" id="$!{item.key}_remind_show_message" ></span>
            				#elseif($!{item.showType} == "date" ||$!{item.showType} == "DATE")
            					#foreach($selectItem in $!{item.selectValues})
            						 <input type="text" id="$!{item.key}" name="tradeMetas[$index].inputValue" value='$!projectDynamicUtils.getKeyInputValue($!{item.key}, $!{tradeBo.tradeMetas})' readonly class="dateInput inp"   onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-01-01'})"     />
            						 <span class="error" id="$!{item.key}_remind_show_message" ></span>
								#end
							
            				#else
            					<input type="text" id="$!{item.key}"  name="tradeMetas[$index].inputValue" value='$!projectDynamicUtils.getKeyInputValue($!{item.key}, $!{tradeBo.tradeMetas})'  class="inp"   />
            					<span class="error" id="$!{item.key}_remind_show_message" ></span>
							#end
                		</td>
                        #if($velocityCount % 2 == 0 && $velocityCount!=${attriList.size()} ) </tr><tr> #end 
            		#end
                    </tr>
            	#end

		 #end
		 <tr>
			#springBind("projectAuditLog.auditRes")
			<input type="hidden" id="auditResult" name="${status.expression}" value="$!{status.value}"/>
			<th style="width:20%"><span class="red">*</span>审核说明：</th>
			<td>
    			#springBind("projectAuditLog.auditMemo")
                <textarea style="width:80%;height:100px" id="auditMemo" name="${status.expression}" >$!{status.value}</textarea>
    			<font color="red"><label class="error"   id="auditMemo_remind_show_message"  >${status.errorMessage}</label></font>
            </td>
         </tr>
		 
		
		  
		 <tr>
			<th style="width:5%"></th>
			<td>
					<span style="color:red">*注意：</span>
					<span style="color:red">
						审核不通过时必须填写说明！
					## </br>审核通过项目状态即更新为挂牌中
					</span>
			</td>
         </tr>
        </tr>
      </table>
    </div>
    <div class="form-but">
      <!-- 表单按钮区 -->
	  <button type="button" class="button-s4" onclick="javascript:doAudit('Y')">通过</button>
      <button type="button" class="button-s4" onclick="javascript:doAudit('N')">不通过</button>
	  <button type="button" class="button-s4" onclick="javascript:window.location.href='$!{appServer}/project/info.htm?projectListingId=$!{projectListing.id}'">取消</button>
    </div>
    <!-- 表单按钮区 END -->
  </div>
</form>
  <!-- 表单模块 END -->
</div>
</div>