#set($layout = 'layout/default.vm')
<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/validate.css" />
<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/ui.css" />
<link rel="stylesheet" type="text/css"  href="$!{imageServer}/styles/fileuploader.css"/>
 <script language="javascript" type="text/javascript" src="$!{imageServer}/scripts/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/jquery.bgiframe.pack.js" ></script>
<script type="text/javascript" src="$!{imageServer}/scripts/jquery.ui.js"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/jquery.artDialog.source.js?skin=aero"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/artDialog.iframeTools.js"></script>
##<script type="text/javascript" src="$!{imageServer}/scripts/fileuploader.js" ></script>
<script type="text/javascript" src="$!{imageServer}/scripts/project/prjTypeMeta.js"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/user/getAddress.js" ></script>
<script type="text/javascript" src="$!{imageServer}/scripts/jquery.validate.js" ></script>
<script type="text/javascript" src="$!{imageServer}/scripts/project/proEdit.js" ></script>
<script type="text/javascript" src="$!{imageServer}/scripts/project/fileUpload.js" ></script>
<script type="text/javascript" src="$!{imageServer}/scripts/area.js"></script>
 <script type="text/javascript" src="$!{imageServer}/scripts/user/userDialog.js"></script>
 <script charset="utf-8" src="${imageServer}/scripts/kindEditor/kindeditor-min-unupload.js"></script>
<script charset="utf-8" src="${imageServer}/scripts/kindEditor/lang/zh_CN.js"></script>

<script type="text/javascript" src="${imageServer}/scripts/project/placeOrderSpecial.js"></script>
<script type="text/javascript">
$(function(){
	var area = new Area("$!{appServer}/ajax","$!{projectListing.province}","$!{projectListing.city}","$!{projectListing.area}",'pe_province','pe_city','pe_area');
});
 $(function() {
		var editor = KindEditor.create('textarea[name="description"]');
	});
	$(function() {
	var tradeTypeStr = $("#tradingType").val();
	onCompleteErrorShow(tradeTypeStr);
	onCompleteValueSeting(tradeTypeStr);
});
</script>
<style>
.mr10{margin-right:10px;}
.in_block{display:inline-block;}
.fl{float:left}
.w110{ width:100;}
.shangchuan{ text-align:center; position: relative;}
.shangchuan img{ border:1px solid #B5B8C9;}
.shangchuan p{ width:106px; text-align:center; position:relative; overflow:hidden; margin:3px 0; display:inline-block;}
.shangchuan input{ width:90px; height:25px; position:absolute; left:0;top:0;opacity:0; filter: alpha(opacity=0); display:inline-block;}
.button-t3 {background: url("$!{imageServer}/images/button.gif") -89px -25px no-repeat;border: 0 none; color: #000000;height: 25px;width: 106px;}
.shangchuan p a{height: 25px; width: 106px;display:inline-block;}
.shangchuan p a span{ position:absolute; left:0; top:0; text-align:center; display:inline-block; width:106px; font-size:12px; line-height:25px;}

</style>
<div class="main">
  <!-- 表单模块 -->
 <input type="hidden" id="metaErrors" name="metaErrors" value="$!{metaErrors}"/>
<form id="projectListingEdit" name="projectListingEdit" action="$!{appServer}/project/edit.htm" enctype="multipart/form-data"  method="post">
  <div class="formBox">
    <h3><i></i><span>修改挂牌资料</span></h3>
    <div class="content">
	  <h5><span>项目基本信息</span></h5>
      <table class="c4" style="width:80%">
		 #springBind("projectListing.id")
		 <input type="hidden"  id="projectId" name="${status.expression}" value="$!{status.value}"/>
		 #springBind("projectListing.listingType")
		 <input type="hidden" id="listingType" name="${status.expression}" value="$!{status.value}"/>
         <tr>
          <th><span class="red">*</span>项目名称：</th>
          <td>
			#springBind("projectListing.title")
			<input type="text" class="inp inp-w160" id="title" name="${status.expression}" value="$!{status.value}" />
			#if($!{projectListing.attachedFilePath})
				&nbsp;<a style="color:#0066CC;text-decoration: underline;" href="$!{uploadServer}/$!{projectListing.attachedFilePath}" target="_blank">[附件下载]</a>
			#end
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
          <th>项目编号：</th>
          <td>
			#springBind("projectListing.code")
			<input type="text" class="inp inp-w160-readonly" name="${status.expression}" value="$!{status.value}" readonly />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		  <th>项目状态：</th>
          <td>
			#springBind("projectListing.status")
			<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
			#springBind("projectListing.statusDesc")
			<input type="text" class="inp inp-w160-readonly" name="${status.expression}" value="$!{status.value}" readonly/>
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
         </tr>
		 <tr>
		  <th>项目类型：</th>
          <td>
			#springBind("projectListing.projectTypeCode")
			<input type="hidden" id="projectTypeCode" name="${status.expression}" value="$!{status.value}"/>
			#springBind("projectListing.projectTypeName")
			<input type="text" class="inp inp-w160-readonly" name="${status.expression}" value="$!{status.value}" readonly />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		  #if($!{projectListing.breedStandardId})
          <th>标准规格：</th>
          <td>
			#springBind("projectListing.breedStandard")
			<input type="text" class="inp inp-w160-readonly" name="${status.expression}" value="$!{status.value}" readonly />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		  #end
		  <th>交易方式：</th>
          <td>
			#springBind("projectListing.tradingType")
			<input type="hidden" name="${status.expression}" id="tradingType" value="$!{status.value}"/>
			<input type="text" class="inp inp-w160-readonly" value="$!{projectListing.tradingTypeDesc}" readonly />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
		  <th>挂牌参考价：</th>
          <td>
			#springBind("projectListing.listingPrice")
			<input type="hidden" id="listingPrice" name="${status.expression}" value="$!{status.value}" readonly />
			#springBind("projectListing.listingPriceDesc")
			<input type="text" class="inp inp-w160-readonly" id="listingPriceDesc" name="${status.expression}" value="$commonUtils.getValuationUnit($!{projectListing.listingPrice},$!{projectListing.valuationUnit})" readonly />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		  <th>挂牌数量：</th>
          <td>
			#springBind("projectListing.quantity")
			<input type="text" class="inp inp-w160-readonly" id="quantity" name="${status.expression}" value="$!{status.value}" readonly />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		  <th><span class="red">*</span>挂牌开始时间：</th>
		  <td>
			#springBind("projectListing.listingStartTime")
			<input type="text" id="listingStartTime" name="${status.expression}" value="$!{status.value}" class="date-pick" style="width:130px;height:16px" readonly   onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-01-01'})"/>
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
		  <th>计价单位：</th>
          <td>
			#springBind("projectListing.valuationUnit")
			<input type="hidden" id="valuationUnit" name="${status.expression}" value="$!{status.value}" />
			<select class="select" value="$!{status.value}" style="background:#D3D3D3;" disabled>
				#foreach($item in $valuationUnitList)
					<option value="$!{item.value}" #if($!{status.value} == $!{item.value}) selected #end>$!{item.name}</option>	
				#end
            </select>
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
          <th>计量单位：</th>
          <td>
			#springBind("projectListing.measureUnit")
			<input type="hidden" id="measureUnit" name="${status.expression}" value="$!{status.value}" />
			<select class="select" value="$!{status.value}" style="background:#D3D3D3;" disabled>
				#foreach($item in $measureUnitList)
					<option value="$!{item.value}" #if($!{status.value} == $!{item.value}) selected #end>$!{item.name}</option>	
				#end
            </select>
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		  <th><span class="red">*</span>挂牌结束时间：</th>
		  <td>
			#springBind("projectListing.listingEndTime")
			<input type="text" id="listingEndTime" name="${status.expression}" value="$!{status.value}" class="inp" style="width:130px;height:16px" readonly   onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-01-01'})"/>
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
			#if($!{projectListing.listingType} == "sell")
    			##<th>仓库名称：</th>
    			##<td>
    				#springBind("projectListing.storehouse")
    				<input type="hidden" id="storehouse" name="${status.expression}" value="$!{status.value}" class="inp" />
    				<font color="red"><label class="error">${status.errorMessage}</label></font>
    			##</td>
    			<th><span class="red">*</span>地址：</th>
    			<td colspan="3">
    				#springBind("projectListing.province")
    				<select class="select" id="pe_province" name="${status.expression}" style="width:100px;"></select>
    				<font color="red"><label class="error">${status.errorMessage}</label></font>
    				#springBind("projectListing.city")
    				<select class="select"  id="pe_city" name="${status.expression}" style="width:100px;"></select>
    				<span class="error">${status.errorMessage}</span>
    				#springBind("projectListing.area")
    				<select class="select"  id="pe_area" name="${status.expression}" style="width:100px;"></select>
    				<font color="red"><label class="error">${status.errorMessage}</label></font>
    			</td>
			#else
    			<th><span class="red">*</span>收货地址：</th>
    			<td colspan="3">
    				#springBind("projectListing.province")
    				<select class="select" id="pe_province" name="${status.expression}" style="width:100px;"></select>
    				<font color="red"><label class="error">${status.errorMessage}</label></font>
    				#springBind("projectListing.city")
    				<select class="select"  id="pe_city" name="${status.expression}" style="width:100px;"></select>
    				<span class="error">${status.errorMessage}</span>
    				#springBind("projectListing.area")
    				<select class="select"  id="pe_area" name="${status.expression}" style="width:100px;"></select>
    				<font color="red"><label class="error">${status.errorMessage}</label></font>
    			</td>
			#end
		</tr>
      </table>
    </div>
	## 该项目的 类型动态属性、交易方式属性、标准规格
	#if($!{projectListing.breedStandard})
	#else
		#if($!{projectListing.attriMeta} && $!{projectListing.attriMeta.size()} > 0)
			<div class="content">
				<h5><span>动态属性</span></h5>
				<table class="c4" style="width:80%">
				<tr>
			#foreach($item in $!{projectListing.attriMeta})
			#set($index = ${velocityCount} - 1)
                  <th>
					#if($!{item.attr.isRequired} == 1)<span class="red">*</span>#end
					$!{item.attr.keyTitle}：
				  </th>
                  <td>
					<input type="hidden" name="metaValues[$index].metaKey" value="$!{item.attr.keyName}" />
					<input type="hidden" name="metaValues[$index].metaTitle" value="$!{item.attr.keyTitle}" />
					#if($!{item.attr.inputType} == "text" || $!{item.attr.inputType} == "TEXT")
						<input type="text" class="inp inp-w160" name="metaValues[$index].metaValue" value="$!{item.meta.metaValue}"/>
						##<input type="text" id="$!{item.key}" name="tradeMetas[$index].inputValue" value='$!projectDynamicUtils.getKeyInputValue($!{item.key}, $!{tradeBo.tradeMetas})' class="inp"    />
    					
					#elseif($!{item.attr.inputType} == "select" || $!{item.attr.inputType} == "SELECT")
						<select class="select" name="metaValues[$index].metaValue" >
							#if($!{item.attr.textMap} && $!{item.attr.textMap.size()} > 0)
    							#foreach($textItem in $!{item.attr.textMap.entrySet()})
									<option value='$!{textItem.key}' #if("$!{item.meta.metaValue}" == "$!{textItem.key}") selected #end>$!{textItem.value}</option>	
    							#end
							#end
                        </select>
					#elseif($!{item.attr.inputType} == "checkbox" ||$!{item.attr.inputType} == "CHECKBOX")
						#if($!{item.attr.textMap} && $!{item.attr.textMap.size()} > 0)
    						#foreach($textItem in $!{item.attr.textMap.entrySet()})
    							<input type="checkbox"  name="metaValues[$index].metaValue" value="$!{textItem.key}" #if($!{item.meta.containsVal($!{textItem.key})}) checked #end/>$!{textItem.value}
    						#end
						#end
					#elseif($!{item.attr.inputType} == "radio" || $!{item.attr.inputType} == "RADIO")
						#if($!{item.attr.textMap} && $!{item.attr.textMap.size()} > 0)
        					#foreach($textItem in $!{item.attr.textMap.entrySet()})
        						 <input type="radio" name="metaValues[$index].metaValue" value="$!{textItem.key}" #if($!{item.meta.containsVal($!{textItem.key})}) checked #end/>$!{textItem.value}
							#end
						#end
					#elseif($!{item.attr.inputType} == "date" || $!{item.attr.inputType} == "DATE")
						<input type="text" id="metaValues[$index].metaValue" name="metaValues[$index].metaValue" value="$!{item.meta.metaValue}" class="inp" style="width:130px;height:16px" readonly   onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-01-01'})" />
						 
					#end
					#if($metaErrors.get($index))<font color="red"><label class="error">$metaErrors.get($index)</label></font>#end
				  </td>
				#if($!{velocityCount}%2 == 0)</tr><tr>#end
			#end
                </tr>
				</table>
            </div>
		#end
	#end
	<div class="content">
	  <h5><span>交易属性</span></h5>
	   <div id="prjTradeTypeBoxId"></div>
    </div>
	<div class="content">
	  <h5><span>支付信息</span></h5>
      <table class="c4" style="width:80%">
		<tr>
          <th><span class="red">*</span>货款支付支持：</th>
          <td>
			#springBind("projectListing.paymentType")
			#foreach( $item in $!{paymentTypeList})
				<input type="checkbox" id=$velocityCount name="${status.expression}"  #if($stringUtils.contains(${projectListing.paymentType}, $!{item.value})) checked #end value="$!{item.value}" />
					$!{item.name}
			#end
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		  <th>交收时间：</th>
          <td>
			#springBind("projectListing.deliveryDate")
			<input type="text" id="deliveryDate" name="${status.expression}" value="$!{status.value}" class="date-pick" style="width:130px;height:16px" readonly onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-01-01'})"/>
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		  ##<th><span class="red">*</span>交收方式支持：</th>
          ##<td>
			#springBind("projectListing.deliveryType")
			#foreach( $item in $!{deliveryTypeList})
				<input type="hidden" id=$velocityCount name="${status.expression}" value="$!{item.value}" />
				##<input type="checkbox" id=$velocityCount name="${status.expression}" #if($stringUtils.contains(${projectListing.deliveryType}, $!{item.value})) checked #end value="$!{item.value}" />
					##$!{item.name}
			#end
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  ##</td>
		</tr>
		<tr>
          <th><span class="red">*</span>发票支持：</th>
			#springBind("projectListing.invoice")
          <td>
			<input  type="checkbox" id="invoice1"  name="${status.expression}" value="Y" #if( $stringUtils.contains(${projectListing.invoice}, "Y"))checked #end  />
				提供
				&nbsp;&nbsp;
			<input  type="checkbox" id="invoice2"   name="${status.expression}" value="N" #if( $stringUtils.contains(${projectListing.invoice}, "N"))checked #end />
				不提供
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
		  #springBind("projectListing.deliveryPlace")
			<input type="hidden" id="deliveryPlace" name="${status.expression}" value="$!{status.value}" class="inp" />
		  <span class="error">${status.errorMessage}</span>
        </tr>
      </table>
    </div>
	
	<div class="content">
	  <h5><span>联系方式</span></h5>
      <table class="c4" style="width:80%">
		<tr>
			<th><span class="red">*</span>联系人：</th>
			<td colspan="3">
				#springBind("projectListing.linkMan")
				<input type="text" id="linkMan" name="${status.expression}" value="$!{status.value}" class="inp" />
				<input type="button"  class="button-s4" onclick="javascript:chooseAddressArtDailog('$!{projectListing.userAccount}','S','linkMan','phone','pe_province','pe_city','pe_area','address','zipCode','storehouse');" value="选择"/ >
				<font color="red"><label class="error">${status.errorMessage}</label></font>
			</td>
		</tr>
        <tr>
			<th><span class="red">*</span>联系电话：</th>
			<td>
				#springBind("projectListing.phone")
				<input type="text" id="phone" name="${status.expression}" value="$!{status.value}" class="inp" />
				<font color="red"><label class="error">${status.errorMessage}</label></font>
			</td>
			<th>邮编：</th>
			<td>
				#springBind("projectListing.zipCode")
				<input type="text" id="zipCode" name="${status.expression}" value="$!{status.value}" class="inp" />
				<font color="red"><label class="error">${status.errorMessage}</label></font>
			</td>
		</tr>
		
		<tr>
			<th><span class="red">*</span>详细地址：</th>
			<td colspan="3">
				#springBind("projectListing.address")
				<input type="text" id="address" name="${status.expression}" value="$!{status.value}" class="inp-w300"  />
				<font color="red"><label class="error">${status.errorMessage}</label></font>
			</td>
		</tr>
      </table>
    </div>
	<div class="content">
	  <h5><span>项目图片</span></h5>
       <TABLE width=100%>
        						<tr>                           			
                                      <td>
										<div id="pictiureMain">      											
                        						## <div  class="qq-upload-drop-area"  ></div>
                        						 ##<div id="qq-upload-drop-area">
                        						 <div id="imgList" class="shangchuan fl in_block mr10" style="width:110px; height:163px;">
													<div class="imgObject">
														#if($stringUtils.isEmpty($!{projectListing.picturePath}))
															<img id="img0" class="pic-hover-act-event" src="$!{imageServer}/images/nophoto.jpg" width="110" height="110" />
														#else
															<img id="img0" class="pic-hover-act-event" src="$!{uploadServer}/$!{projectListing.picturePath}" width="110" height="110" />
														#end
													</div>
													<div class="act">
															<img id="del0" title="删除" src="$!{imageServer}/images/ico_cancel.png" /></span>
													</div>
													<div >
    													<p>
															<a href="#" class="button-t3">
																<span>上传图片</span>
																<input id="fileChoose0"   name="uploadFile0" type="file" value=""/>
															</a>
														</p>
    												 </div>
                        						 </div>
                        						 <div id="imgList" class="shangchuan fl in_block mr10" style="width:110px; height:163px;">
													<div class="imgObject">
														#if($stringUtils.isEmpty($!{projectListing.picturePath1}))
															<img id="img1" class="pic-hover-act-event" src="$!{imageServer}/images/nophoto.jpg" width="110" height="110" />
														#else
															<img id="img1" class="pic-hover-act-event" src="$!{uploadServer}/$!{projectListing.picturePath1}" width="110" height="110" />
														#end
														
													</div>
													<div class="act">
															<img id="del1" title="删除" src="$!{imageServer}/images/ico_cancel.png" /></span>
													</div>
													<div >
														<p>
															<a href="#" class="button-t3">
																<span>上传图片</span>
																<input id="fileChoose1"   name="uploadFile1" type="file" value=""/>
															</a>
														</p>
    												</div>
                        						 </div>
												 <div id="imgList" class="shangchuan fl in_block mr10" style="width:110px; height:163px;">
													<div class="imgObject">
														#if($stringUtils.isEmpty($!{projectListing.picturePath2}))
															<img id="img2" class="pic-hover-act-event" src="$!{imageServer}/images/nophoto.jpg" width="110" height="110" />
														#else
															<img id="img2" class="pic-hover-act-event" src="$!{uploadServer}/$!{projectListing.picturePath2}" width="110" height="110" />
														#end
													</div>
													<div class="act">
															<img id="del2" title="删除" src="$!{imageServer}/images/ico_cancel.png" /></span>
													</div>
													<div >
														<p>
															<a href="#" class="button-t3">
																<span>上传图片</span>
																<input id="fileChoose2"   name="uploadFile2" type="file" value=""/>
															</a>
														</p>
    												</div>
                        						 </div>
												 <div id="imgList" class="shangchuan fl in_block mr10" style="width:110px; height:163px;">
													<div class="imgObject">
														#if($stringUtils.isEmpty($!{projectListing.picturePath3}))
															<img id="img3" class="pic-hover-act-event" src="$!{imageServer}/images/nophoto.jpg" width="110" height="110" />
														#else
															<img id="img3" class="pic-hover-act-event" src="$!{uploadServer}/$!{projectListing.picturePath3}" width="110" height="110" />
														#end
													</div>
													<div class="act">
                                            			 <span data-act="moveLeft">
															<img id="del3" title="删除" src="$!{imageServer}/images/ico_cancel.png" /></span>
													</div>
													<div >
														<p>
															<a href="#" class="button-t3">
																<span>上传图片</span>
																<input id="fileChoose3"  name="uploadFile3" type="file" value=""/>
															</a>
														</p>
    												</div>
                        						 </div>
												 <div id="imgList" class="shangchuan fl in_block mr10" style="width:110px; height:163px;">
													<div class="imgObject">
														#if($stringUtils.isEmpty($!{projectListing.picturePath4}))
															<img id="img4" class="pic-hover-act-event" src="$!{imageServer}/images/nophoto.jpg" width="110" height="110" />
														#else
															<img id="img4" class="pic-hover-act-event" src="$!{uploadServer}/$!{projectListing.picturePath4}" width="110" height="110" />
														#end
													</div>
													<div class="act">
                                            			 <span data-act="moveLeft">
															<img id="del4" title="删除" src="$!{imageServer}/images/ico_cancel.png" /></span>
													</div>
													<div >
														<p>
															<a href="#" class="button-t3">
																<span>上传图片</span>
																<input id="fileChoose4" name="uploadFile4" type="file" value=""/>
															</a>
														</p>
    												</div>
                        						 </div>
												 <div style="clear:left;" >
														 <span class="error" id="fileErrorDiv_remind_show_message" >最大支持200k的图片上传，支持图片格式： jpg, jpeg, gif, png</span>
                                                    </div>
												 #springBind("projectListing.picturePath")
        										<input type="hidden" id="picturePath" name="picturePath" class="inp-w400"  value="$!{status.value}"  />
        										<input type="hidden" id="tempPath" name="tempPath" value="$!{projectListing.tempPath}" />
												#springBind("projectListing.picturePath1")
        										<input type="hidden" id="picturePath1" name="picturePath1" class="inp-w400"  value="$!{status.value}"  />
        										<input type="hidden" id="tempPath1" name="tempPath1" value="$!{projectListing.tempPath1}" />
												#springBind("projectListing.picturePath2")
        										<input type="hidden" id="picturePath2" name="picturePath2" class="inp-w400"   value="$!{status.value}" />
        										<input type="hidden" id="tempPath2" name="tempPath2" value="$!{projectListing.tempPath2}" />
												#springBind("projectListing.picturePath3")
        										<input type="hidden" id="picturePath3" name="picturePath3" class="inp-w400"  value="$!{status.value}"  />
        										<input type="hidden" id="tempPath3" name="tempPath3" value="$!{projectListing.tempPath3}" />
												#springBind("projectListing.picturePath4")
        										<input type="hidden" id="picturePath4" name="picturePath4" class="inp-w400"  value="$!{status.value}" />
												<input type="hidden" id="tempPath4" name="tempPath4" value="$!{projectListing.tempPath4}" />
										</div>
                            		  </td>
								</tr>
                            </TABLE>
    </div>
	<div class="content">
	  <h5><span>项目描述</span></h5>
      <table class="c4" style="width:80%">
		<tr>                           			
			<th></th>
			<td>
				#springBind("projectListing.description")
				<textarea id="description" name="${status.expression}" style="width:90%;height:350px;">$!{status.value}</textarea>
				<font color="red"><label class="error">${status.errorMessage}</label></font>
			</td>
		</tr>
      </table>
    </div>
	
    <div class="form-but">
      <!-- 表单按钮区 -->
	  <button type="submit" class="button-s4">保存</button>
      <button type="button" class="button-s4" onclick="javascript:#if($!{url})window.location.href='$!{appServer}$!{url}'#else history.go(-1)#end">取消</button>
    </div>
    <!-- 表单按钮区 END -->
  </div>
</form>
</div>
<div id="addressList"></div>