#set($layout = 'layout/default.vm')
$iDemand.addCss('admin')
$iDemand.addCss('basic')
$iDemand.addCss('ztree')
$iDemand.addJs("jquery")
$iDemand.addJs("ztree")
<script type="text/javascript">
  <!--
	$(function() {
		$("input[name='showType']").change(function() {
			window.location.href = "$!{appServer}/auth/tree.htm?showType=" + this.value;
    	});
	});
	var zTree1;
	var setting;
	var zNodes =[];
	setting = {
			rootPID : -1,
			editable : true,
			edit_renameBtn : setRenameBtn,
			edit_removeBtn : false,
			checkable: true,
			checkType:{ "Y": "", "N": "" },
			async: true,
			asyncUrl: "$!{appServer}/auth/treeContent.htm",  //获取节点数据的URL地址
			asyncParam: ["pId","id"],  //获取节点数据时，必须的数据名称，例如：id、name
			callback:{
				beforeRename: zTreeBeforeRename,
				beforeAsync: zTreeBeforeAsync,
				asyncSuccess: zTreeOnAsyncSuccess,
				asyncError: zTreeOnAsyncError
			},
			iconTypes: [
            	{ type:"1", icon:"$!{appServer}/images/zTree/folder_Close.gif", 
            				iconOpen:"$!{appServer}/images/zTree/folder_Open.gif", 
            				iconClose:"$!{appServer}/images/zTree/folder_Close.gif" },
            	{ type:"2", icon:"$!{appServer}/images/zTree/sim/2.png", 
            				iconOpen:"$!{appServer}/images/zTree/flag/2.png", 
            				iconClose:"$!{appServer}/images/zTree/sim/2.png" },
            	{ type:"3", icon:"$!{appServer}/images/zTree/sim/3.png", 
            				iconOpen:"$!{appServer}/images/zTree/flag/3.png", 
            				iconClose:"$!{appServer}/images/zTree/sim/3.png" },
            	{ type:"4", icon:"$!{appServer}/images/zTree/sim/4.png", 
            				iconOpen:"$!{appServer}/images/zTree/flag/4.png", 
            				iconClose:"$!{appServer}/images/zTree/sim/4.png" }
            ]
	};
	var opreatePool = [];
	var lastNode = null;
	var poolCursor = -1;
	var poolMax = 20;
	
	function zTreeBeforeRename( treeId, treeNode ){
		parent.authMainIframe.location.href = "$!{appServer}/auth/edit.htm?id=" + treeNode.id;
		return false;
	}
	
	$(document).ready(function(){
		refreshTree();
	});

	function zTreeBeforeAsync(treeId, treeNode) {
		var hasParent = isParent( treeNode );
		if( !hasParent ){
			return false;
		}
		treeNode.isParent = hasParent;
	}
	function isParent( treeNode ){
		if( treeNode.type == "4" ){
			return false;
		}
		result = true;
		jQuery.ajax({
			async: false,
			type: "POST",
			url: "$!{appServer}/auth/isParent.htm",
			data: { subSystemId:treeNode.pId, id:treeNode.id },
			success: function( data ) {
				try {
					result = data;
				} catch(err) {
					result = false;
				}
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				result = false;
			}
		});
		return result;
	}
	
	function zTreeOnAsyncSuccess(event, treeId, treeNode, msg) {
		if (treeNode) {
			$("#onAsyncSuccessNode").html( "[" + getTime() + "]  treeId=" + treeId + ";<br/>&nbsp;tId=" + treeNode.tId + "; Name=" + treeNode.name );
		} else {
			$("#onAsyncSuccessNode").html( "[" + getTime() + "]  treeNode is Root!");
		}
	}

	function zTreeOnAsyncError(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown) {
		if (treeNode) {
			$("#onAsyncErrorNode").html( "[" + getTime() + "]  treeId=" + treeId + ";<br/>&nbsp;tId=" + treeNode.tId + "; Name=" + treeNode.name );
		} else {
			$("#onAsyncErrorNode").html( "[" + getTime() + "]  treeNode is Root!");
		}
	}

	function refreshTree(asyncUrl) {
		$("#getUrl").html("");
		$("#onAsyncSuccessNode").html("<br/>");
		$("#onAsyncErrorNode").html("<br/>");
		zNodes =[
    		#direct($!{subSysList})
			];
		zTree1 = $("#treeDemo").zTree(setting, zNodes);
	}
	
	function setRenameBtn(treeNode) {
		if( treeNode.pId == -1 ){
			return false;
		}
		return true;
	}

	function reloadAsync() {
//		alert( "in reloadAsync!!!" );
		var treeNode = zTree1.getSelectedNode();
		if (!treeNode) {
			alert("请先选中一个节点");
			return;
		}
		var parent = isParent( treeNode );;
		if( !parent ){
			return false;
		}
		treeNode.isParent = parent;
		zTree1.reAsyncChildNodes(treeNode, "add");
	}
	function getTime() {
		var now= new Date();
		var hour=now.getHours();
		var minute=now.getMinutes();
		var second=now.getSeconds();
		return (hour+":"+minute+":"+second);	
	}
	function expandAll(expandSign) {
		zTree1.expandAll(expandSign);
	}
	function moveTreeNode(move) {
		var srcNode = zTree1.getSelectedNode();
		if (!srcNode) {
			alert("请先选中一个节点");
			return;
		}
		var moveType = "inner";
		var targetNode = "";
		if (move == "up") {
			moveType = "before";
			targetNode = getPreTreeNode(srcNode);
		} else if (move == "down") {
			moveType = "after";
			targetNode = getNextTreeNode(srcNode);
		}
		if (srcNode && targetNode) {
			setOperatePool();
			zTree1.moveNode(targetNode, srcNode, moveType);
		}	
		getNodes();
		zTree1.selectNode(srcNode);
	}
	function getPreTreeNode(treeNode) {
		if (treeNode.isFirstNode) return null;
		var nodes = treeNode.parentNode ? treeNode.parentNode.nodes : zTree1.getNodes();
		var preNode;
		for (var i=0; i<nodes.length; i++) {
			if (nodes[i] == treeNode) {
				return preNode;
			}
			preNode = nodes[i];
		}
	}
	function getNextTreeNode(treeNode) {
		if (treeNode.isLastNode) return null;
		var nodes = treeNode.parentNode ? treeNode.parentNode.nodes : zTree1.getNodes();
		for (var i=0; i<nodes.length; i++) {
			if (nodes[i] == treeNode) {
				return nodes[i+1];
			}
		}
	}
	function setOperatePool(nodes) {
		var n = nodes ? nodes : clone(zTree1.getNodes());
		opreatePool.splice(poolCursor+1, (opreatePool.length-poolCursor-1), n);
		if (opreatePool.length>poolMax) {
			opreatePool.splice(0,1);
		}
		poolCursor = opreatePool.length-1;
		refreshOperatePool();
		lastNode = null;
	}
	function refreshOperatePool() {
		if (poolCursor>=0) {
			$("#jRollback").attr("class","able");
		} else {
			$("#jRollback").attr("class","disabled");
		}
		if (poolCursor<(opreatePool.length-1)) {
			$("#jRedo").attr("class","able");
		} else {
			$("#jRedo").attr("class","disabled");
		}
		$("#jOperatePool").html("操作记录: " + opreatePool.length + ", 游标位置: " + (poolCursor+1));
	}
	function getNodes() {
		var a = zTree1.transformToArray(zTree1.getNodes());
		$("#allNum").html(a.length);
		a = zTree1.getCheckedNodes();
		$("#allCheckNum").html(a.length);
	}
	function refresh(){
		window.location.href = "$!{appServer}/auth/tree.htm?showType=" + $("input[name='showType']:checked").val(); ;
	}
//-->
  </SCRIPT>
<body style="padding:10px;overflow:auto;">
<div class="ctrls">
  <p class="addleaf"><img src="$!{appServer}/images/admin/role_add.gif" title="张开已载入" onclick="expandAll(true);" width="20" height="19" /></p>
  <p class="del"><img src="$!{appServer}/images/admin/role_delete.gif" title="折叠已载入" onclick="expandAll(false);" width="20" height="19" /></p>
  <p class="addnode"><img src="$!{appServer}/images/admin/up.gif" title="同级向上移动" onclick="moveTreeNode('up');" width="20" height="19" /></p>
  <p class="edit"><img src="$!{appServer}/images/admin/dw.gif" title="同级向下移动" onclick="moveTreeNode('down');" width="20" height="19" /></p>
  <p class="edit"><img src="$!{appServer}/images/liger/Aqua/icon/icon-load.png" title="刷新" onclick="refresh();" width="20" height="19" /></p>
  <div style="clear: both;"></div>
				<input type="radio" id="showTypeAsync" name="showType" value="async" #if( ${showType} == "async" )checked#end>按需加载
				<input type="radio" id="showTypeAll" name="showType" value="all" #if( ${showType} == "all" )checked#end>全部加载<br/>
</div>
	<ul id="treeDemo" class="tree" style="width:100%;height:100%overflow:auto;"></ul>
</body>
