#set($layout = 'layout/default.vm')
<script src="$!{imageServer}/scripts/order/wishOrder.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>

<div class="main">
    <!-- 表单模块 -->
    <div class="formBox">
        <h2>
            <span>意向单审核</span>
        </h2>
		<form id="wishOrderAuditForm" name="wishOrderAuditForm" action="$!{appServer}/tradeWishOrder/auction/audit.htm" method="POST">
			<input type="hidden" name="url" value=$!{url} />
            <div class="content">
    			<h3><span>意向单详情</span></h3>
                <table class="c2">
                    <tr>
                        <th>单子编号：</th>
                        <td>$!{tradeWishOrder.wishOrderNum}</td>
    					<input type="hidden" name="id" id="id" value="$!{tradeWishOrder.id}"/>
                        <th>创建时间：</th>
                        <td> $!dateTool.format("yyyy-MM-dd",$!{tradeWishOrder.gmtCreate})</td>
                    </tr>
                    <tr>
                        <th>单子状态：</th>
                        <td>$!{tradeWishOrder.statusDesc}</td>
                        <th>项目名称：</th>
                        <td>
							##<a style="color:#0066CC;text-decoration:none;" href="$!{appServer}/project/info.htm?projectListingId=$!{projectId}" >
								${tradeWishOrder.projectName}
							##</a>
						</td>
                    </tr>
                    <tr>
                        <th>交易方式：</th>
                        <td>$!{tradeWishOrder.tradeTypeDesc}</td>
                        <th>项目编号：</th>
                        <td>$!{tradeWishOrder.projectCode}</td>
						<input type="hidden" name="projectId" id="projectId" value="$!{projectId}"/>
    					<input type="hidden" name="projectCode" id="projectCode" value="$!{tradeWishOrder.projectCode}"/>
                    </tr>
                    <tr>
                        <th>交易方向：</th>
                        <td>$!{tradeWishOrder.tradeDictorDesc}</td>
                        <th>参与人：</th>
                        <td>$!{tradeWishOrder.userAccount}</td>
                    </tr>
                    <tr>
                        <th>
							#if($!{tradeWishOrder.tradeType} == "bidOrder" || $!{tradeWishOrder.tradeType} == "mulitBidOrder")
								起拍价格：
							#elseif($!{tradeWishOrder.tradeType} == "transferOrder")
								转让价：
							#elseif($!{tradeWishOrder.tradeType} == "tenderOrder")
								评估价：
							#end
						</th>
                        <td>$!commonUtils.getValuationUnitDesc($!{bidStartPrice},$!tradeWishOrder.getValuationUnit())</td>
                        <th>支付方式：</th>
                        <td>$!{tradeWishOrder.paymentTypeDesc}</td>
                    </tr>
    				<tr>
                        <th>交易保证金：</th>
                        <td>$!commonUtils.getValuationUnitDesc($!{tradeWishOrder.deposit},$!tradeWishOrder.getValuationUnit())</td>
    					#if($!{tradeWishOrder.specialSign})
    						<th>优先权人：</th>
                            <td>
        						<select id="specialSign" name="specialSign" style="width:50px;">
            						#foreach($!{item} in $!{enable})
        								<option value="$!{item.value}" #if($!{item.value} == $!{tradeWishOrder.specialSign}) selected #end>$!{item.name}</option>
            						#end
                                </select>
    							<input type="hidden" id="isSpecialMan" name="isSpecialMan" value=""/>
        					</td>
						#end
                    </tr>
                    <tr>
                        <th>期望交割时间：</th>
                        <td> $!dateTool.format("yyyy-MM-dd",$!{tradeWishOrder.expectTime})</td>
                        <th>是否需要发票：</th>
                        <td>$!{tradeWishOrder.invoiceDesc}</td>
                    </tr>
                    <tr>
                        ##<th>交货方式：</th>
                        ##<td>$!{tradeWishOrder.deliveryTypeDesc}</td>
                        <th>交割联系人：</th>
                        <td>$!{tradeWishOrder.linkMan}</td>
                    </tr>
                    <tr>
                        <th>交割地址：</th>
                        <td>$!{tradeWishOrder.address}</td>
                        <th>联系人电话：</th>
                        <td>$!{tradeWishOrder.phone}</td>
                    </tr>
					<tr>
					#if($!{tradeWishOrder.tradeType} == "bidOrder" || $!{tradeWishOrder.tradeType} == "mulitBidOrder")
                        <th><span class="red">*</span>竞价人牌号：</th>
                        <td colspan="3">
						#if($!{advance})
							<input type="hidden" name="trademark" id="trademark" value="$!{trademark}" class="inp"/>
						#else
							<input type="text" name="trademark" id="trademark" value="$!{trademark}" class="inp"/>
						#end
							<span class="red"></span>
						</td>
					#else
						<input type="hidden" name="trademark" id="trademark" value="$!{trademark}" class="inp"/>
					#end
                    </tr>
					<tr>
                        <th>备注：</th>
                        <td colspan="3">$!{tradeWishOrder.comments}</td>
                    </tr>
                </table>
    			<h3><span>审核明细</span></h3>
    			<table class="c2">
                    <tr>
                        <th><span class="red">*</span>审核备注：</th>
    					<td>
    						<textarea type="text" id="auditNodeRemark" name="auditNodeRemark" class="textarea"></textarea>
							<span class="red"></span>
                        </td>
    				</tr>
    				<input type="hidden" id="auditResult" name="auditResult" value=""/>
    				<tr>
                        <td>
                            <button type="button" class="button-s4" onclick="auctionAudit('true');">通过</button>
    					</td>
                        <td>
    						<button type="button" class="button-s4" onclick="auctionAudit('false');">不通过</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    						<button type="button" class="button-s4" onclick="javascript:history.back(-1);">返回</button>
    					</td>
    				</tr>
                </table>
            </div>
        </form>
    </div>
</div>
