#set($layout = 'layout/blank.vm')
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;" />
<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/auction.css" />
<script type="text/javascript" src="$!{imageServer}/scripts/jquery-1.4.4.min.js" ></script>
<script type="text/javascript" src="$!{imageServer}/scripts/home/auctionAnnouncement.js" ></script>
<script>
var appServer = "$!{appServer}";
var projectId = "$!{projectId}";
var announcements;
#if($!{announcementsJson}){
	announcements = #direct($!{announcementsJson});
}
#end
</script>
</head>
<body>
<div class="message">
    <a target="_blank" href="$!{appServer}/home/announcement/auctionAnnouncement/more.htm?projectId=$!{projectId}" class="fr mr10">更多>></a>
    <dl>
        <dt> 公告：</dt>
        <dd id="scrollWrap">
            <div id="scrollMsg" class="msg_con">
                <ul id="announcements">
                </ul> 
            </div>
        </dd>
    </dl>
</div>
</body>
</html>