#set($title = $!{announcement.title}+' - 中部林业产权交易服务系统')
#set($keywords = $!{announcement.title}+' - 中部林业产权交易服务系统')
#set($description = $!{announcement.title}+' - 中部林业产权交易服务系统')
#set($layout = 'layout/home.vm')  
<script type="text/javascript">
$(function(){
	$(".list table tr:even").addClass("bg");
});

$(function(){
	$(".property .hd span:first").addClass("selected");
	$(".property .bd .content:first").show().siblings().hide();
	var tab_menu=$(".property .hd span")
	tab_menu.click(function()
	 {
		 $(this).addClass("selected").siblings().removeClass("selected");
		 var index=tab_menu.index(this);
		 $(".property .bd .content").eq(index).show().siblings().hide();
	 })
});
</script>
<body>
<div class="main">
  <div class="clear"></div>
  <div class="w735 fl"  style="width:100%">
	
    <div class="path mt10">
		当前位置：<a href="$!{cmsServer}">首页</a> &raquo; <a href="$!{appServer}/home/list.htm">交易大厅</a> &raquo; <a href="$!{appServer}/home/announcement/list.htm">交易公告 </a> &raquo; 公告详情
		#*
		#if($!{announcement.title.length()}>25)
			$!{announcement.title.substring(0,23)}...
		#else
			$!{announcement.title}	
		#end
		*#
		</div>
    <div class="article">
		<h2>$!{announcement.title}</h2>
		<h6>
			$!{dateTool.format("yyyy-MM-dd HH:mm:ss",$!{announcement.gmtCreate})}
			公告类型:【$!{announcement.typeDesc}】
			#* 
			#if($!{announcement.joinProject})
				关联的项目:
				<a style="color:#0066CC" href="$!{appServer}/project/detail.htm?id=$!{announcement.projectId}" target="_blank" title="$!{announcement.projectTitle}">
					#if($!{announcement.projectTitle.length()}>15)
						$!{announcement.projectTitle.substring(0,12)}..
					#else
						&nbsp;$!{announcement.projectTitle}
					#end
				</a>
			#end
			*#
		</h6>
		<ul>
			#direct($!{announcement.content})
		</ul>
    </div>
   </div>
  <div class="clear"></div>
</div>
</body>
</html>

