#set($title = '我的供求信息详情')
#set($layout = 'layout/default.vm')

<script type="text/javascript">
     $(document).ready(function() {
         var maxwidth = 340;
		 var maxheight = 300;
         if ($("#picture img").attr("width") > maxwidth) {
             $("#picture img").attr("width", maxwidth);
         };
		 if ($("#picture img").attr("height") > maxheight) {
             $("#picture img").attr("height", maxheight);
         };
     })
</script>
<div class="wrapperRight">
	<div id="rightTab" class="t">
		<ul>
			<li><a class="cursor" href="#">供求信息</a></li>
        </ul>
    </div>
	<div class="right-body">
		<div class="formBox">
    		<div class="content">
			<h4><span>基本信息</span></h4>
			<table class="c2">
			<tr>
        	    <th>项目名称: </th><td>$!{supplyDemandInfo.title}</td>
        	    <th>项目类型: </th><td>$!{supplyDemandInfo.projectTypeCodeDesc}</td>
				</tr>
        	<tr>
				<th>交易时间: </th><td>$!dateTool.format("yyyy-MM-dd",$!{supplyDemandInfo.deliveryDate})</td>
				##<th>标准规格: </th><td><a href="$!{appServer}/home/standard/show.htm?sid=$!{supplyDemandInfo.breadStandardId}" target="_blank" title="点击查看规格详细">$!{supplyDemandInfo.breadStandard}</a></td>
				<th>信息类型: </th><td>$!{supplyDemandInfo.InfoTypeDesc}</td>
			</tr>
        	<tr>
				<th>有效开始时间: </th><td>$!dateTool.format("yyyy-MM-dd",$!{supplyDemandInfo.effectiveStartDate})</td>
        	    <th>有效截止时间: </th><td>$!dateTool.format("yyyy-MM-dd",$!{supplyDemandInfo.effectiveEndDate})</td>
      	    </tr>
			<tr>
				<th>发票支持: </th><td>$!{supplyDemandInfo.InvoiceDesc}</td>
				<th>是否零售: </th><td>$!{supplyDemandInfo.retailDesc}</td>
      	    </tr>
			<tr>
				##<th>货物价格: </th><td>$commonUtils.getValuationUnit($!{supplyDemandInfo.price},$!{supplyDemandInfo.valuationUnit})&nbsp;$!{supplyDemandInfo.valuationUnitDesc}/$!{supplyDemandInfo.measureUnitDesc}</td>
				<th>总价: </th><td>$!{supplyDemandInfo.amount}</td>
				<th>数量: </th><td>$!{supplyDemandInfo.quantity}&nbsp;$!{supplyDemandInfo.measureUnitDesc}</td>
      	    </tr>
			<tr>
				##<th>交易方式: </th><td>$!{supplyDemandInfo.DeliveryTypeDesc}</td>
				<th>信息状态: </th><td>$!{supplyDemandInfo.statusDesc}</td>
			</tr>
			<tr>
				<th>联系人: </th><td>$!{supplyDemandInfo.linkMan}</td>
				<th>联系电话: </th><td>$!{supplyDemandInfo.phone}</td>
			</tr>
            <tr>
				<th>交割地址: </th><td>$!{supplyDemandInfo.deliveryPlace}</td>
        	    <th>详细地址: </th><td>$!{supplyDemandInfo.address}</td>
			</tr>
			#*
			<tr>
				#if($!{supplyDemandInfo.InfoType}=="supply")
				<th>仓库名称: </th><td>$!{supplyDemandInfo.storehouse}</td>
				#end
			</tr>
			*#
			</table>
			
			
			<h4><span>高级信息</span></h4>
			<table class="c2">
			<tr>
				<th>具体描述: </th><td>$!{supplyDemandInfo.remark}</td>
			</tr>
            </table>
            <h4><span>图片展示</span></h4>
			<table id="picture" class="c2">
				#if($!stringUtils.isNotEmpty(${supplyDemandInfo.picturePath}))
        			<tr>
                        <th>主图片：</th>
						<td>
							<img src="$!{uploadServer}/$!{supplyDemandInfo.picturePath}" />
                        </td>
                    </tr>
				#end
				#if($!stringUtils.isNotEmpty(${supplyDemandInfo.picturePath1}))
        			<tr>
                        <th>图片1：</th>
						<td>
							<img src="$!{uploadServer}/$!{supplyDemandInfo.picturePath1}" />
                        </td>
                    </tr>
				#end
				#if($!stringUtils.isNotEmpty(${supplyDemandInfo.picturePath2}))
        			<tr>
                        <th>图片2：</th>
						<td>
							<img src="$!{uploadServer}/$!{supplyDemandInfo.picturePath2}" />
                        </td>
                    </tr>
				#end
				#if($!stringUtils.isNotEmpty(${supplyDemandInfo.picturePath3}))
        			<tr>
                        <th>图片3：</th>
						<td>
							<img src="$!{uploadServer}/$!{supplyDemandInfo.picturePath3}" />
                        </td>
                    </tr>
				#end
				#if($!stringUtils.isNotEmpty(${supplyDemandInfo.picturePath4}))
        			<tr>
                        <th>图片4：</th>
						<td>
							<img src="$!{uploadServer}/$!{supplyDemandInfo.picturePath4}" />
                        </td>
                    </tr>
				#end
			</table>
            </div>
        </div>
    </div>
	<div class="b"></div>
</div>