#set($layout = 'layout/home.vm') 
#set($title = '供求信息列表')

<script language="javascript" type="text/javascript" src="$!{imageServer}/scripts/My97DatePicker/WdatePicker.js" ></script>
<script type="text/javascript" src="${imageServer}/scripts/home/information.js"></script>
<div class="path mt10">当前位置：<a href="$!{cmsServer}">首页</a> &raquo; <a href="#">项目频道</a> &raquo; <a href="#">供求信息</a></div>
<div class="hr10"></div>
<div class="sort">
		供求信息列表
</div>
<div class="ad_search">
    <div class="content">
        <form action="$!{appServer}/home/supplydemand/information.htm" id="searchForm" method="post" onsubmit="return validate();" accept-charset="gbk">
            <ul>
				<li>
                    <div class="s_title">信息类型：</div>
                    <div class="s_content">
                       <select name="infoType" id="infoType">
                        <option value="">请选择</option>
						#foreach($item in $!{infoType})
							<option value="$item.value" #if($item.value == $!{query.infoType}) selected #end>$item.name</option>
						#end
                      </select>
				    </div>
                </li>
                <li>
                    <div class="s_title">项目名称：</div>
                    <div class="s_content">
                        <input type="text" id="title" name="title"  class="inpt s_kd" value="$!{query.title}" />
                    </div>
                </li>
				<li>
                    <div class="s_title">项目编号：</div>
                    <div class="s_content">
                        <input type="text" id="projectCode" name="projectCode"  class="inpt s_kd" value="$!{query.projectCode}" />
                    </div>
                </li>
                <li>
                    <div class="s_title">开始时间：</div>
                   <div class="s_content">
						<input type="text" id="effectiveStartDateFrom" name="effectiveStartDateFrom" value="$!dateTool.format("yyyy-MM-dd",$!{query.effectiveStartDateFrom})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'effectiveStartDateTo\')}'})" readonly="readonly" class="date-pick" style="width:82px"/>
						 - 
						 <input type="text" id="effectiveStartDateTo" name="effectiveStartDateTo" value="$!dateTool.format("yyyy-MM-dd",$!{query.effectiveStartDateTo})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'effectiveStartDateFrom\')}'})" readonly="readonly" class="date-pick" style="width:82px"/>
				   </div>
				</li>
                <li>
                    <div class="s_title"></div>
                    <div class="s_content">
                        <input type="submit"  value="搜   索" class="bt" />
						<input type="button"  onclick="clearMsg()" value="重  置"  class="bt" />
                    </div>
                </li>
				<li>
                    <div class="s_title">截止时间：</div>
                    <div class="s_content">
                       <input type="text" id="effectiveEndDateFrom" name="effectiveEndDateFrom" value="$!dateTool.format("yyyy-MM-dd",$!{query.effectiveEndDateFrom})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'effectiveStartDateFrom\')}',maxDate:'#F{$dp.$D(\'effectiveEndDateTo\')}'})" readonly="readonly" class="date-pick" style="width:82px"/>
					   -
					   <input type="text" id="effectiveEndDateTo" name="effectiveEndDateTo" value="$!dateTool.format("yyyy-MM-dd",$!{query.effectiveEndDateTo})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'effectiveEndDateFrom\')}'})" readonly="readonly" class="date-pick" style="width:82px"/>
					</div>
                </li>
				
            </ul>
        </form>
    </div>
</div>
	
<div class="hr10"></div>
<div class="sort">
		供求信息[点击栏目名称排序]
</div>
<div class="hr10"></div>
<div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th class="list-order-field" id="projectCode" title="点击排序"><a>项目编号</a></th>
            <th class="list-order-field" id="title"  title="点击排序"><a>项目名称</a></th>
			<th class="list-order-field" id="projectTypeCode" title="点击排序"><a>项目类型</a></th>
			<th class="list-order-field" id="infoType" title="点击排序"><a>信息类型</a></th>
			<th class="list-order-field" id="price" title="点击排序"><a>供求价格</a></th>
			<th class="list-order-field" id="quantity" title="点击排序"><a>供求量</a></th>
			<th class="list-order-field" id="effectiveStartDate" title="点击排序"><a>开始时间</a></th>
			<th class="list-order-field" id="effectiveEndDate"  title="点击排序"><a>截止时间</a></th>
        </tr>
        #foreach($item in $!{query.data})
            <tr  #if($velocityCount%2==0) style="height:30px;background-color:#F0F0F0;" #else 
                        style="height:30px;background-color:#FFFFFF;"#end>
						
                        <td style="text-align:center;">
                            &nbsp;$!{item.projectCode}
                        </td>
                        <td style="text-align:center;">
                            <a style="color:#0066CC" href="$!{appServer}/home/supplydemand/detail.htm?projectCode=$!{item.projectCode}" target="_blank" title="$!{item.title}">
                                #if($!item.title.toString().length()>12)
                                    $!item.title.toString().substring(0,12)..
                                    #else
                                         &nbsp;$!{item.title}
							   #end
							   
                            </a>
                        </td>
						
                        <td style="text-align:center;">
							&nbsp;$!{item.projectTypeCodeDesc}
						</td>
						<td style="text-align:center;">
							&nbsp;$!{item.infoTypeDesc}
						</td>
						<td style="text-align:center;">
							##&nbsp;$commonUtils.getValuationUnit($!{item.price},$!{item.valuationUnit})$!{item.valuationUnitDesc}/$!{item.measureUnitDesc}
							&nbsp;$!{item.amount}
						</td>
						<td style="text-align:center;">
							&nbsp;$!{item.quantity}$!{item.measureUnitDesc}
                        </td>
                        <td style="text-align:center;">
                            &nbsp;$!dateTool.format("yyyy-MM-dd",$!{item.effectiveStartDate})
                        </td>
						 <td style="text-align:center;">
                            &nbsp;$!dateTool.format("yyyy-MM-dd",$!{item.effectiveEndDate})
                        </td>
            </tr>
        #end
        <tr>
            <td height="40" colspan="10">
                <div class="pages">
                    <div>
                        #pager($!{query},'searchForm')
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>