#set($layout = 'layout/default.vm')
#set($title = '我的供求信息')
<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/datePicker.css" />
<link href="${imageServer}/scripts/zTree/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script language="javascript" type="text/javascript" src="$!{imageServer}/scripts/My97DatePicker/WdatePicker.js" ></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/jquery.artDialog.source.js?skin=aero"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/artDialog.iframeTools.js"></script>
<script type="text/javascript" src="${imageServer}/scripts/zTree/jquery.ztree-2.6.min.js"></script>
<script type="text/javascript" src="${imageServer}/scripts/project/prjTypeMeta.js"></script>
<script src="$!{imageServer}/scripts/jquery.datePicker.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/jquery.bgiframe.js" type="text/javascript"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/supplydemand/list.js"></script>

<div class="wrapperRight">
	<div id="rightTab" class="t">
        <ul>
          <li><a class="cursor" href="#">供求信息</a></li>
        </ul>
	</div>
	<div class="right-body">
		##项目搜索区
        <div class="formBox" id="div_content">
			<form action="$!{appServer}/supplydemand/list.htm" id="searchForm" method="post" enctype="multipart/form-data" >
				<div class="content">
					<table class="c2" >
						<tr>
							<td>&nbsp;&nbsp;
								<label>&nbsp;项目名称：</label>
								<input type="text" class="inp" id="title" name="title" value="$!{query.title}" />
								&nbsp;&nbsp;&nbsp;&nbsp;
								<label>&nbsp;项目类型：</label>
								<input type="text" id="projectTypeName" readonly   name="projectTypeName"  class="inp" value="$!{query.projectTypeName}"  onclick="showPrjTypeSel(this,'','projectTypeCode','projectTypeName');"/>
								<input type="hidden" id="projectTypeCode"  name="projectTypeCode" value="$!{query.projectTypeCode}" readonly  />
								&nbsp;&nbsp;&nbsp;&nbsp;
								<label>&nbsp;信息状态:</label>
								<select name="status" id="status" class="select" style="width:100px;">
									<option value=""  >请选择</option>
									#foreach($status in $!{sdiStatus})
										#if($velocityCount <= 6)
                                        <option value="$status.value" #if($!{query.status} == $status.value ) selected #end>$status.name</option>
										#end
									#end
								</select>
							</td>
						</tr>
						<tr>
							<td>&nbsp;&nbsp;
								<label>&nbsp;项目编号：</label>
								<input type="text" class="inp" id="projectCode" name="projectCode" value="$!{query.projectCode}" />
								&nbsp;&nbsp;&nbsp;&nbsp;
								<label>&nbsp;信息类型：</label>
                                <select name="infoType" id="infoType" class="select" style="width:100px;">
									<option value=""  >请选择</option>
									#foreach($selectItem in $!{infoTypes})
										${selectItem.value}
										<option value="$selectItem.value" #if($!{query.infoType} == $selectItem.value ) selected #end>${selectItem.name}</option>
									#end
								</select>
							</td>
						</tr>
                        <tr>
                            <td>&nbsp;&nbsp;
								<label>&nbsp;有效开始时间范围：</label>
								<input type="text" id="effectiveStartDateFrom" name="effectiveStartDateFrom" value="$!dateTool.format("yyyy-MM-dd",$!{query.effectiveStartDateFrom})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'effectiveStartDateTo\')}'})" readonly="readonly" class="inp" />
								<label>-</label>
								<input type="text" id="effectiveStartDateTo" name="effectiveStartDateTo" value="$!dateTool.format("yyyy-MM-dd",$!{query.effectiveStartDateTo})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'effectiveStartDateFrom\')}'})" readonly="readonly" class="inp" />
								</td>
						</tr>
                        <tr>
							<td>&nbsp;&nbsp;
							<label>&nbsp;有效截止时间范围：</label>
								<input type="text" id="effectiveEndDateFrom" name="effectiveEndDateFrom" value="$!dateTool.format("yyyy-MM-dd",$!{query.effectiveEndDateFrom})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'effectiveEndDateTo\')}'})" readonly="readonly" class="inp" />
								<label>-</label>
								<input type="text" id="effectiveEndDateTo" name="effectiveEndDateTo" value="$!dateTool.format("yyyy-MM-dd",$!{query.effectiveEndDateTo})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'effectiveEndDateFrom\')}'})" readonly="readonly" class="inp" />
								<input type="submit" class="button-t3" value="搜 索" />
								<input type="button"  class="button-t3" onclick="clearMsg()" value="清 空" />
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>
		
		##项目数据展示
		<div id="list" class="listBox">
			<div>
				<table style="width:100%;">
					<tr style="height:20px;">
						<th class="list-order-field" id="prjCode" title="点击排序">项目编号</th>
						<th class="list-order-field" id="infoType" title="点击排序">信息类型</th>
                        <th class="list-order-field" id="prjName" style="width:25%;" title="点击排序">项目名称</th>
                        <th class="list-order-field" id="prjType" title="点击排序">项目类型</th>
						<th class="list-order-field" id="prjStartTime" title="点击排序">开始时间</th>
						<th class="list-order-field" id="prjEndTime" title="点击排序">截止时间</th>
						<th class="list-order-field" id="prjStatus" title="点击排序">信息状态</th>
                        <th >操作</th>
					</tr>
				#foreach($item in $!{query.data})
                    <tr id = "$!{item.id}" >
						<td style="text-align:center;">
							&nbsp;$!{item.projectCode}
						</td>
						<td style="text-align:center;">
							&nbsp;$!{item.infoTypeDesc}
						</td>
						<td style="text-align:center;">
							#if($!userAgent.haveFunction("BIZ_R_INFO_DETAIL"))
							<a style="color:#0066CC" target="_blank" href="$!{appServer}/supplydemand/detailInfo.htm?projectCode=$!{item.projectCode}" title="$!{item.title}">
							#end
								#if($!item.title.toString().length()>14)
                                     $!item.title.toString().substring(0,12)<span>...</span>
                                #else
                                   &nbsp;$!{item.title}
                                #end
							</a>
                        </td>
						<td style="text-align:center;">
							&nbsp;$!{item.projectTypeCodeDesc}
						</td>
						<td style="text-align:center;">
                            &nbsp;$!dateTool.format("yyyy-MM-dd",$!{item.effectiveStartDate})
                        </td>
						<td style="text-align:center;">
                            &nbsp;$!dateTool.format("yyyy-MM-dd",$!{item.effectiveEndDate})
                        </td>
						<td style="text-align:center;">
							&nbsp;$!{item.statusDesc}
                        </td>
						<td style="text-align:center;">
                            #if($!{item.status} == "C")
								#if($!userAgent.haveFunction("BIZ_U_INFO_EDIT"))
								<a style="color:#0066CC" href="$!{appServer}/supplydemand/edit.htm?proId=$!{item.id}" title="修改" >修改</a>
								#end
								#if($!userAgent.haveFunction("BIZ_D_INFO_DELETE"))
								<a style="color:#0066CC" href="#" onclick="deletePro1($!{item.id});" title="删除">删除</a>
								#end
								#if($!userAgent.haveFunction("BIZ_U_INFO_AUDIT"))
                                <a style="color:#0066CC" href="#" onclick="audit2($!{item.id});" title="提交审核">提交</a>
								#end
							#elseif($!{item.status} == "N")
								#if($!userAgent.haveFunction("BIZ_D_INFO_DELETE"))
								<a style="color:#0066CC" href="#" onclick="deletePro1($!{item.id});" title="删除">删除</a>
								#end
								#if($!userAgent.haveFunction("BIZ_U_INFO_OVERDUE"))
								<a style="color:#0066CC" href="#" onclick="overdue($!{item.id});" title="标记过期">标记过期</a>
								#end
							#elseif($!{item.status} == "F")
								#if($!userAgent.haveFunction("BIZ_D_INFO_DELETE"))
								<a style="color:#0066CC" href="#" onclick="deletePro1($!{item.id});" title="删除">删除</a>
								#end
								<a style="color:#0066CC" href="#" onclick="viewAuditInfo($!{item.id});" title="查看原因">查看原因</a>
							#elseif($!{item.status} == "O")
								#if($!userAgent.haveFunction("BIZ_D_INFO_DELETE"))
								<a style="color:#0066CC" href="#" onclick="deletePro1($!{item.id});" title="删除">删除</a>
								#end
							#elseif($!{item.status} == "B")
								<a style="color:#0066CC" href="#" onclick="viewAccuseInfo($!{item.id});" title="查看原因">查看原因</a>
							#else 
                                &nbsp;<a style="color:#0066CC" href="#" title="#"></a>
							#end
                       </td>
					</tr>
				#end
				</table>
			</div>
        	<div>
        		##分页宏
        		#pager($!{query},'searchForm')
			</div>
		</div>
	</div>
	<div class="b"></div>
</div>
							
