#set($layout = 'layout/error.vm')
#set($title = '操作失败')
<link rel="stylesheet" href="$!{imageServer}/styles/result.css" type="text/css">
    <div class="r-error">
		<h3>
			#if($!{message})
				$!{message}
			#else 
				操作失败！
			#end
		</h3>
		#if($!{message})
			
			<button class="button-s9" type="button" style="margin-top:20px;" onclick="javascript:window.location.href='$!{fengshanAppServer}/home/announcement/auctionAnnouncement/more.htm?projectId=$!{projectId}'">查看公告</button>
		#else 
			<button class="button-s9" type="button" style="margin-top:20px;" onclick="javascript:window.close();">关闭</button>
		#end
    </div>
