#set($layout = 'layout/default.vm')
<script language="javascript">
//取消按钮
function doback(){
	location.href = "$!{appServer}/baseset/usercredit/list.htm?dd="+new Date().getTime();
}
</script>
<div class="main">
<form action="$!{appServer}/baseset/usercredit/add.htm" id="smlsAdd" name="smlsAdd" method="post" >
  <h2>新增会员信用</h2>
  <div class="formBox">
    <div id="div-1">
    <div class="content">
      <table class="c2" style="width:800px;">
        <tr>
          <th style="width:100px;">会员帐号：</th>
          <td style="width:300px;">
			#springBind("userCredit.userAccount")
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
		  </td>
          <td><span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span></td>
        </tr>
        <tr>
          <th style="width:100px;">作为卖家：信用等级：</th>
          <td>
			#springBind("userCredit.sellerCreditLevel")
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="16"/>
            </td>
          <td><span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span></td>
        </tr>
        <tr>
          <th style="width:100px;">作为卖家：信用等级数字：</th>
          <td>
			#springBind("userCredit.sellerCreditNum")
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th style="width:100px;">作为卖家：好评数：</th>
          <td>
			#springBind("userCredit.sellerGoodNum")
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
          <td>&nbsp;</td>
        </tr>
		
		
		<tr>
          <th style="width:100px;">作为卖家：中评数：</th>
          <td>
			#springBind("userCredit.sellerMiddNum")
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
          <td>&nbsp;</td>
        </tr>
		<tr>
          <th style="width:100px;">作为卖家：差评数：</th>
          <td>
			#springBind("userCredit.sellerBadNum")
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
          <td>&nbsp;</td>
        </tr>
		<tr>
          <th style="width:100px;">作为卖家：服务态度：</th>
          <td>
			#springBind("userCredit.serviceAttitude")
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
          <td>&nbsp;</td>
        </tr>
		<tr>
          <th style="width:100px;">作为卖家：物流速度：</th>
          <td>
			#springBind("userCredit.logisticsSpeed")
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
          <td>&nbsp;</td>
        </tr>
		<tr>
          <th style="width:100px;">作为卖家：好评数：</th>
          <td>
			#springBind("userCredit.sellerGoodNum")
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
	</div>
	</div>
    <div class="form-but">
      <!-- 表单按钮区 -->
      <button type="submit" class="button-s4">确定</button>
	  <button type="button" class="button-s4" onclick="doback();">取消</button>
    </div>
</form>
</div>