#set($layout = 'layout/default.vm')
<script language="javascript">
//新增按钮
function doAdd(){
	window.location.href = "$!{appServer}/baseset/usercredit/add.htm?dd="+new Date();
}
</script>
<div class="main">
<h2>会员信用管理</h2>
<!-- 搜索模块 -->
<form id="usercreditList" action="$!{appServer}/baseset/usercredit/list.htm"  method="post">
  <div class="searchBox">
    <h5><span>搜索</span></h5>
    <table>
      <tr>
		#springBind("query.userAccount")
        <th>会员帐号：</th>
        <td>
			<input type="text" class="inp inp-w160" name="$!status.expression" value="$!{status.value}" maxlength="30"/>
		</td>
        <th>&nbsp;</th>
        <td><button type="submit" class="btn">搜 索</button></td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
</form>
<div class="tool">
	##if($!settlerAccess.has('S_B_MEMLEVSET_ADD'))
	##<span><a href="#" hidefocus="true" class="bt_add" onclick="doAdd();">新增</a></span>
	##end
</div>
<!-- 搜索模块 END -->
<div class="clear"></div>
    <!-- 列表模块 -->
    <div class="listBox"> 
      <h5><span>会员信用列表</span></h5> 
        <table width="100%"> 
            <tr>
                <th>会员帐号</th> 
                <th>卖家信用等级</th>
                <th>卖家信用值</th>
                <th>好评</th>
				<th>中评</th>
                <th>差评</th>
				<th>服务态度</th>
				<th>物流速度</th>
				<th>买家信用等级</th>
                <th>买家信用值</th>
				<th>好评</th>
				<th>中评</th>
                <th>差评</th>
                <th>操作栏</th>
            </tr>
			#if($query && $query.getData().size() > 0)
			#foreach($result in $query.getData())
            <tr>
              	<td><a href="$!{appServer}/user/info.htm?account=$!result.userAccount">$!result.userAccount</a></td>
				<td>##$!result.sellerCreditLevel
					#foreach($ml in $systemCreditLevelList)
						#if("$ml.creditLevel"=="$result.sellerCreditLevel")
							$ml.levelName
						#end
					#end
				</td>
				<td>$!result.sellerCreditNum</td>
                <td>$!result.sellerGoodNum</td>
                <td>$!result.sellerMiddNum</td>
                <td>$!result.sellerBadNum</td>
                <td>$!result.serviceAttitude</td>
                <td>$!result.logisticsSpeed</td>
                <td>##$!result.buyCreditLevel
					#foreach($ml in $systemCreditLevelList)
						#if("$ml.creditLevel"=="$result.buyCreditLevel")
							$ml.levelName
						#end
					#end
				</td>
                <td>$!result.buyCreditNum</td>
                <td>$!result.buyGoodNum</td>
                <td>$!result.buyMiddNum</td>
                <td>$!result.buyBadNum</td>
                <td>
					##<a href="$!{appServer}/baseset/usercredit/update.htm?id=$!result.id">修改</a>
					<a href="$!{appServer}/baseset/usercredit/view.htm?id=$!result.id">查看</a>
				</td>
            </tr>
			#end
			#end
        </table> 
		<div class="pages-box" >
			<div class="pages">
				#pager($query, "usercreditList")
            </div> 
        </div>
    </div> <!-- 列表模块 END -->   
  </div>
</div>
