
#set($layout = 'layout/home.vm')
#set($title = '账户激活')
<link rel="stylesheet" href="$!{imageServer}/styles/registe.css" type="text/css">
	
<div class="location">当前位置：<a href="$!{cmsServer}">主页</a>>账户激活</div>
<div class="hr10"></div>	
<div class="registe-c" >
	 <div class="activate-error">
		<div id="active" class="registe-box" style="border:0px;" >
			<div style="margin-left:200px;" >
				 <div class="inpmd">
    				<label> </label>
    				<div class="input"></div>
    		   </div> 
    		   	<div class="inpmd">
    				<div class="input" style="width:80%;">
						<p><span style="color:#FF2D2D;font-size:30px;font-weight:bold;">#if($!{errorMsg})$!{errorMsg}#else 激活失败！#end</span></p>
						<br />		请联系管理员。
    				 </div>
    		   </div> 
    		 
    		    <div class="inpmd">
    				<label> </label>
    				<div class="input"></div>
    		   </div> 
			    <div class="inpmd">
    				<label> </label>
    				<div class="input"></div>
    		   </div>  
			</div>
		</div>
	</div>
</div>
