<script language="javascript" type="text/javascript" src="$!{imageServer}/scripts/My97DatePicker/WdatePicker.js"></script>
<div class="main">
<form id="financingAdd" name="financingAdd" action="$!{appServer}/financing/add.htm" method="post">
  <div class="formBox">
    <h3><i></i><span>新增融资项目</span></h3>
    <div class="content">
      <table class="c4">
		<tr><th></th><td></td></tr>
		<tr>
          <th><span class="red">*</span>融资申请时间：</th>
          <td>#springBind("financing.gmtApply")
			<input type="text" class="inp inp-w300" style="width:160px" id="gmtApply" name="${status.expression}"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-01-01 00:00:00'})" value="$!{status.value}" readonly="readonly" class="date-pick"/>
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
          <th><span class="red">*</span>融资项目名称：</th>
          <td>#springBind("financing.title")
			<input type="text" class="inp inp-w300" style="width:300px" id="title" name="${status.expression}" value="$!{status.value}" />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
          <th><span class="red">*</span>融资人：</th>
          <td>#springBind("financing.userName")
			<input type="text" class="inp inp-w300" style="width:160px" id="userName" name="${status.expression}" value="$!{status.value}" />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
          <th>融资人联系电话：</th>
          <td>#springBind("financing.userTel")
			<input type="text" class="inp inp-w300" style="width:160px" id="userTel" name="${status.expression}" value="$!{status.value}" />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
          <th>融资人地址：</th>
          <td>#springBind("financing.userAddress")
			<input type="text" class="inp inp-w300" style="width:300px" id="userAddress" name="${status.expression}" value="$!{status.value}" />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
          <th>担保人：</th>
          <td>#springBind("financing.guaranteeName")
			<input type="text" class="inp inp-w300" style="width:160px" id="guaranteeName" name="${status.expression}" value="$!{status.value}" />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
          <th>担保人联系电话：</th>
          <td>#springBind("financing.guaranteeTel")
			<input type="text" class="inp inp-w300" style="width:160px" id="guaranteeTel" name="${status.expression}" value="$!{status.value}" />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
          <th>担保人地址：</th>
          <td>#springBind("financing.guaranteeAddress")
			<input type="text" class="inp inp-w300" style="width:300px" id="guaranteeAddress" name="${status.expression}" value="$!{status.value}" />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
          <th><span class="red">*</span>申请融资金额(元)：</th>
          <td>#springBind("financing.applyAmountDes")
			<input type="text" class="inp inp-w300" style="width:160px" id="applyAmountDes" name="${status.expression}" value="$!{status.value}" />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
          <th>贷款利率(%)：</th>
          <td>#springBind("financing.loanRateDes")
			<input type="text" class="inp inp-w300" style="width:160px" id="loanRateDes" name="${status.expression}" value="$!{status.value}" />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr>
          <th><span class="red">*</span>借款期限(天)：</th>
          <td>#springBind("financing.applyLimitDes")
			<input type="text" class="inp inp-w300" style="width:160px" id="applyLimitDes" name="${status.expression}" value="$!{status.value}" />
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr><th></th><td></td></tr>
		<tr>
          <th>备注：</th>
          <td>#springBind("financing.remark")
			<textarea style="width:300px;height:100px" id="remark" name="${status.expression}" >$!{status.value}</textarea>
			<font color="red"><label class="error">${status.errorMessage}</label></font>
		  </td>
        </tr>
		<tr><th></th><td></td></tr>
      </table>
    </div>
    <div class="form-but">
	  <button type="submit" class="button-s4">保存</button>
      <button type="button" class="button-s4" onclick="javascript:window.location.href='$!{appServer}/financing/list.htm'">取消</button>
    </div>
  </div>
</form>
</div>