#set($layout = 'layout/default.vm')
<script src="$!{appServer}/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="$!{appServer}/scripts/baseset/userlevelAdd.js" type="text/javascript"></script>
<script language="javascript">
//取消按钮
function doback(){
	location.href = "$!{appServer}/baseset/userlevel/list.htm?dd="+new Date().getTime();
}
function showLevel(){
	var integral = jQuery("#integral").val();
	jQuery.ajax({
        type: "POST",
        url: "$appServer.get('/baseset/userlevel/ajaxMemlevel.htm')",
        data: "integral=" + integral +"&dd="+new Date().getTime(),
        success: function(msg){
			if(msg!=null){
				var memberLevelObj = msg.memberLevel;
				var levelNameObj = msg.levelName;
				##alert(memberLevelObj+levelNameObj);
				jQuery("#showML option").each(function(i,o){
        			if(o.value==memberLevelObj){
        				o.selected=true;
						jQuery("#memberLevel").val(memberLevelObj);
        			}
        		});
			}
        }
    });
}


</script>
<div class="main">
<form action="$!{appServer}/baseset/userlevel/add.htm" id="smlsAdd" name="smlsAdd" method="post" >
  <h2>新增会员级别</h2>
  <div class="formBox">
    <div id="div-1">
    <div class="content">
      <table class="c2" style="width:800px;">
		<tr>
          <th style="width:120px;">会员帐号：</th>
          <td>
			#springBind("userLevel.userAccount")
			<input type="text" class="inp" id="$!status.expression" name="$!status.expression" value="$!{status.value}" maxLength="20"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th style="width:120px;">会员级别：</th>
          <td style="width:300px;">
			#springBind("userLevel.memberLevel")
			<input type="hidden" class="inp" id="$!status.expression" name="$!status.expression" value="$!status.value"/>
			<select id="showML" name="showML" disabled="true">
				#foreach($ml in $memLevelList)
				<option value="$!ml.memberLevel" #if("$!ml.memberLevel"=="$!userLevel.memberLevel")selected#end>$!ml.levelName</option>
				#end
            </select>
		  </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th style="width:120px;">积分：</th>
          <td>
			#springBind("userLevel.integral")
			<input type="text" class="inp" id="$!status.expression" name="$!status.expression" value="$!{status.value}" onBlur="showLevel();" maxLength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
            </td>
		  </td>
        </tr>
      </table>
    </div>
	</div>
	</div>
    <div class="form-but">
      <!-- 表单按钮区 -->
      <button type="submit" class="button-s4">确定</button>
	  <button type="button" class="button-s4" onclick="doback();">取消</button>
    </div>
</form>
</div>