#set($layout = 'layout/default.vm')
<script language="javascript">
//取消按钮
function doback(){
	location.href = "$!{appServer}/baseset/userlevel/list.htm?dd="+new Date();
}
</script>
<div class="main">
<input type="hidden" id="$!status.expression" name="$!status.expression" value="$!{status.value}" />
  <h2>查看会员级别配置</h2>
  <div class="formBox">
    <div id="div-1">
    <div class="content">
      <table class="c2" style="width:800px;">
		<tr>
          <th style="width:100px;">会员帐号：</th>
          <td>$!smls.userAccount</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th style="width:100px;">会员级别：</th>
          <td style="width:300px;">##$!smls.memberLevel
				#foreach($ml in $memLevelList)
    				#if("$!ml.memberLevel"=="$!smls.memberLevel")
    					$ml.levelName
    				#end
				#end
		  </td>
		  <td>&nbsp;</td>
        </tr>
        
        <tr>
          <th style="width:100px;">积分：</th>
          <td>$!smls.integral</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
    </div>
    </div>
    <div class="form-but">
      <!-- 表单按钮区 -->
      <button type="button" class="button-s4" onclick="doback();">返回</button>
    </div>
</div>
