#*
#set($layout = 'layout/login.vm')
##set($layout = 'layout/hall.vm') 
#set($title = '拍卖大厅授权')
<link href="$!{imageServer}/styles/common.css"  rel="stylesheet" type="text/css">
	<link href="$!{imageServer}/styles/auction.css"  rel="stylesheet" type="text/css">
<script src="$!{imageServer}/scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/auction/access.js" type="text/javascript"></script>
<script>
	var key= "$!{sKey}";
	var msec = "$!{msec}";
</script>

<div class="register">
    <div class="register-t"></div>
    <div class="register-c" style="padding:30px 0;">
        <div class="login-new" style="background:url() no-repeat; width:auto; padding-left:250px;">
			#if($!{sKey} == "300")
			 <h4><span></span></h4>
			<form  id="authorizdForm" name="authorizdForm" action="$!{appServer}/auction/access.htm" method="post">
               
					<div class="but-box">
					#springBind("hallJoin.projectCode")
    				<input type="hidden" name="${status.expression}" value="$!{status.value}" />
                    <label style="font-size:20px;" class="fl">观看授权码：</label>
    				#springBind("hallJoin.watchPassword")
    				<input type="text" class="inp fl" name="${status.expression}" value="$!{status.value}"  style="width:140px;height:20px;" />
    			   
    				##<label style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                  ##  <button class="login-btn" type="submit" onclick="$('#authorizdForm').submit();"><span>进入大厅</span></button>&nbsp;
					<a href="#" title="进入大厅"  onclick="$('#authorizdForm').submit();" class="dating fl"></a>&nbsp;
					<span class="err fl ml20">$!{status.errorMessage}</span>
    				##<span class="err">&nbsp;&nbsp;&nbsp;&nbsp;$!{message}</span>
    				</div>
            </form>
           #elseif($!{sKey} == "406")
			 <h4><span></span></h4>
			 <form  id="joinForm" name="joinForm" action="$!{appServer}/auction/access.htm" method="post">
					<div class="but-box">
					<label style="width:80px;" class="fl">&nbsp;</label>
                    <label style="font-size:20px;" class="fl">距拍卖开始还有:</label>
					<label id="timeArea" style="font-size:20px;color:#00DB00" class="fl">00时00分00秒</label>
					<br />
					#if($!{hallUserType} == "viewer")
						<a style="color:#0066CC" href="$!{fengshanAppServer}/auction/reviewer/reviewList.htm?projectCode=$!{hallJoin.projectCode}"  title="评审本项目有效竞价人">评审有效竞价人</a>
					#end
					#if($!{hallUserType} == "listinger_reviewer")
						<a style="color:#0066CC" href="$!{fengshanAppServer}/auction/reviewer/listerReviewList.htm?projectCode=$!{hallJoin.projectCode}"  title="评审本项目有效竞价人">评审有效竞价人</a>
					#end
    				#springBind("hallJoin.projectCode")
    				<input type="hidden" name="${status.expression}" value="$!{status.value}" />
    			   </div>
            </form>
			#end
        </div>
    </div>
    <div class="register-b"></div>
</div>
*#
#set($layout = 'layout/access.vm')
#set($title = '拍卖大厅授权')
<link href="$!{imageServer}/styles/common.css"  rel="stylesheet" type="text/css">
<script src="$!{imageServer}/scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/auction/access.js" type="text/javascript"></script>
<script>
	var key= "$!{sKey}";
	var msec = "$!{msec}";
</script>
<div class="body1000" >
       <div class="ready">
			#if($!{sKey} == "300")
			<p style="color:#00DB00;;font-size:26px;">观看拍卖活动需要授权</p>
			<form  id="authorizdForm" name="authorizdForm" action="$!{appServer}/auction/access.htm" method="post">
					#springBind("hallJoin.projectCode")
    				<input type="hidden" name="${status.expression}" value="$!{status.value}" />
                    #springBind("hallJoin.watchPassword")
					<p style="font-size:20px;">
						<span style="font-size:18px;" >授权码：</span>
						<input type="text" name="${status.expression}" value="$!{status.value}"  style="width:180px;height:30px;" />
						<span style="font-size:12px;color:red;">$!{status.errorMessage}</span>
					</p>
                    <p><span style="font-size:18px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<a href="#" style="width:133px; height:33px; display:inline-block;background:url($!{imageServer}/images/home/g_img07.gif) 0 -128px no-repeat;;"   onclick="$('#authorizdForm').submit();" title="进入大厅"></a>
					</p>
            </form>
           #elseif($!{sKey} == "406")
			 <p style="color:#00DB00;;font-size:26px;">拍卖尚未开始，请耐心等待</p>
			 <form  id="joinForm" name="joinForm" action="$!{appServer}/auction/access.htm" method="post">
                    <p style="font-size:20px;">剩余时间：<span id="timeArea" style="font-size:28px;color:red;" >00分00秒</span></p>
					#if($!{hallUserType} == "viewer")
						<p style="font-size:18px;"><a style="color:#0066CC" href="$!{fengshanAppServer}/auction/reviewer/reviewList.htm?projectCode=$!{hallJoin.projectCode}"  title="评审本项目有效竞价人">评审有效竞价人</a></p>
					#end
					#if($!{hallUserType} == "listinger_reviewer")
						<p style="font-size:18px;"><a style="color:#0066CC" href="$!{fengshanAppServer}/auction/reviewer/listerReviewList.htm?projectCode=$!{hallJoin.projectCode}"  title="评审本项目有效竞价人">评审有效竞价人</a></p>
					#end
    				#springBind("hallJoin.projectCode")
    				<input type="hidden" name="${status.expression}" value="$!{status.value}" />
					
            </form>
			#end
	   </div>
</div>