#set($title = '修改密码')
#set($layout = 'layout/default.vm')
<script src="$!{imageServer}/scripts/user/resetPassword.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>
<div class="wrapperRight">
	<div id="rightTab" class="t">
		<ul>
			<li><a class="cursor" href="#">登录密码修改</a></li>
        </ul>
    </div>
	<div class="right-body">
		#if($!{error} != 'init')
    		#if($!{error} == 'success')
                <div id="success" class="mag-t2">
                	修改成功
    			</div>
    		#else
                <div id="fail" class="mag-t1">
                	$!{error}
                </div>
			#end
		#end
		<div class="formBox">
			<form id="resetPasswordForm" action="/user/passwordreset.htm" method="POST">
    		<div class="content">
    			<table class="c2">
    				<tr>
    					<th>
    						<span class="error">*</span>请输入原密码：
                        </th>
    					<td>
    						<input type="password" id = "oldPassword" class="inp" name="oldPassword"/>
                        </td>
                    </tr>
    				<tr>
    					<th>
    						<span class="error">*</span>请输入新密码：
                        </th>
    					<td>
    						<input type="password" id = "newPassword" class="inp" name="newPassword"/>
                        </td>					
                    </tr>
    				<tr>
    					<th>
    						<span class="error">*</span>请再次输入新密码：
                        </th>
    					<td>
    						<input type="password" id = "newPasswordAgain" class="inp" name="newPasswordAgain" />
                        </td>					
                    </tr>
                </table>
            </div>
			<div class="form-but">
				<button type="button" class="button-t3" onclick="resetPassword();">提交</button>
            </div>
			</form>
        </div>
		<div class="b"></div>
    </div>
</div>