<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<title>$!{passwordTypeDesc}重置-中部林业产权交易服务系统</title>
</head>

<body>

<p>亲爱的$!{userAccount.name}</p>
<p>您的$!{passwordTypeDesc}被重置为：<span style="color:red"><strong>$!{newPassword}</strong></span></p>
<p>为确保您的账户安全，请及时点击以下链接登陆系统对您的$!{passwordTypeDesc}进行修改（若系统密码被重置，请用重置后的密码登陆）</p>
<a href="$!{fengshanDomain}" target="_blank">
	$!{fengshanDomain}
</a>
<p>(如果无法打开,请将链接复制到浏览器的地址栏中进行后续操作)</p>
<br />
<p>中部林业产权交易服务系统<br /></p>
<br/>网址:$!{fengshanDomain}
</body>
</html>
