#set($title = '评价管理')
<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/datePicker.css" />
<script src="$!{imageServer}/scripts/jquery.datePicker.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function() {
    	$("#beginTime").datePicker({clickInput:true,startDate:"1900-01-01"});  
    	$("#endTime").datePicker({clickInput:true,startDate:"1900-01-01"});
    });
</script>

<div class="wrapperRight">
	<div id="rightTab" class="t">
        <ul>
			<li><a class="cursor" href="$!{appServer}/evaluate/list/buyer.htm">来自买家的评价</a></li>
			<li><a href="$!{appServer}/evaluate/list/seller.htm">来自卖家的评价</a></li>
			<li><a href="$!{appServer}/evaluate/list/tobuyer.htm">对买家的评价</a></li>
			<li><a href="$!{appServer}/evaluate/list/toseller.htm">对卖家的评价</a></li>
		</ul>
    </div>
	<div class="right-body">
		<!--搜索站内信-->
		<div class="searchBox">
    		<form id="ListBuyerForm" action="$!{appServer}/evaluate/list/buyer.htm" onsubmit="return equalTime('beginTime','endTime');" method="POST">
    			<div class="content" >
					<h4><span>搜索评价</span></h4>
					<table class="c2">
						<tr>							
                            <th>评价：</th>
							<td>
								#springBind("query.rankValue")
                                <select name="${status.expression}" id="rankValue" style="width:100px;">
									<option value="" selected>请选择</option>
									#foreach($item in $!{evaluateList})
										<option value="$!{item.value}"  #if($item.value == $!{status.value}) selected #end >$!{item.name}</option>
									#end
                                </select>
                            </td>	
                            <th>评价时间：</th>
							<td>
								#springBind("query.beginTime")
								<input type="text" id="beginTime" name="$!{status.expression}" value="$!dateTool.format("yyyy-MM-dd",$!{query.beginTime})" readonly="readonly" class="date-pick" style="width:80px"/>-
								#springBind("query.endTime")
								<input type="text" id="endTime" name="$!{status.expression}" value="$!dateTool.format("yyyy-MM-dd",$!{query.endTime})" readonly="readonly" class="date-pick" style="width:80px" />
                            </td>
							<td>
								<button type="submit" class="button-t3">搜 索</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>	
		<!--站内信列表-->
		<div class="listBox">
			<h4><span>评价信息列表</span></h4>
			<table>
				<tr>
					<th width="15%">评价结果</th>
                    <th width="35%">评价内容</th>
                    <th width="25%">评价人</th>
                    <th width="10%">订单编号</th>
                    <th width="15%">评价时间</th>
                </tr>
				#if($query && $query.getData().size() > 0)
					#foreach($!list in $!query.getData())
						<tr>
							<td>$!{list.rankValueDesc}</td>
                            <td>&nbsp;$!{list.remark}</td>
                            <td>$!{list.creator}</td>
                            <td><a style="color:#0066CC" target="_blank" href="$!{appServer}/order/sell/detail.htm?orderNo=$!{list.orderNo}&url=/evaluate/list/buyer">$!{list.orderNo}</a></td>
                            <td>$!dateTool.format("yyyy-MM-dd H:m:s",$!{list.gmtCreate})</td>
                        </tr>
					#end
				#end
            </table>
    		<div class="pages-box" >
    			<div class="pages">
    				#pager($query, "ListBuyerForm")
                </div> 
            </div>
        </div>
    </div>
	<div class="b"></div>
</div>