<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/user/systemMessage.js" type="text/javascript"></script>

<div class="main">
	<h2>站内信查看</h2>
	<div class="formBox">
		<div class="content">
			<table class="c2">
				<tr>
                    <th>收件人：</th>
					<td  id="receAccount">
						$!{systemMessageText.receiveAccount}
                        <span id="more"><a href="JavaScript:getMore($!{systemMessageText.id},$!{systemMessageText.systemMessageId});">更多</a></span>
                    </td>
                </tr>
				<tr>
                    <th>发件人：</th>
					<td>
						$!{systemMessageText.operator}
                    </td>
                </tr>
				<tr>
                    <th>发送时间：</th>
					<td>
						$!dateTool.format("yyyy-MM-dd H:m:s",$!{systemMessageText.gmtCreate})
                    </td>
                </tr>
				<tr>
                    <th>站内信标题：</th>
					<td>
						#direct($!{systemMessageText.title})
                    </td>
                </tr>
				<tr>
                    <th>站内信内容：</th>
					<td>
						#direct($!{systemMessageText.content})
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-but">
			<!-- 表单按钮区 -->
			<button type="button" class="button-s4" onclick="deleteAll('$!{systemMessageText.id}');">删除</button>
			<button type="button" class="button-s4" onclick="history.go(-1);">返回</button>
        </div>
	</div>
</div>