#set($title = '操作成功')
<link rel="stylesheet" href="$!{imageServer}/styles/result.css" type="text/css">
<div class="c-success">  	
	#if($!{message} == 'inCancle')
        <h3>申请成功!您的资金账户信息如下：</h3>
		<table class="table-success">
            <tr>
                <th>会员账号：</th>
				<td>$!{account.account}</td>
                <th>资金账号：</th>
				<td>$!{account.fundAccount}</td>
			</tr>			
            <tr>
                <th>绑定银行：</th>
				<td>$!{account.bankDesc}</td>
                <th>银行账号：</th>
				<td>$!{account.bankCard}</td>						
			</tr>
        </table>
		<P>请您到您开户的银行销户然后系统将会为您消除平台上的账户</p>
	#else
        <h3>销户成功！<a href="$!{appServer}/logout.htm">点击此处退出平台</a></h3>
	#end
        ##<button class="button-s10" type="button" onclick="javascript:#if($!{url})window.location.href='$!{appServer}$!{url}.htm'#else history.go(-1)#end">返回</button>
       	##<p>相关操作：<a href="#">管理员首页</a> <a href="#">新增用户</a> <a href="#">用户列表</a></p> 
</div>
