#set($layout = 'layout/default.vm')
$iDemand.addCss('admin')
$iDemand.addCss('basic')
$iDemand.addJs('jquery')
$iDemand.addJs('jquery.validate')
$iDemand.addJs('hundsun.validate')
<SCRIPT >

$(document).ready(function(){

$('#form1').validate({
/* 设置验证规则 */
   rules: {
     password: {
	 required:true,
     isRightPassword: true
    },
    newPassword: {
	 required:true,
     isRightPassword: true,
	 isStrictPassword: true
    },
    confirmPassword: {
	 required:true,
     equalTo: "#newPassword"
    }
   },
   messages: {
     password: {
     required:"<span class='error'>请填写原密码</span>"
    },
    newPassword: {
     required:"<span class='error'>请填写新密码</span>"
    },
    confirmPassword: {
     required: "<span class='error'>请填写确认密码</span>",
     equalTo: "<span class='error'>两次密码输入不相同</span>"
    }
   },
   errorPlacement: function(error, element) {
			if(element.parent().children('span.error').length > 0) {
				element.parent().children('span.error').replaceWith(error)
			}else {
				error.insertAfter(element);
			}
	}
});
});

$(function(){
	var modifyPass = $("#modifyPass").val();
	if(modifyPass == 'Y'){
		alert("密码修改成功,请重新登录!");
		top.location = "$!appServer/system/logout.htm";
	}
});
</SCRIPT>

<body>
    <div class="main">

        <!-- 表单模块 -->
        <div class="formBox">

        	<h3><i></i><span>修改密码</span></h3>

			#if($!modifyPass == 'Y')
				<input type="hidden" id="modifyPass" value="Y">
			#end
        	<div class="content">
				<form id="form1" action="password_edit.htm" method="post">
        		<table class="c2">
            	<tr>
                	<th>原密码：</th>
                    <td>
						 #springBind("user.password")
						 <input type="password" id="password" name="${status.expression}" class="inp" maxlength="26"/><span class="red">*</span>
						 <span class="error">$!{status.errorMessage}</span>
					</td>
                </tr>
                <tr>
                	<th>新密码：</th>
                    <td>
						#springBind("user.newPassword")
						 <input type="password" id="newPassword" name="${status.expression}"  class="inp" maxlength="20"/><span class="red">*</span>
						 <span class="error">$!{status.errorMessage}</span>
					</td>
                </tr>
                <tr>
                	<th>确认新密码：</th>
                    <td><input type="password" id="confirmPassword" name="confirmPassword" class="inp" maxlength="20"/><span class="red">*</span><span class="error"> </span></td>
                </tr>
              </table>
             </form>
       	  </div>
            <div class="form-but"><!-- 表单按钮区 -->

            	<button type="button" onclick="$('#form1').submit()" class="button-s4">确认修改</button>
                <button type="button" class="button-s4" onclick="history.go(-1)">返回</button>

          	</div><!-- 表单按钮区 END -->


        </div> <!-- 表单模块 END -->

    </div>

</body>
