#set($layout = 'layout/default.vm')
<script language="javascript">
//取消按钮
function doback(){
	location.href = "$!{appServer}/project/setting/list.htm?dd="+new Date();
}
</script>
<div class="main">
  <h2>查看审核流程--保证金</h2>
    <div class="formBox">
    <div id="div-1">
    <div class="content">
      <table class="c2" style="width:800px;">
		
          <th style="width:150px;">项目类型：</th>
          <td>
			$!{projectBaseSetting.proTypeName}
		  </td>
          <td></td>
        </tr>
        <tr>
        <th >交易方式：</th>
          <td>
			$!{projectBaseSetting.tradingTypeName}
		  </td>
          <td></td>
        </tr>
		#*
        <tr>
		<th >会员级别：</th>
          <td>
			$!{projectBaseSetting.memberLevelName}
		  </td>
          <td></td>
        </tr>
        <tr><th >好评数(>=)：</th>
          <td>
			$!{projectBaseSetting.goodComment}
		  </td>
          <td></td>
        </tr>
        <tr><th >差评数(<=)：</th>
          <td>
			$!{projectBaseSetting.badComment}
		  </td>
          <td></td>
        </tr>
		*#
		 <tr><th >挂牌审核流程：</th>
          <td>
			$!{projectBaseSetting.listingCheckProcessNames}
		  </td>
          <td></td>
        </tr>
		 <tr><th >意向单审核流程：</th>
          <td>
			$!{projectBaseSetting.intentionCheckProcessNames}
		  </td>
          <td></td>
        </tr>
		 <tr><th >挂牌方交易保证金：</th>
          <td>
			$!{projectBaseSetting.listingJyProportion}#if($!{projectBaseSetting.listingJyProportion} > 0)%#end
		  </td>
          <td>&nbsp;</td>
        </tr>
		 <tr><th >下单方交易保证金：</th>
          <td>
			$!{projectBaseSetting.orderJyProportion}#if($!{projectBaseSetting.orderJyProportion} > 0)%#end
		  </td>
          <td>&nbsp;</td>
        </tr>
		<tr><th >卖方交收保证金：</th>
          <td>
			$!{projectBaseSetting.listingJsProportion}#if($!{projectBaseSetting.listingJsProportion} > 0)%#end
		  </td>
          <td>&nbsp;</td>
        </tr>
		 <tr><th >买方交收保证金：</th>
          <td>
			$!{projectBaseSetting.orderJsProportion}#if($!{projectBaseSetting.orderJsProportion} > 0)%#end
		  </td>
          <td>&nbsp;</td>
        </tr>
          <th >是否启用：</th>
          <td>
			#if($!{projectBaseSetting.enable} != "N") 启用
			#else	禁用     #end
		  </td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
	</div>
	</div>
    <div class="form-but">
      <!-- 表单按钮区 -->
      <button type="button" class="button-s4" onclick="doback();">返回</button>
    </div>
</div>
