<link rel="stylesheet" href="$!{imageServer}/styles/ui.css" type="text/css">
<script src="$!{imageServer}/scripts/jquery.ui.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/user/getAddress.js" type="text/javascript"></script>

<script language="javascript">
	/**$(function() {
		var area = new Area("$!{appServer}/ajax","$!{userAddress.province}","$!{userAddress.city}","$!{userAddress.area}",'province','city','area');
	});*/
</script>

<div class="wrapperRight">
	<div id="rightTab" class="t">
        <ul>
            <li><a class="cursor" href="#">积分等级</a></li>
			<li><a   href="$!{appServer}/user/level/credit.htm">信用等级</a></li>
        </ul>
	</div>
	<div class="right-body">
		<div class="formBox">
            <div class="content">
            	<table width="100%">
					<tr>						
						<td width="12.5%">
							<input type="text" id="linkman" value=""/>
						</td>
						<td width="12.5%">
							<input type="text" id="phone" value=""/>
						</td>
						<td width="12.5%">							
							<input type="text" id="province" value=""/>
						</td>
						<td width="12.5%">							
							<input type="text" id="city" value=""/>
						</td>
						<td width="12.5%">							
							<input type="text" id="area" value=""/>
						</td>
						<td width="12.5%">							
							<input type="text" id="address" value=""/>
						</td>
						<td width="12.5%">							
							<input type="text" id="zipCode" value=""/>
						</td>
						<td width="12.5%">							
							<input type="button" onclick="chooseAddress('S','linkman','phone','province','city','area','address','zipCode');" value="已有地址"/ >
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
	<div class="b"></div>
</div>
<div id="addressList">
</div>