#set($layout = '')
      <div id="head">
        <div class="headBox">
        
            <div class="headBox1">
                <a class="logo" href="#">LOGO</a>
                <div class="about">
                	<div class="back"><span><a href="$!{appServer}/logout.htm">退出</a></span></div>
                    <div class="welcome">欢迎您：$!{userAgent.name}</div>
                </div>
            </div>
            
            <div class="headBox2">
                <div class="l"></div>
                <div class="c">

                    <div id="menu">
                        <ul>
                            <li><a  href="$!{appServer}/index.htm">
									#if($!{userAgent.broker}||$!{userAgent.agent})
										服务中心平台
									#end
									#if($!{userAgent.middleMan})
										中间商平台
									#end
									#if($!{userAgent.marketMaker})
										批发商平台
									#end
							</a></li>
                            <li>
								#if($!{userAgent.broker}||$!{userAgent.agent})
									<a class="cursor" href="$!{appServer}/broker/passwd.htm">修改密码</a>
								#end
								#if($!{userAgent.middleMan})
									<a class="cursor" href="$!{appServer}/middleman/passwd.htm">修改密码</a>
								#end
								#if($!{userAgent.marketMaker})
									<a class="cursor" href="$!{appServer}/marketmaker/passwd.htm">修改密码</a>
								#end
								
							
							</li>                          
                        </ul>
                    </div>
                </div>
                <div class="r"></div>
            </div>
        </div>
    </div>