#set($layout = 'layout/blank.vm')
<link rel="stylesheet" href="$!{imageServer}/styles/base.css" type="text/css">
<link rel="stylesheet" href="$!{imageServer}/styles/admin.css" type="text/css">
<script language="javascript" type="text/javascript" src="$!{imageServer}/scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    var appServer = "$!{appServer}";
</script>
<div id="projectListChooseAreaId">
<div class="main" style="width:100%;">
	<form action="$!{appServer}/project/buyer/chooseList.htm" id="searchForm" method="post"  enctype="multipart/form-data"  >
		<input type="hidden" class="inp" id="listingType"   value="buy"  />
		<div class="searchBox">
			##<h5><span>搜索项目</span></h5>
			<table>
				<tr>
					<td >&nbsp;&nbsp;&nbsp;&nbsp;
						<label>&nbsp;项目名称:</label>
						<input type="text" class="inp" id="chooseTitle"  name="title" value="$!{query.title}"  />
					</td>
					<td>
						&nbsp;&nbsp;
						<label>&nbsp;项目编号:</label>
						<input type="text" class="inp" id="chooseCode"  name="code" value="$!{query.code}" />
					</td>
					<td>	
						<label>&nbsp;项目状态:</label>
						<select name="status"  id="chooseStatus" class="select" style="width:100px;">
							<option value=""  >请选择</option>
							#foreach($status in $!{pjStatus})
								<option value="$status.value" #if($!{query.status} == $status.value)  selected #end >$status.name</option>
							#end 
						</select>   	
					</td>
				</tr>
				<tr>
					<td  colspan="2" > 
						<label>挂牌结束时间:</label>
						<input type="text" id="li_end_form" name="listingEndTimeFrom"  value="$!dateTool.format("yyyy-MM-dd H:mm:ss",$!{query.listingEndTimeFrom})"      onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-01-01 00:00:00'})"    class="inp" style="width:80px;" readonly="readonly"  />
						<label>-</label>
						<input type="text" id="li_end_to"  name="listingEndTimeTo" value="$!dateTool.format("yyyy-MM-dd H:mm:ss",$!{query.listingEndTimeTo})"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-01-01 00:00:00'})"     class="inp" style="width:80px;" readonly="readonly" />
						<input type="button" class="button" id="projectListingQuery" value="搜 索" />
						<input type="button" class="button" id="reset" value="重 置" onclick="resetSoonAddCondition();" />
					</td>
				</tr>
			</table>
		</div>
	</form>
		<div class="clear"></div>
		<div class="listBox">
    			<table style="width:100%;">
                    <tr style="height:20px;">
						<th class="list-order-field" id="sqn" title="点击序号">序号</th>
                        <th class="list-order-field" id="prjCode" title="点击排序">项目编号</th>
                        <th class="list-order-field" id="prjName" style="width:25%;" title="点击排序">项目名称</th>
                        <th class="list-order-field" id="prjType" title="点击排序">项目类型</th>
                        <th class="list-order-field" id="prjDeadTime" title="点击排序">挂牌结束时间</th>
                        <th class="list-order-field" id="prjTradeType" title="点击排序">交易方式</th>
                        <th class="list-order-field" id="prjStatus" title="点击排序">项目状态</th>
                    </tr>
                    #foreach($item in $!{query.data})
                        <tr  #if($velocityCount%2==0) style="background-color:#FCFCFC;height:40px;" #else 
                                    style="background-color:#FFFFFF;height:40px;"#end>
									<td style="text-align:center;">
										${velocityCount}<input type="radio" name="sqn" value="$!{item.id}"/>
									</td>
                                    <td style="text-align:center;">
                                         &nbsp;$!{item.code}
                                    </td>
                                    <td style="text-align:center;" title="$!{item.title}">
                                            #if($!item.title.toString().length()>14)
                                                $!item.title.toString().substring(0,12)<span>..</span>
                                                #else
                                                     &nbsp;$!{item.title}
                                            #end
                                    </td>
                                    <td style="text-align:center;">
                                         &nbsp;$!{item.projectTypeCodeDesc}
                                    </td>
                                    <td style="text-align:center;">
                                         &nbsp;$!dateTool.format("yyyy-MM-dd",$!{item.listingEndTime})
                                    </td>
                                    <td style="text-align:center;">
                                         &nbsp;$!{item.tradingTypeDesc}
                                    </td>
                                    <td style="text-align:center;">
										 &nbsp;$!{item.statusDesc}
                                    </td>
                                   
                        </tr>
                    #end
    			</table>
        </div>
				#ajaxPager($query, "projectListChooseAreaId", "searchForm", "$!{appServer}/project/buyer/chooseList.htm")
		 <div class="clear"></div>
	</div>
</div>