#set($layout = 'layout/default.vm')
<div class="main">
  <!-- 表单模块 -->
  <div class="formBox">
    <h3><span>意向单详情</span></h3>
    <div class="content">
		#if($!{tradeWishOrder.tradeType} == "bidOrder" || $!{tradeWishOrder.tradeType} == "mulitBidOrder")
			#parse('/screen/tradeWishOrder/auction/auction.vm')
		#elseif($!{tradeWishOrder.tradeType} == "placeOrder")
			#parse('/screen/tradeWishOrder/placeOrder/place.vm')
		#elseif($!{tradeWishOrder.tradeType} == "transferOrder")
			#parse('/screen/tradeWishOrder/auction/transfer.vm')
		#elseif($!{tradeWishOrder.tradeType} == "tenderOrder")
			#parse('/screen/tradeWishOrder/auction/tender.vm')
		#end
    </div>
   
  </div>
  <!-- 表单模块 END -->
  <div class="form-but">
	<input type="button" class="button-s4" onclick="javascript:history.back(-1);" value="返回" />
  </div>
</div>