<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Cache-Control" content="no-store"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>$!{title}</title>
        <link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/auction.css" />
    </head>
    <body>
        $screen_content
        <div class="foot">
          #* 
		  <p>
				<a href="$!{cmsServer}">返回首页</a>
				| <a href="$!{cmsServer}/html/aboutUsCorp.html">关于我们</a>
				| <a href="$!{cmsServer}/html/employ/">诚聘英才</a>
				| <a href="$!{cmsServer}/html/adv/">广告服务</a>
				| <a href="$!{cmsServer}/html/aboutUsLink.html">联系我们</a>
			</p>
			*#
			<p>
				<span>
					中部林业产权服务（湖南）有限责任公司<br>
	          长沙市雨花区城南中路232号HNAFI大楼<br>
		电话：0731-85365478 传真： 0731-85365479 EMAIL：ccfrt@ccfrt.com.cn 湘ICP备13011572号
				</span>
			</p>
        </div>
    </body>
</html>
