#set($title = '交易公告 - 中部林业产权交易服务系统')
#set($keywords = '交易公告 - 中部林业产权交易服务系统')
#set($description = '交易公告 - 中部林业产权交易服务系统')
#set($layout = 'layout/home.vm')  
<script language="javascript" type="text/javascript" src="$!{imageServer}/scripts/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
#* 
$(function(){
	$(".list table tr:even").addClass("bg");
	$("#gmtCreateL").datePicker({clickInput : true,startDate:"2010-01-01"});
	$("#gmtCreateR").datePicker({clickInput : true,startDate:"2010-01-01"});
});
function checkQueryArgs() {
	var gmtCreateL = $("#gmtCreateL").val();
	var gmtCreateR = $("#gmtCreateR").val();
	if(!compareDate(gmtCreateL, gmtCreateR)) {
		alert("日期范围错误!搜索的起始时间应早于结束时间");
		$("#gmtCreateL").select();
		return false;
	}
	return true;
}
function compareDate(startDate, endDate) {
	return new Date(Date.parse(startDate.replace("-", "/"))) <= new Date(Date.parse(endDate.replace("-", "/")));
}
*#
</script>
<div class="w735 fl" style="width:100%">
    <div class="path mt10">当前位置：<a href="$!{cmsServer}">首页</a> &raquo; <a href="#">资讯动态</a> &raquo; <a href="#">市场动态</a></div>
	<div class="hr10"></div>
    <div class="sort">
    		交易公告搜索
    </div>
	<div class="ad_search">
    	<div class="content">
            <form action="$!{appServer}/home/announcement/list.htm" id="searchForm" method="post" onsubmit="document.charset='gbk';">
                <ul>
    				<li>
                        <div class="s_title">公告标题：</div>
                        <div class="s_content">#springBind("page.title")
                            <input type="text" name="${status.expression}"  class="inpt s_kd" value="$!{status.value}"/>
                        </div>
                    </li>
					<li>
                        <div class="s_content">公告类型：</div>
						<div class="s_content">
						#springBind("page.type")
                        <select name="${status.expression}"  style="width:82px">
							<option value="">请选择</option>
							#foreach($item in $!{announcementTypeList})
								<option value="$item.value" #if($item.value == $!{page.type}) selected #end>$item.name</option>
							#end
                      </select>
					  </div>
                    </li>
                    <li>
                        <div class="s_title">发布时间：</div>
                        <div class="s_content">
    						#springBind("page.gmtCreateL")
							<input type="text" id="gmtCreateL" name="$!{status.expression}" value="$!{status.value}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'2010-01-01'})" readonly="readonly" class="date-pick" style="width:82px"/>
                            - 
    						#springBind("page.gmtCreateR")
							<input type="text" id="gmtCreateR" name="$!{status.expression}" value="$!{status.value}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'gmtCreateL\')}'})" readonly="readonly" class="date-pick" style="width:82px"/>
                        </div>
                    </li>
                    <li>
                        <div class="s_title"></div>
                        <div class="s_content">
                            <input type="submit"  value="搜    索" class="bt" />
                        </div>
                    </li>
                </ul>
            </form>
    	</div>
	</div>
    <div class="box4 mt10" style="width:100%">
	<div class="hr10"></div>
    <div class="sort">交易公告列表</div>
    <div class="hr10"></div>
	<div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th>公告标题</th>
			<th>公告类型</th>
			<th>关联项目</th>
			<th>发布时间</th>
        </tr>
		 #if($!{page} && ${page.getData().size()} > 0)
			#foreach($announcement in $page.getData())
            <tr  #if($velocityCount%2==0) style="height:30px;background-color:#F0F0F0;" #else 
                        style="height:30px;background-color:#FFFFFF;"#end>
						
                        <td style="text-align:left;">
						   <ul><li>
                           <a style="color:#0066CC" href="$!{appServer}/home/announcement/info.htm?id=$!{announcement.id}" title="$!{announcement.title}">
        						#if($!{announcement.title.length()}>33)
                        			$!{announcement.title.substring(0,30)}...
                        		#else
                        			$!{announcement.title}	
                        		#end
        					</a>
							#if($page.getPageNo() == 1 && $velocityCount < 4)
                				<i class="up" style="background:url($!{imageServer}/images/home/gif-0316.gif) 0 0px no-repeat; display:inline-block; width:9px; height:15px;margin-left:3px;"></i>
                				<i class="new" style="background:url($!{imageServer}/images/home/gif-0314.gif) 0 0 no-repeat; display:inline-block; width:30px; height:11px; margin-left:3px;"></i>
                			#end
                       		</li></ul>
						</td>
                        <td style="text-align:center;">
                            &nbsp;$!{announcement.typeDesc}
                        </td>
						<td style="text-align:center;">
							<a style="color:#0066CC" href="$!{appServer}/home/detail.htm?id=$!{announcement.projectId}" target="_blank" title="$!{announcement.projectTitle}">
							 &nbsp;
							 #if($!{announcement.projectTitle.length()}>25)
                        			$!{announcement.projectTitle.substring(0,23)}...
                        	 #else
                        			$!{announcement.projectTitle}	
                        	 #end
                            </a>
                        </td>
						<td style="text-align:center;">
                            &nbsp;$!{dateTool.format("yyyy-MM-dd HH:mm:ss",$!{announcement.gmtCreate})}
                        </td>
            </tr>
        	#end
		 #else
			##<tr><td><p>没有找到符合条件的结果</p></td></tr>
		 #end
        <tr>
            <td height="40" colspan="10">
                <div class="pages">
                    <div>
                        #pager($!{page},'searchForm')
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
    </div>
</div>
  <div class="clear"></div>