#set($layout = 'layout/default.vm')
#set($title = '修改成功')

<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/jquery.artDialog.source.js?skin=aero"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/artDialog.iframeTools.js"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/supplydemand/list.js"></script>


<div class="wrapperRight">
	<div id="rightTab" class="t">
        <ul>
            <li>
                <a class="cursor" href="#">修改结果</a>
            </li>
        </ul>
	</div>
    <div  class="right-body">
    	<div class="formBox">
            <div id="auditDiv" class="mag-t2">
                <span>修改成功！</span>
    			<a style="color:#0066CC" href="$!{appServer}$!{reURL}" title="返回">返回</a>
    		</div>
    	</div> 
		<div>&nbsp;</div>
    </div>
	<div class="b"></div>
</div>