#set($layout = 'layout/default.vm')
#set($title = '会员管理')

<style>
span{color:red}
td span.err{ color:#F00;}
.formBox .c2{ width:900px;}
</style>
<script src="$!{imageServer}/scripts/user/register.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/area.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
    var area = new Area("$!{appServer}/ajax","$!{userAccount.province}","$!{userAccount.city}","$!{userAccount.area}",'pe_province','pe_city','pe_area');
    var area2 = new Area("$!{appServer}/ajax","$!{userAccount.province}","$!{userAccount.city}","$!{userAccount.area}",'en_province','en_city','en_area');
	});
	
	function go(){
    	window.location.href=appServer+"/user/list.htm";
    }
</script>

<div class="main">
	<h2>添加会员管理</h2>
	<form action="${appServer}/user/add.htm"  onsubmit="return validate();" method="post">
 	<div class="formBox">
		<div class="content">
			
			<h3>基本资料</h3>
			<table class="c3">
			<tr>
				<th>用户类型:</th>
				<td>
				#springBind("userAccount.type")
				<select id="type" name="${status.expression}" onchange="changeType();" style="width:100px;">
					#foreach($item in $!{userTypes})
						<option value="$!{item.value}"  #if($item.value == $!{status.value}) selected #end >$!{item.name}</option>
					#end
				</select>
				</td>
			</tr>
			<tr>
				<th><span>*</span>交易权限:</th>
				<td>
					#springBind("userAccount.userClass")
					<select id="pe_class" name="${status.expression}" style="width:100px;" onchange="changeClass(this.value);">
					<option value="">请选择</option>
					#foreach($item in $!{rolesList})
    					<option value="$!{item.value}" #if($item.value == $!{status.value}) selected #end>$!{item.name}</option>
    				#end
                    </select>
				<span id="err_pe_class" class="err"></span>
				<span class="err">${status.errorMessage}</span>
				</td>
			</tr>
			<tr>
				<th><span>*</span>登入账号:</th>
				<td>
				#springBind("userAccount.account")
				<input type="text" id="pe_account" name="${status.expression}" value="$!{status.value}" title="2~10位的长度">
				<span id="err_pe_account" class="err"></span>
				<span class="err">${status.errorMessage}</span>
				</td>
				 <th><span>*</span>注册邮箱:</th>
				 <td>
				 #springBind("userAccount.email")
				<input type="text" id="pe_email" name="${status.expression}" value="$!{status.value}" title="请填写活跃使用的邮箱" >
				<span id="err_pe_email" class="err"></span>
				<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
			<tr>
				<th><span>*</span>登入密码:</th>
				<td>
				#springBind("userAccount.password")
				<input type="password" id="pe_password" name="password" value="" title="登录密码由6~32位小、大写字母或数字组成">
				<span id="err_pe_password" class="err"></span>
    			<span class="err">${status.errorMessage}</span>		
				</td>	
				 <th><span>*</span>确认登入密码:</th>
				 <td>
				<input type="password" id="pe_passwordConfirm" name="passwordConfirm" value="">
				<span id="err_pe_passwordConfirm" class="err"></span>
				</td>
            </tr>
			<tr>
				<th><span>*</span>支付密码:</th>
				<td>
				#springBind("userAccount.fundPassword")
				<input type="password" id="pe_fundPassword" name="fundPassword" value="" title="登录密码由6~32位小、大写字母或数字组成">
				<span id="err_pe_fundPassword" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>	
				 <th><span>*</span>确认支付密码:</th>
				 <td>
				<input type="password" id="pe_fundPasswordConfirm" name="fundPasswordConfirm" value="">
				<span id="err_pe_fundPasswordConfirm" class="err"></span>
				</td>
            </tr>
			</table>
			
			<div id="personal">
			<h3>个人信息</h3>
			<table class="c3">
			<tr>
				<th><span>*</span>会员姓名:</th>
				<td>
				#springBind("userAccount.name")
				<input type="text" id="pe_name" name="${status.expression}" value="$!{status.value}" title="真实的姓名">
				<span id="err_pe_name" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
				<th><span>*</span>联系电话:</th>
				<td>
				#springBind("userAccount.mobile")
				<input type="text" id="pe_mobile" name="${status.expression}" value="$!{status.value}" title="确保能够及时联系的">
				<span id="err_pe_mobile" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
			<tr>
				<th><span>*</span>个人证件:</th>
				<td>
				#springBind("userAccount.certificateType")
				<select id="pe_certificateType" name="${status.expression}" style="width:100px;">
					<option value="">请选择</option>
					 #foreach($item in $!{peCertificateTypes})
					   	<option value="$!{item.value}"  #if($item.value == $!{status.value}) selected #end >$!{item.name}</option>
    				 #end
                    </select>
					<span id="err_pe_certificateType" class="err"></span>
					<span class="err">${status.errorMessage}</span>
				</td>
				<th><span>*</span>证件号码:</th>
				<td>
				#springBind("userAccount.certificateNum")
				<input type="text" id="pe_certificateNum" name="${status.expression}" value="$!{status.value}" title="请填写合法的证件号码">
				<span id="err_pe_certificateNum" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
			<tr>
				<th><span id="pe_bankSp"></span>开户行:</th>
				<td>
				#springBind("userAccount.bank")
				<select name="${status.expression}" id="pe_bank" style="width:100px;">
					<option value="">请选择</option>
				    #foreach($item in $!{banks})
    					<option value="$!{item.bankNo}"  #if($item.bankNo == $!{status.value}) selected #end >$!{item.description}</option>
    				#end
                    </select>
				<span id="err_pe_bank" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
				<th><span id="pe_bankCardSp">*</span>银行账户:</th>
				<td>
				#springBind("userAccount.bankCard")
				<input type="text" id="pe_bankCard" name="${status.expression}" value="$!{status.value}" title="交易将要绑定的银行账号">
				<span id="err_pe_bankCard" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
			<tr id="pe_area_select">
				<th><span>*</span>所在地域</th>
				<td colspan="3">
                    <select id="pe_province" name="province" style="width:120px;"></select>
    				<select id="pe_city" name="city" style="width:120px;"></select>
                    <select id="pe_area" name="area" style="width:120px;"></select>
					 #springBind("userAccount.area")
					<span class="err">${status.errorMessage}</span>
					<span id="err_pe_area" class="err"></span>
				</td>
            </tr>
			<tr>
				<th>详细地址:</th>
				<td>
				#springBind("userAccount.address")
				<input type="text" id="pe_address" name="${status.expression}" value="$!{status.value}">
    			<span class="err">${status.errorMessage}</span>
                </td>
				<th>邮编:</th>
				<td>
				#springBind("userAccount.zipCode")
				<input type="text" id="pe_zipCode" name="${status.expression}" value="$!{status.value}" title="邮编由6位数字组成">
    			<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
		   </table>
		   </div>
		   
		   
		  <div id="enterprise">
		   <h3>企业信息</h3>
		   <table class="c3">
		   <tr>
				<th><span>*</span>企业法人:</th>
				<td>
				#springBind("userAccount.name")
				<input type="text" id="en_name" name="${status.expression}" value="$!{status.value}">
				<span id="err_en_name" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
				<th><span>*</span>联系电话:</th>
				<td>
				#springBind("userAccount.mobile")
				<input type="text" id="en_mobile" name="${status.expression}" value="$!{status.value}">
				<span id="err_en_mobile" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
			 <tr>
				<th><span>*</span>企业全称:</th>
				<td>
				#springBind("userAccount.fullName")
				<input type="text" id="en_fullName" name="${status.expression}" value="$!{status.value}">
				<span id="err_en_fullName" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
				<th><span>*</span>企业电话:</th>
				<td>
				#springBind("userAccount.phone")
				<input type="text" id="en_phone" name="${status.expression}" value="$!{status.value}" title="确保能够及时联系的">
				<span id="err_en_phone" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
			<tr>
				<th><span>*</span>企业证件:</th>
				<td>
				#springBind("userAccount.certificateType")
				<select id="en_certificateType" name="${status.expression}" style="width:100px;">
					<option value="">请选择</option>
					#foreach($item in $!{enCertificateTypes})
    					<option value="$!{item.value}"  #if($item.value == $!{status.value}) selected #end >$!{item.name}</option>
    				#end
                    </select>
					<span id="err_en_certificateType" class="err"></span>
					<span class="err">${status.errorMessage}</span>
				</td>
				<th><span>*</span>证件号码:</th>
				<td>
				#springBind("userAccount.certificateNum")
				<input type="text" id="en_certificateNum" name="${status.expression}" value="$!{status.value}" title="请填写合法的证件号码">
				<span id="err_en_certificateNum" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
			<tr>
				<th><span id="en_bankSp"></span>开户行:</th>
				<td>
				#springBind("userAccount.bank")
				<select name="${status.expression}" id="en_bank" style="width:100px;">
					<option value="">请选择</option>
					#foreach($item in $!{banks})
    					<option value="$!{item.bankNo}"  #if($item.bankNo == $!{status.value}) selected #end >$!{item.description}</option>
    				#end
                    </select>
					<span id="err_en_bank" class="err"></span>
    				<span class="err">${status.errorMessage}</span>
				</td>
				<th><span id="en_bankCardSp"></span>银行账户:</th>
				<td>
				#springBind("userAccount.bankCard")
				<input type="text" id="en_bankCard" name="${status.expression}" value="$!{status.value}" title="交易将要绑定的银行账号" >
				<span id="err_en_bankCard" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
			<tr>
				<th><span>*</span>企业税号:</th>
				<td>
				#springBind("userAccount.taxNum")
				<input type="text" id="en_taxNum" name="${status.expression}" value="$!{status.value}">
				<span id="err_en_taxNum" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
				<th>企业门户:</th>
				<td>
				 #springBind("userAccount.homePage")
				<input type="text" id="en_homePage" name="${status.expression}" value="$!{status.value}">
				<span id="err_en_homePage" class="err"></span>
    			<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
			<tr>
				<th>经营范围:</th>
				<td>
				#springBind("userAccount.scope")
				<textarea rows="3" cols="25" id="scope" name="${status.expression}" title="请最多填写170个字">
				$!{status.value}
                </textarea>
				 <span class="err">${status.errorMessage}</span>
                </td>
				<th>简介:</th>
				<td>
				#springBind("userAccount.intro")
				<textarea rows="3" cols="25" id="intro" name="${status.expression}" title="请最多填写340个字">
				$!{status.value}
                </textarea>
				<span class="err">${status.errorMessage}</span>
                </td>
            </tr>
			<tr id="en_area_select">
				<th><span>*</span>所在地域</th>
				<td colspan="3">
                    <select id="en_province" name="province" class="c1" style="width:120px;"></select>
    				<select id="en_city" name="city" class="c2" style="width:120px;"></select>
                    <select id="en_area" name="area" class="c3" style="width:120px;"></select>
					 #springBind("userAccount.area")
					<span class="err">${status.errorMessage}</span>
					<span id="err_en_area" class="err"></span>
				</td>
            </tr>
			<tr>
				<th>详细地址:</th>
				<td>
				#springBind("userAccount.address")
				<input type="text" id="en_address" name="${status.expression}" value="$!{status.value}">
                <span class="err">${status.errorMessage}</span>
                </td>
				<th>邮编:</th>
				<td>
				#springBind("userAccount.zipCode")
				<input type="text" id="en_zipCode" name="${status.expression}" value="$!{status.value}" title="邮编由6位数字组成">
				<span class="err">${status.errorMessage}</span>
				</td>
            </tr>
			</table>
		</div>
		</div>
		
		<div class="form-but">
			<tr>
			<td>
			<input class="button-s4" type="submit" value="提交"> 
			</td>
			<td>
			<input class="button-s4" type="reset" value="重置"> 
			</td>
			<td>
			<input class="button-s4" type="button" value="返回" onclick="go();"> 
			</td>
			</tr>
        </div>
		</div>
	</form>
</div>