#set($layout = 'layout/blank.vm')
<div>
	<div id="addresslistBox" class="listBox">
		<table>
			<tr>
                <th>选择</th>
				<th>联系人</th>
				<th>联系电话</th>
                <th>仓库名称</th>
				<th>所在地区</th>
				<th>详细地址</th>
				<th>邮编</th>
            </tr>
			#if($!{addressList} != "")
    			#foreach($!list in $!addressList)
    				<tr>
                        <td><input type="radio" name="address" value="$!{list.id}" #if($!{list.isDefault}=='Y') checked="checked" #end/></td>
                        <td>$!{list.linkman}</td>
    					<td>$!{list.phone}</td>
                        <td>$!{list.storehouse}</td>
    					<td>$!{areaTool.getAreaFullName($!{list.area})}</td>
                        <td>$!{list.address}</td>
                        <td>$!{list.zipCode}</td>
                    </tr>
				#end
			#else
				<tr>
					<td colspan="6">
						没有已存在的地址，请手动输入
                    </td>
                </tr>
			#end
        </table>
	</div>
</div>