#set($layout = 'layout/blank.vm')
<link rel="stylesheet" href="$!{imageServer}/styles/basic.css" type="text/css">
<link rel="stylesheet" href="$!{imageServer}/styles/admin.css" type="text/css">

<div id="user">
<div class="main" style="width:100%;">
    <form name="userDialogForm" id="userDialogForm" action="$!{appServer}/user/dialog.htm"  method="post">
		<input type="hidden"  id="isRadio" name="isRadio" value="$!{isRadio}"/>
		<input type="hidden"  id="userRole" name="userRole" value="$!{query.userRole}"/>
        <div class="searchBox">
			#if(($!{query.userRole} != "auctioneer") && ($!{query.userRole} != "reviewer"))
    			<h5><span>搜索会员</span></h5>
            	<table>
            		<tr>
    					<th class="w110 fn tr">会员账号：</th>			
            			<td class="w110 fn tr">
    						#springBind("query.account")
    						<input type="text" class="inp" id="account" name="${status.expression}" value="$!{status.value}"/>
    					</td>
                        <th class="w110 fn tr">资金账号：</th>					
            			<td class="w110 fn tr">
    						#springBind("query.fundAccount")
    						<input type="text" class="inp" id="fundAccount" name="${status.expression}" value="$!{status.value}"/>
    					</td>
                        <td class="w110 fn tr"></td>
                    </tr>
    				<tr>
                        <th class="w110 fn tr">会员姓名：</th>
    					<td class="w110 fn tr">
    						#springBind("query.name")
    						<input type="text" class="inp" id="name" name="${status.expression}" value="$!{status.value}"/>
                        </td>
                		<th class="w110 fn tr">会员类型：</th>				
                        <td class="w110 fn tr">
    						#springBind("query.type")
                			<select class="select" id="type" name="type" value="$!{status.value}">
                				<option value="">请选择</option>
                				#foreach($item in $userTypeList)
                					<option value="$!{item.value}" #if($!{status.value} == $!{item.value}) selected #end>$!{item.name}</option>	
                				#end
                            </select>
                		</td>
                        <td class="w110 fn tr">
    						<input type="button" id="userListQuery" name="userListQuery" onclick="" class="btn" value="查询" />
    					</td>
                    </tr>
                </table>
			#else
    			<h5><span>#if($!{query.userRole} == "auctioneer")搜索拍卖师 #else 搜索评审员 #end</span></h5>
            	<table>
            		<tr>
    					<th class="w110 fn tr">账号：</th>			
            			<td class="w110 fn tr">
    						#springBind("query.account")
    						<input type="text" class="inp" id="account" name="${status.expression}" value="$!{status.value}"/>
    					</td>
                        <th class="w110 fn tr">姓名：</th>
    					<td class="w110 fn tr">
    						#springBind("query.name")
    						<input type="text" class="inp" id="name" name="${status.expression}" value="$!{status.value}"/>
                        </td>
                        <td class="w110 fn tr">
    						<input type="button" id="userListQuery" name="userListQuery" onclick="" class="btn" value="查询" />
    					</td>
                    </tr>
                </table>
			#end
        </div>
    </form>
	<div class="clear"></div>
	<div class="listBox">
		#if(($!{query.userRole} != "auctioneer") && ($!{query.userRole} != "reviewer"))
    		<table width="100%">
    			<tr>     
    				<th>选择</th>
    				<th>会员账号</th>
    				<th>资金账号</th> 
                    <th>会员名称</th>
    				<th>会员类型</th>
                    <th>会员角色</th>
    			</tr>
    			#if($!{query} && ${query.getData().size()} > 0)
    				#foreach($list in $query.getData())
        				<tr #if($!{velocityCount}%2 == 0) class="bg" #end>
    						<td style="text-align:center;width:10%;">
    							#if($!{isRadio} == "Y")
    							<input type="radio" name="userAccountRadio" value="$!{list.account}" onclick="addAccount('$!{list.account}','$!{list.fundAccount}');"/>
    							#elseif($!{isRadio} == "N")
    							<input type="checkbox" name="userAccountCheck" value="$!{list.account}" onclick="addAccount('$!{list.account}','$!{list.fundAccount}');"/>
    						    #end
    						</td>
                            <td>$!{list.account}</td>
            				<td>$!{list.fundAccount}</td>
            				<td>$!{list.name}</td>
            				<td>$!{list.userTypeDesc}</td>
                            <td>$!{list.userRoleDesc}</td>
                        </tr>
    				#end
    			#end
            </table>
		#else
    		<table width="100%">
    			<tr>     
    				<th>选择</th>
    				<th>账号</th>
                    <th>姓名</th>
                    <th>联系电话</th>
                    <th>邮箱</th>
    			</tr>
    			#if($!{query} && ${query.getData().size()} > 0)
    				#foreach($list in $query.getData())
        				<tr #if($!{velocityCount}%2 == 0) class="bg" #end>
    						<td style="text-align:center;width:10%;">
    							#if($!{isRadio} == "Y")
    							<input type="radio" name="userAccountRadio" value="$!{list.account}" onclick="addAccount('$!{list.account}','$!{list.fundAccount}');"/>
    							#elseif($!{isRadio} == "N")
    							<input type="checkbox" name="userAccountCheck" value="$!{list.account}" onclick="addAccount('$!{list.account}','$!{list.fundAccount}');"/>
    						    #end
    						</td>
                            <td>$!{list.account}</td>
            				<td>$!{list.name}</td>
                            <td>$!{list.mobile}</td>
                            <td>$!{list.email}</td>
                        </tr>
    				#end
    			#end
            </table>			
		#end
		#ajaxPager($query, "user", "userDialogForm", "$!{appServer}/user/dialog.htm")
    </div>
    <div class="clear"></div>
</div>
</div>