#set($layout = 'layout/default.vm')
<div class="welcome">
	<ul>
    	<li>您好，<strong>$!{userAgent.name}</strong>！ 欢迎您使用中部林业产权交易服务系统</li>
        <li>
			上次登录：<span>$!{userAgent.lastLoginTime}</span>
		</li>
        <li>
			登录IP：<span>$!{userAgent.lastLoginIP}</span>
		</li>
		
		#* 待办事宜
		#if($!{auditNumber}>0)
        <li>待审核会员：
			<span>
				<a href="$!{appServer}/user/audit/list.htm" title="现在去处理" color="red"><strong>($!{auditNumber})</strong></a>
			</span>
		</li>
		#end
		#if($!{buyProjectNumber}+$!{sellProjectNumber}>0)
		<li>待审核挂牌：
			<span>
				#if($!{buyProjectNumber}>0)
				<a href="$!{appServer}/project/buy/list.htm?status=$!{auditNode}&listingType=$!{buyType}" title="现在去处理" color="red"><strong>买牌($!{buyProjectNumber})</strong></a>
				&nbsp;
				#end
				#if($!{sellProjectNumber}>0)
				<a href="$!{appServer}/project/sell/list.htm?status=$!{auditNode}&listingType=$!{sellType}" title="现在去处理" color="red"><strong>卖牌($!{sellProjectNumber})</strong></a>
				#end
			</span>
		</li>
		#end
		#if($!{sellTwoNumber}+$!{buyTwoNumber}>0)
		<li>待审核意向单：
			<span>
				#if($!{sellTwoNumber}>0)
				<a href="$!{appServer}/tradeWishOrder/sell.htm?status=$!{twoStatus}&tradeDictor=$!{sellType}" title="现在去处理" color="red"><strong>销售($!{sellTwoNumber})</strong></a>
				&nbsp;
				#end
				#if($!{buyTwoNumber}>0)
				<a href="$!{appServer}/tradeWishOrder/buy.htm?status=$!{twoStatus}&tradeDictor=$!{buyType}" title="现在去处理" color="red"><strong>采购($!{buyTwoNumber})</strong></a>
				#end
			</span>
		</li>
		#end
		#if($!{checkGoodNumber}+$!{checkTicketNumber}>0)
		<li>待确认订单：
			<span>
				#if($!{checkGoodNumber}>0)
				<a href="$!{appServer}/order/list.htm?status=$!{checkGoodStatus}" title="现在去处理" color="red"><strong>验货确认($!{checkGoodNumber})</strong></a>
				&nbsp;
				#end
				#if($!{checkTicketNumber}>0)
				<a href="$!{appServer}/order/list.htm?status=$!{checkTicketStatus}" title="现在去处理" color="red"><strong>验票确认($!{checkTicketNumber})</strong></a>
				#end
			</span>
		</li>
		#end
		#if($!{annNumber}>0)
		<li>待发布公告：
			<span>
				<a href="$!{appServer}/operation/announcement/list.htm?status=$!{annStatus}" title="现在去处理" color="red"><strong>($!{annNumber})</strong></a>
			</span>
		</li>
		#end
		#if($!{tocNumber}>0)
		<li>待处理投诉单：
			<span>
				<a href="$!{appServer}/complain/list.htm?status=$!{tocStatus}" title="现在去处理" color="red"><strong>($!{tocNumber})</strong></a>
			</span>
		</li>
		#end
		#if($!{supNumber}>0)
		<li>待审核的供求信息：
			<span>
				<a href="$!{appServer}/supplyDemand/list.htm?status=$!{supStatus}" title="现在去处理" color="red"><strong>($!{supNumber})</strong></a>
			</span>
		</li>
		#end
		#if($!{supAccNumber}>0)
		<li>待处理的供求信息举报：
			<span>
				<a href="$!{appServer}/supplyDemand/accuse/list.htm?status=$!{supAccStatus}" title="现在去处理" color="red"><strong>($!{supAccNumber})</strong></a>
			</span>
		</li>
		#end
		*#
    </ul>
</div>