#set($layout = 'layout/home.vm')
#set($title = '会员激活')
<link rel="stylesheet" href="$!{imageServer}/styles/registe.css" type="text/css">
	
<div class="path mt10">当前位置：<a href="$!{cmsServer}">首页</a> &raquo; 账户激活</div>
<div class="hr10"></div>	
<div class="registe-c" >
	 <div class="activate-success">
		<div id="active" class="registe-box" style="border:0px;" >
			<div style="margin-left:200px;" >
				 <div class="inpmd">
    				<label> </label>
    				<div class="input"></div>
    		   </div> 
    		   	<div class="inpmd">
    				<div class="input" style="width:80%;">
						<p style="color:#009100;font-size:30px;font-weight:bold;">#if($!{message})$!{message}#else 激活成功！#end</p>
						<br />
    					温馨提示： 尊敬的用户<span style="color:#009100;font-size:15px;font-weight:bold;">$!{userAccount}</span>，您申请的是 
						#if($!{appRole})
							<span style="color:#009100;font-size:15px;font-weight:bold;">$!{appRole}</span>，当前为<span style="color:#009100;font-size:15px;font-weight:bold;">	普通用户</span>，
							待交易所审核通过后才能成为<span style="color:#009100;font-size:15px;font-weight:bold;">$!{appRole}</span>。
						#else
							<span style="color:#009100;font-size:15px;font-weight:bold;">	普通用户</span>，
						#end
						现在就去<a href="$!{appServer}/login.htm" style="color:#009100">&nbsp;登陆</a> 吧！
    				 </div>
    		   </div> 
    		 
    		    <div class="inpmd">
    				<label> </label>
    				<div class="input"></div>
    		   </div> 
			    <div class="inpmd">
    				<label> </label>
    				<div class="input"></div>
    		   </div> 
			    <div class="inpmd">
    				<label> </label>
    				<div class="input"></div>
    		   </div>  
			</div>
		</div>
	</div>
</div>

