#set($title = '评价买家')
<link rel="stylesheet" href="$!{appServer}/css/common.css" />
<script src="$!{imageServer}/scripts/user/evaluate.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>

<div class="wrapperRight">
	<div id="rightTab" class="t">
        <ul>
            <li><a class="cursor" href="#">对买家进行评价</a></li>
        </ul>
	</div>
	<div class="right-body">
		#if($!{result} == "disable")
            <div id="fail" class="mag-t1" > 
            	对不起,您不能进行评价
            </div>
		#else
    		<div class="formBox">
    			<form id="evaluateForm" name="sellerEvaluateForm" action="$!{appServer}/evaluate/seller.htm" method="post">
    				#springBind("request.projectListingCode")
    				<input type="hidden" id="projectListingCode" name="projectListingCode" value="$!{status.value}"/>
    				#springBind("request.orderNo")
    				<input type="hidden" id="orderNo" name="orderNo" value="$!{status.value}"/>
    				#springBind("request.userAccount")
    				<input type="hidden" id="userAccount" name="userAccount" value="$!{status.value}"/>				
    				<div class="content" >
            			<h4><span>评价详情</span></h4>
        				<div class="pinjia">
        					<table class="c2">
        						<tr>
                                    <th><span class="error">*</span>综合评价：</th>
        							<td>
        								<span>
        									#springBind("request.integral")
                                            <input type="radio" value="1" name="integral">好评</input>
    										<input type="radio" value="0" name="integral">中评</input>
    										<input type="radio" value="-1" name="integral">差评</input>
											<span class="red"></span>
        								</span>		
                                    </td>
                                </tr>
        						<tr>
                                    <th>详细描述：</th>
        							<td>
    									#springBind("request.remark")
        								<textarea name="remark" cols="40" rows="10">$!{remark}</textarea>
    									<span class="red"></span>
                                    </td>
                                </tr>
        					</table>
                        </div>
                    </div>
        			<!-- 表单按钮区 --> 
        			<div class="form-but">               
                    	<button type="submit" class="button-t3" >确定</button>
    					<button type="button" class="button-t3" onclick="goToList('sell');">返回</button> 
                  	</div>
                </form>
            </div>
		#end
    </div>
	<div class="b"></div>
</div>