##资金账户 开户
<script type="text/javascript">
     function openfund(){
		window.location = "$!{appServer}/fund/open_account_page.htm";
	}

	function closefund(){
		window.location = "$!{appServer}/fund/close_account_page.htm";
	}

</script>
<div class="main-right">
	<div class="basic">
		<div class="formbox">
			操作失败
		</div>
		<div class="clear">
			异常描述：$!{message}
		</div>
    </div>
</div>