#set($layout = 'layout/default.vm')
$iDemand.addCss('admin')
$iDemand.addCss('basic')
<script language="javascript">
	#if( $oldParentId && $oldParentId != '' )
		parent.authTreeIframe.refreshAsync( '$!{oldParentId}' );
	#end
	#if( $authority && $authority.parentId && $authority.parentId != '' )
		parent.authTreeIframe.refreshAsync( '$!{authority.parentId}' );
	#end
	#foreach( $parentId in $parentIdList )
		#if( $parentId && $parentId != '' )
			parent.authTreeIframe.refreshAsync( '$!{parentId}' );
		#end
	#end
   #if($!refreshAll)
   	parent.authTreeIframe.refresh();
   #end
function goUrl(){
	#if($!{url})
		window.location.href = '$!{appServer}$!{url}&target=main';
	#else
		history.go(-1);
	#end
}
</script>
<div class="r-success">
	<h3>#if($!{message})$!{message}#else 操作成功 #end</h3>
	#if($!{url})
	   <a class="button-s10 in_block" href="$!{appServer}$!{url}"  target="main"  >返回</a>
	#else
		<a class="button-s10 in_block" href="history.go(-1);" >返回</a>
	#end
  
	
	<!--<p>相关操作：<a href="#">管理员首页</a> <a href="#">新增用户</a> <a href="#">用户列表</a></p>--> 
</div>