#set($title = '个人资金账户信息')
#set($layout = 'layout/default.vm')
<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/funds/funds.js" type="text/javascript"></script>
<script>
	var submitMsg = "确定要从资金账户中转出吗？";
</script>
<div class="wrapperRight">
	<div id="rightTab" class="t">
        <ul>
            <li><a id="outCash" class="cursor" href="#">出金</a></li>
        </ul>
	</div>
	<div class="right-body">
		<div class="formBox">
			<div class="content">
				<h4><span>出金情况</span></h4>
				<form id="cashChangeForm" name="cashChangeForm"  action="$!{appServer}/funds/out.htm" method="POST">
					<input type="hidden" id="cashType" name="cashType" value="$!{cashType}"/>
    				<table class="c2">
    					<tr>
                            <th id="cashTitle">请输入金额：</th>
                            <td>
                                <input id="money" type="text" name="money" value="" class="inp"/>元<span class="red"></span>
							</td>
    					</tr>
						<tr>
							<th>
                            </th>
							<td>
    							<button type="submit" class="button-t3">确定</button>
                            </td>
                        </tr>
						<tr>
							<th>
                            </th>
							<td>
    							说明：从资金账户中把钱转出到绑定银行
                            </td>
                        </tr>
                    </table>
                </form>
				#*<h4><span>账户信息</span></h4>
				<div>
    				<table class="c2">
    					<tr>
                            <th>总资金：</th>
                            <td>$!{cashTradeAccount.allMoney}</td>
                        </tr>
    					<tr>
                            <th>可用资金：</th>
                            <td>$!{cashTradeAccount.freeMoney}</td>
                        </tr>
    					<tr>
                            <th>冻结资金：</th>
                            <td>$!{cashTradeAccount.frozenMargin}</td>
                        </tr>
						<tr>
                            <th>绑定银行：</th>
                            <td>$!{cashTradeAccount.bankName}</td>
                        </tr>
    					<tr>
                            <th>银行账号：</th>
                            <td>$!{cashTradeAccount.bankAccount}</td>
                        </tr>			
                    </table>
				</div>*#
			</div>
		</div>
		<div class="b"></div>
    </div>
</div>