#set($layout = 'layout/default.vm')
<script language="javascript">
//取消按钮
function doback(){
	location.href = "$!{appServer}/baseset/usercredit/list.htm?dd="+new Date().getTime();
}
</script>
<div class="main">
<form action="$!{appServer}/baseset/usercredit/update.htm" id="smlsAdd" name="smlsAdd" enctype="multipart/form-data" method="post" >
#springBind("userCredit.id")
<input type="hidden" id="$!status.expression" name="$!status.expression" value="$!{status.value}" />
  <h2>修改会员信用</h2>
  <div class="formBox">
    <div id="div-1">
    <div class="content">
      <table class="c2" style="width:800px;">
        <tr>
		#springBind("userCredit.memberLevel")
          <th style="width:100px;">会员级别：</th>
          <td style="width:300px;">
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
        </tr>
        <tr>
		#springBind("userCredit.levelName")
          <th style="width:100px;">等级名称：</th>
          <td>
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="16"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
            </td>
        </tr>
        <tr>
		#springBind("userCredit.integralStart")
          <th style="width:100px;">积分开始值：</th>
          <td>
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
        </tr>
        <tr>
		#springBind("userCredit.integralEnd")
          <th style="width:100px;">积分结束值：</th>
          <td>
			<input type="text" class="inp" name="$!status.expression" value="$!{status.value}" style="width:300px;" maxlength="8"/>
			<span class="red">*#if($!{status.isError()})${status.errorMessage}#end</span>
		  </td>
        </tr>
        <tr>
		#springBind("userCredit.remark")
          <th style="width:100px;">备注：</th>
          <td>
          <textarea id="$!status.expression" name="$!status.expression" class="textarea" style="height:200px;">$!status.value</textarea>
		  <span class="red">#if($!{status.isError()})${status.errorMessage}#end</span>
          </td>
        </tr>
        <tr>
		#springBind("userCredit.imgName")
          <th style="width:100px;">图片：</th>
          <td>
			<input type="file" id="uploadFile" name="uploadFile" value="$!{status.value}"/>
			<br/>
			#if(${userCredit.imgName})
				<img src="$!uploadServer$!userCredit.imgName" />
			#end
			<span>(图片格式必须为jpg,jpeg,gif,png)</span><font color="red">$!{fileuploadError}#if($!{status.isError()})${status.errorMessage}#end</font>
		  </td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
    </div>
    </div>
    <div class="form-but">
      <!-- 表单按钮区 -->
      <button type="submit" class="button-s4">确定</button>
      <button type="button" class="button-s4" onclick="doback();">取消</button>
    </div>
</form>
</div>
