#set($title = '卖家投诉工单')
<script src="$!{imageServer}/scripts/complain/add.js" type="text/javascript"></script>
<div class="wrapperRight">
        <div id="rightTab" class="t">
            <ul>
                <li>
                    <a class="cursor" href="#">卖家投诉工单</a>
                </li>
            </ul>
        </div>
        <div class="right-body">
            <div class="formBox">
                <form id="complainForm" name="complainForm" action="$!{appServer}/complain/sell/add.htm" method="post" enctype="multipart/form-data" onsubmit="return validate();">	
						<div class="content" >
							#if(${availableCcTypes})
								<table class="c2">
									<tr>
										<th>投诉订单：</th>
										<td>
											$!{order.orderNo}
											#springBind("tradeOrderCc.orderNo")
											<input type="hidden" id="orderNo" name="${status.expression}" value="$!{order.orderNo}" class="inp" />
										</td>
									</tr>
									<tr>
										<th>被投诉方：</th>
										<td>买方&nbsp;&nbsp;
											$!{order.buyerAccount}
										</td>	
									</tr>
									<tr>
										<th>可选投诉类型：</th>
										<td>
											#springBind("tradeOrderCc.ccType")
											#foreach($item in $!{availableCcTypes})
											<input type="radio" name="${status.expression}" value="$item.value" #if($!{tradeOrderCc.ccType} == $item.value ) checked="checked" #elseif($velocityCount ==1)checked="checked" #end  />$item.name
											#end 
										</td>	
									</tr>
									<tr>
										<th style="vertical-align:top;"><span class="error">*</span>投诉原因：</th>
										<td style="valign:top;">
											#springBind("tradeOrderCc.descript")
											##<input type="hidden" name="${status.expression}" value="测试"/>
												<textarea id="descript"  name="${status.expression}"  style="width:300px;height:50px;">$!{status.value}</textarea>
												<span id="descriptErr" class="error"> $!reasonError</span>
												<br /><span>投诉原因为必填项且字数不要超过170个字</span>
										</td>	
									</tr>
									<tr>
										<th>附件：</th>
										<td>
											<input type="file" id="uploadFile" name="uploadFile" />
											<br /><span>请上传小于6M的文件，如果有多个文件请打包后上传</span>
										</td>
									</tr>
								</table>
								<div class="form-but">          
									<button type="submit" class="button-t3">提交</button>
									<button type="reset" class="button-t3">重置</button>         
								</div> 
							#else
								<table class="c2">
										<tr>
											<td>
												<span>对不起，当前订单已不可投诉！</span>
											</td>
										</tr>
									</table>
							#end
						</div>
				</form>
            </div>
        </div>
		<div class="b"></div>
    </div>
