#set($title = '资金明细')
#set($layout = 'layout/default.vm')
<script language="javascript" type="text/javascript" src="$!{imageServer}/scripts/My97DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="$!{imageServer}/scripts/funds/fundDetail.js"></script>

<div class="wrapperRight">
	<div id="rightTab" class="t">
        <ul>
            <li><a  class="cursor"  href="#">资金明细</a></li>
        </ul>
	</div>
	<div class="right-body">
		<div class="formBox">
			<div class="content">
				<!--按日期搜索报表信息-->
				<h4><span>按日期查询</span></h4>
				<form id="searchForm" name="searchForm" action="$!{appServer}/funds/detail.htm" onsubmit="return checkSubmit()" method="POST" >
				<table class="c2">
					<tr>							
                        <th>开始日期：</th>
						<td>
							#springBind("query.startDate")
							<input type="text" id="$!{status.expression}" name="$!{status.expression}" value="$!{status.value}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endDate\')}'})" readonly="readonly" class="date-pick" style="width:140px"/>
						</td>
						<th>结束日期：</th>
						<td>
							#springBind("query.endDate")
							<input type="text" id="$!{status.expression}" name="$!{status.expression}" value="$!{status.value}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startDate\')}'})" readonly="readonly" class="date-pick" style="width:140px"/>
							##yyyy-MM-dd HH:mm:ss
						</td>
						<td width="30%">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="submit" class="button-t3" >搜 索</button>
						</td>
                    </tr>
                </table>
				</form>
				<!--资金明细列表-->
        		<div class="listBox">
        			<h4><span>资金明细列表</span></h4>
        			<table>
        				<tr>
        					<th width="15%">资金账户</th>
                            <th width="15%">时间</th>
                            <th width="25%">交易类型</th>
                            <th width="10%">交易金额</th>
                            <th width="15%">交易后账户余额</th>
                        </tr>
        				#if($query && $query.getData().size() > 0)
        					#foreach($!list in $!query.getData())
        						<tr id="$!{list.id}" #if($!{list.status} == 'Y') bgcolor="#F0F0F0" #end>
									<td>$!{list.fundAccount}</td>
        							<td>$!dateTool.format("yyyy-MM-dd H:m:s",$!{list.gmtCreate})</td>
                                    <td>$!EnumTransCode.get($!{list.transCode})</td>
									#set($amount = $!list.amount/100+"."+$!list.amount%100)
                                    <td>$!commonTool.getMoneyDesc($!{list.amount}) 元</td>
                                    <td>$!commonTool.getMoneyDesc($!{list.postAmount}) 元</td>
                                </tr>
        					#end
        				#end
                    </table>
            		<div class="pages-box" >
            			<div class="pages">
            				#pager($query, "searchForm")
                        </div> 
                    </div>
                </div>
				<!--资金明细 end-->
		</div>
		<div class="b"></div>
    </div>
    </div>
</div>