#set($layout = 'layout/blank.vm')
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		<title>挂牌笔数曲线图</title>
    	<script type="text/javascript">
			var statisAjaxUrl = "$!{appServer}/$!{url}"
		</script>
		<script src="$!{imageServer}/scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
		<script src="$!{imageServer}/scripts/highcharts/highcharts.src.js" type="text/javascript" charset="utf-8"></script>
		<script src="$!{imageServer}/scripts/highcharts/modules/exporting.js" type="text/javascript" charset="utf-8"></script>
		<script src="$!{imageServer}/scripts/charts/line.js" type="text/javascript"></script>
	 </head>
	<body>
		<div id="container" style="width: 242px; height: 248px;"></div>		
	</body>
</html>
