#set($title = '待评审项目列表')
<link rel="stylesheet" href="$!{imageServer}/styles/personal/common.css" />
<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/datePicker.css" />
<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/ui.css" />
<script src="$!{imageServer}/scripts/jquery.datePicker.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/jquery.ui.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/jquery.bgiframe.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/order/list.js" type="text/javascript"></script>
<div class="wrapperRight">
	<div id="rightTab" class="t">
        <ul>
            <li><a class="cursor" href="#">待评审项目列表</a></li>
        </ul>
    </div>
    <div class="right-body">
        <form id="searchForm" action="$!{appServer}/auction/reviewer/waituserprolist.htm" method="post">
		<div class="searchBox">
    		<table>
                <tr>
					#springBind("query.projectCode")
                    <th>项目编号：</th>
                    <td><input type="text" class="inp" name="${status.expression}" 
            			value="$!{status.value}" style="width:140px"/></td>
					#**
					<th>开始日期：</th>
						#springBind("query.listingStartTimeFrom")
                    <td><input type="text" class="inp" id="startDate" name="${status.expression}" readonly="readonly" value='$!dateTool.format("yyyy-MM-dd",$!{status.value})'/> - 
						#springBind("query.listingStartTimeTo")
						<input type="text" class="inp" id="endDate" name="${status.expression}" readonly="readonly" value='$!dateTool.format("yyyy-MM-dd",$!{status.value})' />
					</td>
					**#
					<td><button type="submit" class="button-t3">查 询</button></td>
                </tr>
				 
    		</table>
		</div> <!-- 查询模块 END -->
        </form>
		
		 ##项目数据展示
		<div class="listBox">
			<div>
				<table style="width:100%;">
					<tr>
						<th class="list-order-field" id="prjCode" title="点击排序">项目编号</th>
                        <th class="list-order-field" id="prjName" style="width:25%;" title="点击排序">项目名称</th>
                        <th class="list-order-field" id="prjType" title="点击排序">项目类型</th>
                        <th class="list-order-field" id="prjStartTime" title="点击排序">竞价开始时间</th>
                        <th class="list-order-field" id="prjTradeType" title="点击排序">交易方式</th>
                        <th class="list-order-field" id="prjStatus" title="点击排序">项目状态</th>
						<th>操作</th>
					</tr>
					#foreach($item in $!{query.data})
						<tr  #if($velocityCount%2==1) class="bg"   #end style="text-align:center;">
                            <td> &nbsp;$!{item.projectCode}</td> 
                            <td> &nbsp;<a style="color:#0066CC" target="_blank" href="$!{appServer}/home/detail.htm?projectCode=$!{item.projectCode}">$!{item.projectTitle}</a></td> 
							<td> &nbsp;$!{item.projectTypeName}</td>
							<td> &nbsp;$!{item.bidStartTime}</td>
							<td> &nbsp;$!EnumTradingTypeMap.get($!item.tradingType)</td>
							<td> &nbsp;$!EnumProjectStatusMap.get($!item.projectStatus)</td>
							<td>&nbsp;
							#if($item.hallActive)	
    							<a style="color:#0066CC" href="$!{appServer}/auction/reviewer/listerReviewList.htm?projectCode=${item.projectCode}" title="评审项目有效竞价人">评审</a>
    							#if($item.projectCode && $!item.tradingType=="mulitBidOrder")
    							<a style="color:#0066CC" href="$!{appServer}/auction/reviewer/freebid.htm?projectCode=$!item.projectCode&from=user&returnUrl=auction/reviewer/waituserprolist.htm" title="查看评审记录">评审记录</a>
    							#end
							#end
							</td>
						</tr>
					#end
				</table>
			</div>
			<div>
				##分页宏
				#pager($!{query},'searchForm')
			</div>
		</div>
	</div>
	<div class="b"></div>
</div>
