#set($title = '买家投诉管理')
<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/datePicker.css" />
<script src="$!{imageServer}/scripts/jquery.datePicker.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/complain/list.js" type="text/javascript"></script>
<div class="wrapperRight">
	<div id="rightTab" class="t">
            <ul>
                <li>
                    <a class="cursor" href="#">发起的买家投诉</a>
                </li>
				#if($!userAgent.haveFunction("BIZ_R_ORDERCC_BUYER_COMPLAINED_LIST"))
				 <li>
                    <a  href="$!{appServer}/complain/buy/complained.htm?_m_=10005">收到的卖家投诉</a>
                </li>
				#end
            </ul>
    </div>
    <div class="right-body">
        ##项目搜索区
        <div class="formBox" id="div_content">
            <form action="$!{appServer}/complain/buy/complain.htm" id="searchForm" method="post" >
                <div class="content">
                  <table class="c2" >
						<tr>
                            <td >&nbsp;&nbsp;&nbsp;&nbsp;
								<label>&nbsp;投诉单编号:</label>
								<input type="text" class="inp" id="orderCcNum"  name="orderCcNum" value="$!{query.orderCcNum}"  />
								&nbsp;&nbsp;&nbsp;&nbsp;
								<label>&nbsp;订单编号:</label>
								<input type="text" class="inp" id="orderNo"  name="orderNo" value="$!{query.orderNo}"  />
								&nbsp;&nbsp;&nbsp;&nbsp;
								<label>&nbsp;投诉单状态:</label>
								<select id="status" name="status"  class="select" style="width:100px;">
                                    <option value="">请选择</option>
                                    #foreach($item in $!{status})
                                        <option value="$item.value" #if($!{query.status} == $item.value)  selected #end >$item.name</option>
                                    #end 
                                </select>
                            </td>
                        </tr>
                        <tr>
							<td style="width:100%;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<label>&nbsp;投诉时间:</label>
								<input type="text" class="inp" id="complain_start_from" name="gmtCreateFrom"  value="$!dateTool.format("yyyy-MM-dd",$!{query.gmtCreateFrom})" style="width:80px;" readonly="readonly" />
								<label>-</label>
								<input type="text" class="inp" id="complain_start_to" name="gmtCreateTo" value="$!dateTool.format("yyyy-MM-dd",$!{query.gmtCreateTo})" style="width:80px;" readonly="readonly" />
								&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="submit" class="button-t3" value="搜索" />
								<input type="button" class="button-t3" onclick="clearMsg()" value="清 空" />
							</td>
						</tr>
					</table>
					
				</div>
			</form>
		</div>
		
		 ##数据展示
		<div class="listBox">
			<div>
				<table style="width:100%;">
					<tr>
                        <th class="list-order-field" id="ccNum" title="点击排序">投诉单编号</th>
                        <th class="list-order-field" id="orderNum" title="点击排序">订单编号</th>
						<th class="list-order-field" id="ccStartor" title="点击排序"> 发起人</th>
                        <th class="list-order-field" id="ccTime" title="点击排序">投诉时间</th>
                        <th class="list-order-field" id="ccStatus" title="点击排序">状态</th>
                        <th >操作</th>
					</tr>
					#foreach($item in $!{query.data})
						<tr  #if($velocityCount%2==0) style="height:40px;background-color:#FCFCFC;" #else 
                                style="height:40px;background-color:#FFFFFF;"#end>
                                <td style="text-align:center;">
                                    &nbsp; <a style="color:#0066CC" href="$!{appServer}/complain/detail.htm?orderCcNum=$!{item.orderCcNum}" target="_blank" title="查看">$!{item.orderCcNum}</a>
                                </td>
                                
                                <td style="text-align:center;">
                                    &nbsp; <a style="color:#0066CC" href="$!{appServer}/complain/order/detail.htm?orderNo=$!{item.orderNo}" target="_blank"  title="查看"> $!{item.orderNo}</a>
                                </td>
								<td style="text-align:center;">
									 &nbsp;$!{item.ccStartorAccount}
                                </td>
                                
								<td style="text-align:center;">
                                     &nbsp;$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{item.gmtCreator})
                                </td>
                                <td style="text-align:center;">
                                    &nbsp; $!{item.statusDesc}
                                </td>
								
                                <td style="text-align:center;">
                                     &nbsp;<a style="color:#0066CC" href="$!{appServer}/complain/detail.htm?orderCcNum=$!{item.orderCcNum}" target="_blank" title="查看">查看</a>
                                </td>
						</tr>
					#end
				</table>
			</div>
			<div>
				##分页宏
				#pager($!{query},'searchForm')
			</div>
		</div>
	</div>
	<div class="b"></div>
</div>
