#set($title = '挂牌项目 - 中部林业产权交易服务系统')
#set($keywords = '挂牌项目 - 中部林业产权交易服务系统')
#set($description = '挂牌项目 - 中部林业产权交易服务系统')
#set($layout = 'layout/home.vm')  
<script language="javascript" type="text/javascript" src="$!{imageServer}/scripts/My97DatePicker/WdatePicker.js" ></script>
<link href="${imageServer}/scripts/zTree/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/jquery.artDialog.source.js?skin=aero"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/artDialog.iframeTools.js"></script>
<script type="text/javascript" src="${imageServer}/scripts/zTree/jquery.ztree-2.6.min.js"></script>
<script type="text/javascript" src="${imageServer}/scripts/project/prjTypeMeta.js"></script>
<script type="text/javascript" src="${imageServer}/scripts/home/list.js"></script>
<script type="text/javascript">
$(function(){
	$(".list table tr:even").addClass("bg");
});
</script>
<div class="path mt10">当前位置：<a href="$!{cmsServer}">首页</a> &raquo; <a href="$!{appServer}/home/list.htm">交易中心</a></div>
<div class="hr10"></div>
<div class="sort">
		挂牌项目搜索
</div>
<div class="ad_search">
    <div class="content">
        <form action="$!{appServer}/home/list.htm" id="searchForm" method="post" onsubmit="document.charset='gbk';">
            <ul>
				<li>
                    <div class="s_title">项目分类：</div>
                    <div class="s_content">
                        <input type="text" id="projectTypeName" readonly   name="projectTypeName"  class="inpt s_kd" value="$!{query.projectTypeName}"  onclick="showPrjTypeSel(this,'','projectTypeCode','projectTypeName');"/>
						<input type="hidden" id="projectTypeCode"  name="projectTypeCode" value="$!{query.projectTypeCode}" readonly  />
						
                    </div>
                </li>
                <li>
                    <div class="s_title">项目名称：</div>
                    <div class="s_content">
                        <input type="text" id="title" name="title"  class="inpt s_kd" value="$!{query.title}" />
                    </div>
                </li>
                <li>
                    <div class="s_title">项目编号：</div>
                    <div class="s_content">
                        <input type="text" id="code" name="code"  class="inpt s_kd" value="$!{query.code}" />
                    </div>
                </li>
                <li>
                	<div class="s_title">挂牌方向：</div>
                    <div class="s_content">
                      <select name="listingType" id="listingType">
                        <option value="">请选择</option>
						#foreach($item in $!{listingTypes})
							<option value="$item.value" #if($item.value == $!{query.listingType}) selected #end>$item.name</option>
						#end
                      </select>
                    </div>
				</li>
				#*
				<li>
                    <div class="s_title">仓库名称：</div>
                    <div class="s_content">
                        <input type="text" id="storehouse" name="storehouse"  class="inpt s_kd" value="$!{query.storehouse}" />
                    </div>
                </li>
				*#
                <li>
                    <div class="s_title">交收时间：</div>
                   <div class="s_content">
						<input type="text" id="delivery_from" name="deliveryTimeFrom" value="$!dateTool.format("yyyy-MM-dd",$!{query.deliveryTimeFrom})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'2010-01-01'})" readonly="readonly" class="date-pick" style="width:82px"/>
                       - 
						<input type="text" id="delivery_to" name="deliveryTimeTo" value="$!dateTool.format("yyyy-MM-dd",$!{query.deliveryTimeTo})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'delivery_from\')}'})" readonly="readonly" class="date-pick" style="width:82px"/>
                    </div>
				</li>
                <li>
                    <div class="s_title">结束时间：</div>
                    <div class="s_content">
                        ##<input type="text" name="listingEndTimeFrom" id="li_end_form" class="inpt d_kd"  value="$!dateTool.format("yyyy-MM-dd",$!{query.listingEndTimeFrom})" readonly="readonly" />
						<input type="text" id="li_end_form" name="listingEndTimeFrom" value="$!dateTool.format("yyyy-MM-dd",$!{query.listingEndTimeFrom})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'2010-01-01'})" readonly="readonly" class="date-pick" style="width:82px"/>
                        - 
                        ##<input type="text" name="listingEndTimeTo" id="li_end_to" class="inpt d_kd" value="$!dateTool.format("yyyy-MM-dd",$!{query.listingEndTimeTo})" readonly="readonly" />
						<input type="text" id="li_end_to" name="listingEndTimeTo" value="$!dateTool.format("yyyy-MM-dd",$!{query.listingEndTimeTo})" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'li_end_form\')}'})" readonly="readonly" class="date-pick" style="width:82px"/>
                    </div>
                </li>
                <li>
                    <div class="s_title"></div>
                    <div class="s_content">
                        <input type="submit"  value="搜   索" class="bt" />
						<input type="button" onclick="clearMsg()" value="重  置"  class="bt" />
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
<div class="hr10"></div>
<div class="sort">
		挂牌项目列表[点击栏目名称排序]
</div>
<div class="hr10"></div>
<div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th class="list-order-field" id="prjCode" title="点击排序"><a>项目编号</a></th>
            <th class="list-order-field" id="prjName" style="width:15%;" title="点击排序"><a>项目名称</a></th>
			<th class="list-order-field" id="unitPrice" title="点击排序"><a>挂牌参考价</a></th>
			<th class="list-order-field" id="quantity" title="点击排序"><a>数量</a></th>
			<th class="list-order-field" id="listType" title="点击排序"><a>挂牌方向</a></th>
			##<th class="list-order-field" id="standard" title="点击排序"><a>标准规格</a></th>
			<th class="list-order-field" id="prjTradeType" title="点击排序"><a>交易方式</a></th>
			<th class="list-order-field" id="prjType" title="点击排序"><a>类目</a></th>
			<th class="list-order-field" id="deliveryDate" title="点击排序"><a>交收时间</a></th>
			##<th class="list-order-field" id="warehouse" style="width:10%;" title="点击排序"><a>仓库</a></th>
        </tr>
        #foreach($item in $!{query.data})
            <tr  #if($velocityCount%2==0) style="height:30px;background-color:#F0F0F0;" #else 
                        style="height:30px;background-color:#FFFFFF;"#end>
						
                        <td style="text-align:center;">
                            &nbsp;$!{item.code}
                        </td>
                        <td style="text-align:center;">
                            <a style="color:#0066CC" href="$!{appServer}/home/detail.htm?projectCode=$!{item.code}" target="_blank" title="$!{item.title}">
                                #if($!item.title.toString().length()>12)
                                    $!item.title.toString().substring(0,12)..
                                    #else
                                         &nbsp;$!{item.title}
							   #end
							   
                            </a>
                        </td>
						<td style="text-align:center;">
							#if("$!{item.projectTypeCode}"=="0|3")
								&nbsp;$!commonUtils.getValuationUnitDesc($!{item.listingPrice},$!{item.valuationUnit})(总价)##/$!{item.measureUnitDesc}
							#else
								&nbsp;$!commonUtils.getValuationUnitDesc($!{item.listingPrice},$!{item.valuationUnit})	/$!{item.measureUnitDesc}
							#end
                        </td>
                        <td style="text-align:center;">
							#if("$!{item.projectTypeCode}"=="0|3")
    							&nbsp;$!{item.forestryQuantityDes}
							#else
    							&nbsp;$!{item.quantity}$!{item.measureUnitDesc}
							#end
                        </td>
						
                        <td style="text-align:center;">
							 &nbsp;$!{item.listingTypeDesc}
                        </td>
						#*
                        <td style="text-align:center;">
                             &nbsp;$!{item.breedStandard}
                        </td>
						*#
                        <td style="text-align:center;">
							 &nbsp;$!{item.tradingTypeDesc}
                        </td>
                        <td style="text-align:center;">
                             &nbsp;$!{item.projectTypeCodeDesc}
                        </td>
						 <td style="text-align:center;">
                            &nbsp;$!dateTool.format("yyyy-MM-dd",$!{item.deliveryDate})
                        </td>
						#*
						 <td style="text-align:center;" title="$!{item.storehouse}" >
							#if($!item.storehouse.toString().length()>8)
                                    $!item.storehouse.toString().substring(0,8)..
                                    #else
                                        &nbsp;$!{item.storehouse}
                                #end
                        </td>
						*#
            </tr>
        #end
        <tr>
            <td height="40" colspan="10">
                <div class="pages">
                    <div>
                        #pager($!{query},'searchForm')
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
