body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,label,img,span{margin:0; padding:0;}
body{font-size:12px; font-family:"宋体",Arial, Helvetica, sans-serif; color:#3d3d3d; background:#fff;}
h1,h2,h3,h4,h5,h6{font-size:12px;}
img{border:0; vertical-align:middle;}
em,i{font-style:normal;}
ol,ul{list-style-type:none;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#f00; text-decoration:none;}
input, select, label{ vertical-align:middle;}

/*公用*/
.w980{ width:980px; margin:0 auto;}
.clr{ clear:both;}
.mt20{ margin-top:20px;}
.none{display:none;}
.c-0c900f,a.c-0c900f{ color:#0c900f;}
.c-f00,a.c-f00{ color:#f00;}
/*topbar*/
.topbar { height:27px; line-height:27px; background:#3f3f3f;}
.topbar .topbar-wrap,.topbar .topbar-wrap a { color:#fff;}
.topbar .topbar-wrap a:hover { color:#f90; text-decoration:underline;}
.topbar .topbar-wrap .top-link { float:left;}
.topbar .topbar-wrap .top-menu { float:right;}
/*header*/
.header { background:#e60000 url(../images/vbg.gif) repeat-x;}
.header .banner { background:url(../images/banner_bg.jpg) no-repeat;height:129px; padding:25px 10px 0 10px;width:960px; margin:0 auto;}
.header .banner a.logo{ width:495px; height:90px; display:block;overflow:hidden;text-indent:-9999px;}
.header .nav { height:41px; border-top:solid 1px #fcabab; position:relative;}
.header .nav .subnav {background:url(../images/vbg.gif) 0 -235px repeat-x; width:980px; height:38px; top:41px; overflow:hidden; position:absolute;}
.header .nav .subnav ol{ display:none;}
.header .nav .subnav li{height:38px; float:left; padding:0 10px; background:url(../images/ico-1.gif) 0 15px no-repeat;}
.header .nav .subnav li,.header .nav .subnav li a,.header .nav .subnav li a span{ color:#333; font-size:12px;line-height:30px;font-family:"宋体";}
.header .nav .subnav li a:hover,.header .nav .subnav li a:hover span { background:none; color:#e60000;}
.header .nav ul li{ width:98px; height:41px; float:left;}
.header .nav ul li a,.header .nav ul li a span{ display:block; line-height:41px; color:#fff; font-family:"微软雅黑"; text-align:center; font-size:16px;}
.header .nav ul li a:hover{ background:#ca0505;}
.header .nav ul li.cur{ background:url(../images/vbg.gif) 0 -557px repeat-x;}
.header .nav ul li.cur a,.header .nav ul li.cur a:hover{ background:url(../images/vbg.gif) 0 -620px no-repeat;}
.header .nav ul li.cur a span{ background:url(../images/vbg.gif) right -683px no-repeat;display:block;height:41px; color:#333;}
.header .search { background:url(../images/vbg.gif) 0 -235px repeat-x; height:38px; overflow:hidden;}
.header .search .search-wrap .hot{ width:540px; height:20px; line-height:20px; overflow:hidden;float:left; margin-top:8px;}
.header .search .search-wrap .hot a{ color:#e60000;}
.header .search .search-wrap .search-right { width:400px; float:right; text-align:right; padding-top:5px;}
.header .search .search-wrap .search-right .search-txt{ width:200px; height:21px; line-height:21px; padding-left:5px; border:solid 1px #c8c8c7;}
.header .search .search-wrap .search-right .search-select{ width:100px; height:23px;}
.header .search .search-wrap .search-right .search-btn { width:52px; height:23px; line-height:23px; border:none; background:url(../images/ico-2.gif) no-repeat; color:#e60000; cursor:pointer;}
/*main*/
.main { margin-top:20px;}
.main .main-left{ width:719px; float:left;}
.main .main-left .news-focus { width:294px; height:258px; padding:4px 4px 0px 4px; float:left; overflow:hidden; background:#e60000 url(../images/ico-3.gif) right 247px no-repeat;}
.main .page-left{border:solid 1px #dfdcdc; padding:15px;width:689px; float:left;}
.main .main-right,.main .page-right { width:241px; float:right;}

/* 焦点图切换 */
#picBox{width:292px; height:229px; overflow:hidden; position:relative; border:solid 1px #f7c36f; background:#fff;}
.picBox-con{width:292px; height:229px; overflow:hidden;}
#picBox ul#show_pic{ height:292px;}
#picBox ul#show_pic li{ float:left; height:229px;}
#picBox ul#show_pic li img{ display:block; width:292px; height:229px;}
#icon_num{ position:absolute; bottom:10px; right:5px;}
#icon_num li{ float:left; background:url(../images/ico-2.gif) no-repeat -20px -48px;width:19px; height:19px; line-height:19px;color:#fff; text-align:center; cursor:pointer; margin-right:5px;}
#icon_num li:hover,#icon_num li.active{ background:url(../images/ico-2.gif) no-repeat 0 -48px; color:#fff;}
#div_tx { width:288px; height:25px; overflow:hidden;}
#div_tx li { float:left;}
#div_txt,#div_txt a{color:#fff; font-weight:600; text-align:center; display:block; line-height:25px;}

/*公用盒子*/
.listbox{ background:#fff;}
.listbox .listbox-title { height:34px; line-height:34px; background: url(../images/vbg.gif) 0 -273px repeat-x; padding-right:10px;}
.listbox .listbox-title h3{ overflow:hidden; color:#fff;float:left; font-size:14px; padding-left:20px;}
.listbox .listbox-title a.more{ float:right; color:#fff;}
.listbox .listbox-list { overflow:hidden;padding:15px 15px; border:solid 1px #eec2c3; border-top:none; }
.listbox .listbox-list li { background:url(../images/ico-1.gif) 0px 10px no-repeat; text-indent:10px;}
.listbox .listbox-list li a{ line-height:24px;}

.tabbox{ background:#fff;border:solid 1px #eec2c3; border-top:none;}
.tabbox .tabbox-title { height:38px; line-height:38px; background: url(../images/vbg.gif) 0 -351px repeat-x; padding-right:10px;padding-left:10px;}
.tabbox .tabbox-title li{ overflow:hidden; color:#fff;float:left; font-size:14px;height:38px; text-align:center; padding:0 15px;font-weight:600;}
.tabbox .tabbox-title li.hover{ background:url(../images/vbg.gif) 0 -390px repeat-x; border: solid 1px #e60000; border-width:0 1px;  color:e60000;}
.tabbox .tabbox-title li.hover a{ color:#e60000;}
.tabbox .tabbox-title a.more{ float:right; color:#e60000; line-height:38px;}
.tabbox .tabbox-list { overflow:hidden;padding:10px 15px 10px 15px;  }
.tabbox .tabbox-list li { background:url(../images/ico-1.gif) 0px 10px no-repeat; text-indent:10px;}
.tabbox .tabbox-list li span.time{ float:right; color:#7d7d7d;}
.tabbox .tabbox-list li a{ line-height:24px;}
.tabbox span.more2{ float:right;}
.tabbox span.more2 a{ color:#e60000;}
.tabbox .tabbox-table table th{ background:url(../images/vbg.gif) 0 -460px repeat-x; height:33px; border-bottom:solid 1px #efc5c5; text-align:left; padding-left:10px;}
.tabbox .tabbox-table table td{ height:27px; line-height:27px; padding-left:10px;}
.tabbox .tabbox-table table tr.odd,.tabbox .tabbox-table table tr.odd a{ color:#e60000;}
.tabbox .tabbox-table table tr.even{ background:#f6f6f6;}
.tabbox .tabbox-table a.lookup{color:#e60000;}
.tabbox .tabbox-pic {padding:20px 0px 20px 20px;height:118px; width:697px; overflow:hidden; }
.tabbox .tabbox-pic li{ width:120px; float:left; margin-right:18px;}
.tabbox .tabbox-pic li p{ margin-top:5px; text-align:center;}
.tabbox .tabbox-pic li a{ line-height:18px;}
.tabbox .tabbox-flink {padding:25px 0px 20px 50px;height:140px; }
.tabbox .tabbox-flink li{ width:130px; float:left; margin-right:20px;height:80px;}
.tabbox .tabbox-flink li img{ border:solid 1px #ccc; padding:3px;}
.tabbox .tabbox-flink li a{ line-height:22px;}
.tabbox .tabbox-title-link { height:36px; line-height:36px; background: url(../images/vbg.gif) 0 -352px repeat-x; padding-right:5px;padding-left:10px; border-top:solid 2px #e60000;}
.tabbox .tabbox-title-link li{ overflow:hidden; color:#fff;float:left; font-size:14px;height:38px; text-align:center; padding:0 15px;}
.tabbox .tabbox-title-link li.hover,.tabbox .tabbox-title-link li.hover a{ color:#e60000; font-weight:600;}
.tabbox .tabbox-title-link a.more{ float:right; color:#e60000; line-height:38px;}
.tabbox .tabbox-tab { height:25px; padding:15px 15px 0px 15px;}
.tabbox .tabbox-tab span{ display:block; float:left; padding:5px 15px; font-weight:600; cursor:pointer;}
.tabbox .tabbox-tab span.hover {background:#e60000; color:#fff;}

/*左侧*/
.main .main-left .dongtai { width:395px;height:262px; margin-left:20px; float:left; overflow:hidden;}
.main .main-left .zhengce { width:348px; float:left;}
.main .main-left .rongzianli{ width:348px; float:left; margin-left:19px;}
.main .main-left .zhezuoqiye{}
/*右侧版块*/
.main .main-right .qiugou .listbox-list{ height:198px; overflow:hidden;}
.kefu .kefu-list{ background:url(../images/tel_bg.gif) right bottom no-repeat; padding:15px;border:solid 1px #eec2c3; line-height:25px;}
/*footer*/
.footer{ background:#ececec; text-align:center;}
.footer .daohang{ background:#e60000; height:35px; line-height:35px;}
.footer .daohang,.footer .daohang a{color:#fff; }
.footer .banquan{ line-height:25px; padding:10px;}

/*内页*/
.list .hd{ height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#222222; border-bottom:solid 1px #dfdcdc; padding:0 5px;}
.list .hd span{ font-size:12px; font-weight:normal; float:right; background:url(../images/icon12.png) 0 13px no-repeat; padding-left:8px; color:#a7a7a7;}
.list .hd span a{ color:#a7a7a7;}
.list .hd span a:hover{ color:#f00;}
.list .hd span strong{ color:#222222;}
.list .bd{ padding:15px 10px;}
.list .bd ul li{height:30px; line-height:30px; background: url(../images/ico-1.gif) 0 13px no-repeat; padding-left:15px; overflow:hidden;}
.list .bd ul li span{ float:right; color:#626262;}

.detail{ width:689px;}
.detail .hd{ height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#222222; border-bottom:solid 1px #dfdcdc; padding:0 5px;}
.detail .hd span{ font-size:12px; font-weight:normal; float:right; background:url(../images/icon12.png) 0 13px no-repeat; padding-left:8px; color:#a7a7a7;}
.detail .hd span a{ color:#a7a7a7;}
.detail .hd span a:hover{ color:#f00;}
.detail .hd span strong{ color:#222222;}
.detail .bd{ padding:20px 10px;}
.detail .bd h1{ height:30px; line-height:30px; font-size:18px; font-weight:bold; text-align:center;}
.detail .bd h2{ height:30px; line-height:30px; color:#999; text-align:center; margin-bottom:15px;}
.detail .bd p{ line-height:22px;}

/*分页*/
.pages{ margin:5px; padding:3px; text-align:center;}
.pages a{ padding:5px 7px; border:solid 1px #ff9600; color:#ff6500; margin-right:3px; text-decoration:none; background:url(../images/meneame.jpg) 50% bottom repeat-x;}
.pages a:hover{ border:solid 1px #ff9600; color:#ff6500; background:none; background-color:#ffc794;}
.pages span.current { border:solid 1px #ff6500; padding:5px 7px; font-weight:bold; color:#ff6500; margin-right:3px; background-color:#ffbe94;}
.pages span.disabled { border:solid 1px #ffe3c6; padding:5px 7px; color:#ffe3c6; margin-right:3px;}
.pages span.f14{ font-size:14px;}
/*右侧二级菜单*/
.page-submenu .listbox-list { padding:15px 15px 25px 15px;}
.page-submenu .listbox-list li{ border-bottom:solid 1px #fce5e6; line-height:30px;}
.page-submenu .listbox-list li.cur,.page-submenu .listbox-list li.cur a{ color:#e60000;}