
/* 注册 */
.r_m{width:798px; margin:0px auto;}
.r_top{ margin-bottom:10px; }
.r_top div.logo{ float:left; margin-top:12px;}
.r_top div.bar{ float:right; background:url(../images/register/r_top_bg.gif) no-repeat left top;width:184px; height:24px; line-height:24px; text-align:center;color:#939393}
.r_top div.bar a{ margin:0px 8px; color:#939393}
.registe-c{ margin-top:12px;}
.registe-c h2{ background:url(../images/register/r_tit_bg.gif) left top; color:#28FF28; height:34px; line-height:34px;  padding-left:15px; font-size:16px;}
.registe-c h2 label{font-family:"微软雅黑"; float:left}
.registe-c h2 span{ float:right; width:200px; font-size:12px; font-family:Arial, Helvetica, sans-serif; }
.registe-c h2  a{ color:#eaf900;}
.registe-c span{ color:#bfbfbf;}
.registe-box{ border:2px solid #FFA5A5; padding-bottom:30px;}
.registe-box h3{ color:#1d2088;background:url(../images/register/inp_bg.png) left top; height:43px; font-size:14px; font-weight:bold; line-height:35px; padding-left:15px; margin-bottom:10px;}
.registe-box table{width:100%;}
.registe-box table td{width:50%;}
.registe-success{background:#eeffe2 url(../images/result/r_success.png) 10px 20px no-repeat;}
.registe-success div{ line-height:30px; color:#666;bottom:50px;}
.activate-success{background:#eeffe2 url(../images/result/r_success.png) 10px 20px no-repeat;}
.activate-success div{ line-height:30px; color:#666;bottom:50px;}
.activate-error{background:#fdf7f0 url(../images/result/r_error.png) 10px 20px no-repeat;}
.activate-error div{ line-height:30px; color:#666;bottom:50px;}

.choose{ padding:30px; height:300px;}
.choose ul{ margin:0 auto; width:660px;}
.choose ul li{ float:left; width:330px; height:260px;}
.choose ul li.person a{ display: inline-block;width:330px; height:260px; background:url(../images/register/l-a.png) no-repeat;}
.choose ul li.person a:hover{ background:url(../images/register/l-b.png) no-repeat;}
.choose ul li.company a{display: inline-block;width:330px; height:260px; background:url(../images/register/l-c.png) no-repeat;}
.choose ul li.company a:hover{ background:url(../images/register/l-d.png) no-repeat;}

.inpmd { height:30px; }
.inpmd label{ width:130px; text-align:right; float:left; height:28px; font-size:14px;}
.inpmd label.error{ text-align:left; width:auto; color:#F00;}
.inpmd .input{ float:left; width:160px;}
.inpmd label span{ color:#F00; margin-right:5px;}
.inpmd p.err{ color:#F00;}
.inpmd span.err{ color:#F00;}
span.err{ color:#F00;}
.inpt{ padding:4px; border:1px solid #dedede; width:150px; }
.inpmd .input .inpu{ padding:4px; border:1px solid #dedede; width:80px; background:url(../images/register/inp_bg.png) no-repeat; margin-right:5px; float:left}
.inpmd .input li{ float:left; line-height:14px;* line-height:18px;}
.inpmd .input li a{color:#0044dd; text-decoration:none}
.inpmd .w130{ width:130px;}
.inpmd .input .w100{ width:100px;}
.inpmd p{ float:left;height:28px; color:#bfbfbf;}
.inpmd p a{color:#0044dd; text-decoration:none}
.inpmd dt{ float:left;height:28px; line-height:28px; color:#888;}

.agreement{ width:700px; margin:0px auto 10px auto; height:130px; border:1px solid #adadad; overflow:scroll;overflow-x:hidden; padding:10px; line-height:20px; color:#999;}
.reg-info{ border:1px solid #fec552; background:#ffffe1; padding:20px 40px; margin-bottom:10px; background:url(../images/register/ico_bg.png) 10px -73px no-repeat;}
.reg-info span{ padding:0 5px; color:#F30;}
.cxfs{ line-height:30px; color:#666;}
.cxfs p{ margin:10px 0; line-height:20px;}
.zc-btn{ text-align:left; padding-left:160px;}
.zc-btn button{ background:url(../images/register/zc-btn.gif) 0 0 no-repeat; width:165px; height:30px; border:0px;}

.foot{margin:0 auto;  margin-top:10px;text-align:center;}
.foot ul{background:url(../images/register/foot.png) repeat-x; height:32px; line-height:32px; }
.foot p{ line-height:25px;}

div#reg {
    margin: 0 auto;
    width: 750px;
}
.inp input {
}
#reg_items li {
    height: 30px;
    overflow: hidden;
}
#reg_items li.submit {
    height: 100px;
    margin: 20px 0 10px;
    text-align: center;
}
#reg_items .s_btn {
    width: 500px;
}
#reg_items .s_btn input {
    margin: 0 5px;
    width: 80px;
}
#reg_items li div.inp {
    float: left;
    width: 175px;
}
#reg_items li div.inf {
    float: right;
    margin: 5px 20px 5px 0;
    width: 400px;
}
#reg_items li input[type="text"], #reg_items li input[type="password"] {
    border: 1px solid #A7A6AA;
    height: 18px;
    margin-top: 4px;
    padding: 2px 8px 0 3px;
    width: 160px;
}
#reg_items li input.readonly {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
}
#reg_items li input.ccode {
    width: 54px;
}
#reg_items li label {
    color: #404040;
    float: left;
    font-size: 14px;
    line-height: 28px;
    margin-right: 5px;
    text-align: right;
    width: 100px;
}
.default {
    color: #AAAAAA;
    margin-left: 10px;
    padding-top: 3px;
}
ul#reg_terms {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.seperator {
    border-top: 1px solid #EEEEEE;
    clear: both;
    font-size: 0;
    height: 0;
    width: 100%;
}
.title, .title2 {
    border-bottom: 1px dashed #EDEDED;
    color: #195790;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin: 20px 0 10px;
    padding: 0 10px;
}
.title2 {
    font-size: 20px;
}
ul#reg_terms li.terms_content {
    line-height: 200%;
    margin: 20px 0 10px;
    text-align: center;
}
ul#reg_terms li.terms_content div {
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    height: 60px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px;
    text-align: left;
    width: 700px;
}
.WarningMsg {
    background: url("../images/register/login/msg_warning.gif") no-repeat scroll 5px 50% #FFEAF7;
    border: 1px solid #FFBABE;
    color: #000000;
    height: 16px !important;
    margin: -1px 0 0 4px !important;
    padding: 2px 5px 2px 25px !important;
}
.FailedMsg {
    background: url("../images/register/login/standard_msg_error.gif") no-repeat scroll 5px 50% #FFF2E9;
    border: 1px solid #FF6600;
    color: #000000;
    height: 16px !important;
    margin: -1px 0 0 4px !important;
    padding: 2px 5px 2px 25px !important;
}
.SucceedMsg {
    background: url("../images/register/login/standard_msg_ok.gif") no-repeat scroll 5px 45% #E6FFE6;
    color: #000000;
    height: 16px !important;
    margin: -1px 0 0 4px !important;
    padding: 2px 5px 2px 25px !important;
}
.but-204 {
    background: url("../images/register/zc-btn.gif") no-repeat;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    width: 204px;
}