@charset "utf-8";


.r-error, .r-success, .r-waring{ margin-top:50px;margin-left:220px;width:70%; position:relative; background:#fdf7f0 url(../images/result/r_error.png) 10px 20px no-repeat; border:1px solid #df8832; height:150px;}
.r-error h3, .r-success h3, .r-waring h3{ margin-left:160px; line-height:20px; padding:20px 10px 10px; font-size:20px; color:#ff6600;}
.r-error span{ margin-left:20px; line-height:20px; font-size:16px; color:#ff6600;}
.r-success span { margin-left:200px; margin-top:20px; line-height:20px; font-size:16px; color:#ff6600;}
.r-error .button-s9, .r-success .button-s10, .r-waring .button-s12 { margin-left:180px;}
.r-error p, .r-success p, .r-waring p{ position:absolute; bottom:8px; left:175px; line-height:30px; color:#666;}
.r-error p a, .r-success p a .r-waring p a{ text-decoration:underline; color:#069; padding:0 3px;}

.r-success{background:#eeffe2 url(../images/result/r_success.png) 10px 20px no-repeat; border:1px solid #42b800;}
.r-success h3, .r-waring h3{ color:#000;}
.r-success h2{margin-left:160px; padding:0px 10px;color:#000;font-size:14px;font-weight:normal;padding-bottom:10px;}

.r-waring{background:#fdfdd1 url(../images/result/r_waring.png) 10px 20px no-repeat; border:1px solid #dcdc0d;}


 /* Buttons */
.button-s9, .button-s10, .button-s12{margin-left:170px;
	width:80px; border:0; margin:0px 10px; cursor:pointer; font-size:13px; color:#fff; text-align:center; overflow:hidden;
	background-image: url(../images/result/button_bg.png); background-repeat:no-repeat;outline:0;}
.button-s9, .button-s10, .button-s12{background-position: 0 -449px; height:27px; line-height:27px; width:75px; font-size:12px;color:#fff; font-weight:300;}
.button-s10{background-position: 0 -734px;}
.button-s12{background-position: 0 -768px; color:#333}

.c-success {margin-top:50px;margin-left:220px;width:70%; position:relative;background:#eeffe2 url(../images/result/r_success.png) 10px 20px no-repeat; border:1px solid #42b800; overflow: hidden;}
.c-success h3 {margin-left:180px; line-height:20px; padding:20px 10px 10px; font-size:20px; color:#ff6600;}
.c-success p {position:absolute; bottom:8px; left:175px; line-height:30px; color:#666;}
.table-success {margin-left:200px; margin-top:20px; margin-rigth:20px; width:450px;}
.table-success th {margin-left:10px; line-height:20px; text-align:right; width:90px;}
.table-success td {line-height:20px; padding:3px; width:100px;}

.fb{ font-weight:bold;}
.block{display:block;}
.f12{font-size:12px;}
.co_b{ color:#000;}
.mb5{margin-bottom:5px;}
.mt10{margin-top:10px}
.fn{ font-weight:normal;}

a{font-family:arial,sans-serif;cursor:pointer;text-decoration:none;color:#666;blr:expression(this.onFocus=this.blur())} 
a:hover{color:#FF0000;text-decoration:none;} 
a:focus{outline:1px dotted;}
.button-2{ background-image:url(../../images/home/btn.png); background-repeat:no-repeat; text-align:center; display:inline-block; border:0; cursor:pointer;background-position: 0 -64px; height:30px; width:99px; color:#FFF; font-weight:600;}

