<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	$contain.get('/contain/htmlhead.htm').put('title',$title)
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
        <title>$!{title}</title>
        <link rel="stylesheet" href="$!{imageServer}/styles/basic.css" type="text/css">
        <link rel="stylesheet" href="$!{imageServer}/styles/admin.css" type="text/css">
		<link rel="stylesheet" href="$!{imageServer}/styles/skin-one.css" type="text/css">
        <script src="$!{imageServer}/scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/datePicker.css" />
		<script  type="text/javascript" src="$!{imageServer}/scripts/jquery.datePicker.js"></script>
		
        <script >
          var appServer = "$!{appServer}";
        </script>
    </head>
	<body>
		$screen_content
	</body>
</html>