#set($layout = '')
<script src="$!{imageServer}/scripts/user/cancleAccount.js" type="text/javascript"></script>
      <div id="head">
        <div class="headBox">
        
            <div class="headBox1">
                <a class="logo" href="$!{cmsServer}">LOGO</a>
                <div class="about" >
					#if($userAgent)
						#if($!{userAgent.roleName} != "拍卖师")
							<div class="back"><span><a href="JavaScript:cancleAccount();">销户申请</a></span></div>
						#end
						<div class="back"><span><a href="$!{appServer}/user/index.htm">个人中心</a></span></div>
                    	<div class="back"><span><a href="$!{appServer}/logout.htm">退出</a></span></div>
						<div class="welcome" style="width:200px;">欢迎您，$!{userAgent.name}<$!{userAgent.roleName}> </div>
					#else
						<div class="back"><span><a href="$!{appServer}/login.htm">登录</a></span></div>
						<div class="back"><span><a href="$!{appServer}/register.htm">注册</a></span></div>
					#end
				</div>
            </div>
            
            <div class="headBox2">
                <div class="l"></div>
               <div class="c">
					
                     #*<div id="menu">
                        <ul>
                            <li><a class="cursor" href="$!{appServer}/index.htm">
									#if($!{userAgent.broker}||$!{userAgent.agent})
										服务中心平台
									#end
									#if($!{userAgent.middleMan})
										中间商平台
									#end
									#if($!{userAgent.marketMaker})
										批发商平台
									#end
							</a></li>
                            <li>
								#if($!{userAgent.broker}||$!{userAgent.agent})
									<a href="$!{appServer}/broker/passwd.htm">修改密码</a>
								#end
								#if($!{userAgent.middleMan})
									<a href="$!{appServer}/middleman/passwd.htm">修改密码</a>
								#end
								#if($!{userAgent.marketMaker})
									<a href="$!{appServer}/marketmaker/passwd.htm">修改密码</a>
								#end
								
							
							</li>                          
                        </ul>
                    </div>*#
                </div>
                <div class="r"></div>
            </div>
        </div>
    </div>