#set($layout = 'layout/blank.vm') 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
	<link rel="stylesheet" href="$!{imageServer}/styles/home/common.css" />
	<script type="text/javascript" src="$!{imageServer}/scripts/jquery-1.4.4.min.js"></script>
    <script src="$!{imageServer}/scripts/common.js" type="text/javascript"></script>
	<script src="$!{imageServer}/scripts/home/cms.js" type="text/javascript"></script>
</head>
<style>
			.tabbox th {
                background: url("$!{imageServer}/images/cms/vbg.gif") 0 -460px repeat-x;
                height: 33px;
                border-bottom: solid 1px #EFC5C5;
                text-align: left;
                padding-left: 10px;
				border-spacing: 2px;
				border-collapse:separate;
				vertical-align:inherit;
            }
			.tabbox td {
    			height: 27px;
                padding-left: 10px;
				margin: 0;
				padding: 0;
				color: #3D3D3D;
				border-collapse: separate;
				border-spacing: 2px;
				vertical-align:inherit;
            }
</style>
<script>
$(function(){
	scrollUp("type3");
})
</script>
<body style="background: none repeat scroll 0 0 #FFFFFF;">
##<div class="infor mt10" id="gpinfor">
      ##<div class="infor_lab">
        <ul>
		  <table width="100%" class="tabbox">
            <thead >
              <th style="text-align:center;width:15%;">项目编号</th>
              <th style="text-align:center;width:25%;">项目名称</th>
              
              <th style="text-align:center;width:15%;">数量</th>
              <th style="text-align:center;width:20%;">成交价格</th>
              ##<th style="text-align:center;width:25%;">成交日期</th>
            </thead>
		  </table>
		<div id="type3" style="overflow:hidden;height:250px;border:#aaccee 1px soilid;width:100%">
			<div id="type3-demo1">
				<table width="100%" class="tabbox">
			<tbody>
			#if($!{orderListType3} && ${orderListType3.size()} > 0)
				#foreach($tradeOrder in $orderListType3)
					<tr #if($velocityCount%2==0) style="background-color:#F6F6F6;color:#3D3D3D;" #end>
						<td style="text-align:center;width:15%;">$!{tradeOrder.projectCode}</td>
						<td style="text-align:center;width:25%;">
							<a href="$!{appServer}/home/detail.htm?projectCode=$!{tradeOrder.projectCode}" title="$!{tradeOrder.projectName}" target="_blank">$!{tradeOrder.projectName}</a>
						</td>
                                                <td style="text-align:center;width:15%;">$!{tradeOrder.forestryQuantityDes}</td>
						<td style="text-align:center;width:20%;">
							#if($!{tradeOrder.bidPrice})
								$!{tradeOrder.orderAmountDesc}(总价)
								##$!{tradeOrder.bidPriceDesc}/$!{tradeOrder.measureUnitDesc}
							#end
						</td>
						
						##<td style="text-align:center;width:15%;">$!{tradeOrder.quantity}$!{tradeOrder.measureUnitDesc}&nbsp;</td>
						##<td style="text-align:center;width:25%;">$!{dateTool.format($!{tradeOrder.gmtCreate})}</td>
                    </tr>
				#end
			#end
            </tbody>
          </table>
		  </div>
				<div id="type3-demo2"></div>
            </div>
        </ul>
      ##</div>
    ##</div>
</body>
</html>