#set($layout = 'layout/default.vm')
<link href="${imageServer}/scripts/zTree/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/jquery.artDialog.source.js?skin=aero"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/artDialog.iframeTools.js"></script>
<script type="text/javascript" src="${imageServer}/scripts/zTree/jquery.ztree-2.6.min.js"></script>

##<link rel="stylesheet" type="text/css" href="$!{imageServer}/styles/ui.css" />
##<script src="$!{imageServer}/scripts/jquery.ui.js" type="text/javascript"></script>

<script src="$!{imageServer}/scripts/project/projectListing.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/project/suspension.js" type="text/javascript"></script>

<script type="text/javascript">
$(function() {
	$("#startTradeDate").datePicker({clickInput:true,startDate:"2010-06-03",endDate:"$!{dateTool.format($!initTradeDate)}"});
	$("#endTradeDate").datePicker({clickInput:true,startDate:"2010-06-03",endDate:"$!{dateTool.format($!initTradeDate)}"});
});
</script>
<style >
	.print_head_style{font-weight:800;font-size:21px;}
	.print{font-size:14px;align:left}
</style>
<div class="main">

	<h2>平台结算报表</h2>
    <!-- 搜索模块 -->
    <form id="queryFundSettlementForm" action="$!{appServer}/fund/queryPlatformSettlement.htm"  method="post">
		<div class="searchBox">
			<h5><span>搜索平台结算</span></h5>
			<table>
              <tr>
                <th>结算日期：</th>
                <td>
					<input type="text" class="inp" id="startTradeDate" name="startTradeDate" style="width:100px;" readonly="readonly"  value="$!dateTool.format("yyyy-MM-dd",$!{startTradeDate})" />
					<label>-</label>
					<input type="text" class="inp" id="endTradeDate" name="endTradeDate" style="width:100px;" readonly="readonly" value="$!dateTool.format("yyyy-MM-dd",$!{endTradeDate})"  />
				</td>
        		<th></th>
                <td></td>
                <th></th>
                <td>
                <button type="submit" class="btn">查询</button></td>
              </tr>
			</table>
		</div>
    </form>
	<!-- 搜索模块 END -->

	<div class="clear"></div>

    <div class="listBox">
		<h5>
    		<span>平台结算报表</span>
    	</h5>
		<table border="0" class="c2" style="width:100%;">
			<tbody>
				#if($!{fundSettlement})
    				<tr>
    					<th class="w100 tr f14">结算日期:</th>
    					<td class="print" colspan="3">
							$!{fundSettlement.startTradeDate} 至   $!{fundSettlement.endTradeDate}
						</td>
    				</tr>
    				<tr>
    					<th class="tr f14">手续费收入:</th>
    					<td class="print">$!{commonUtils.getMoneyDesc($!{fundSettlement.feeAmount})}  元</td>
    					<th class="w100 tr f14">手续费余额:</th>
    					<td class="print">$!{commonUtils.getMoneyDesc($!{fundSettlement.currFeeAmount})}  元</td>
    				</tr>
    				<tr>
    					<th class="tr f14">中间货款收入:</th>
    					<td class="print">$!{commonUtils.getMoneyDesc($!{fundSettlement.goodsInAmount})}  元</td>
    					<th class="tr f14">中间货款支出:</th>
    					<td class="print">$!{commonUtils.getMoneyDesc($!{fundSettlement.goodsOutAmount})}  元</td>
    				</tr>
    				<tr>
    					<th class="tr f14">中间货款余额:</th>
    					<td class="print" colspan="3">$!{commonUtils.getMoneyDesc($!{fundSettlement.goodsAmount})}  元</td>
    				</tr>

    				<tr height="50">
    					<td colspan="4" height="33"></td>
    				</tr>

				#else
					<tr>
						<td><p>没有找到符合条件的结果</p></td>
					</tr>
    			#end
			</tbody>
		</table>
	</div>

</div>