<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
        <title>$!{title}</title>
        <link rel="stylesheet" href="$!{imageServer}/styles/home/common.css" />
        <script type="text/javascript" src="$!{imageServer}/scripts/jquery-1.4.4.min.js"></script>
        <script type="text/javascript">
            var appServer = "$!{appServer}";
            var imageServer = "$!{imageServer}";
			var clientServer="$!{clientServer}";
			$(function(){
                	/*导航*/
                	var menu = $(".menu ul li");
                	$(".menu_laye ul").hide();
					
					var init_show_index= menu.index($(".menu ul li.hover"));
					$(".menu_laye ul").eq(init_show_index).show()
					
                	menu.hover(function(){
                	   $(".menu ul li").removeClass("hover");
                	   $(this).addClass("hover")
                	   var index =  menu.index(this);
                		$(".menu_laye ul").eq(index).show().siblings().hide();   
               		 });
			});
        </script>
    </head>
    <body>
		
        <div class="main">
				<div class="main_top">
					<p class="fl">您好&nbsp;$!{userAgent.name}，欢迎来到中部林业产权交易服务系统！</p>
					<ul class="fr">
						<li>
							<a href="$!{appServer}/user/index.htm">我的空间</a>
						</li>
						<li>
							<a href="$!{appServer}/logout.htm">退出</a>
						</li>
						<li>
							<a href="$!{bbsServer}">论坛</a>
						</li>
						<li class="help">
							<a href="$!{cmsServer}/help/index.jhtml">帮助中心</a>
						</li>
					</ul>
				</div>
                <div class="clear"></div>
                <div class="head">
                    <a href="$!{cmsServer}" class="fl">
                        <img src="$!{imageServer}/images/home/logo.png" />
                    </a>
                    <div class="fl search">
                        <p>
                           <form target="_blank" action="$!{cmsServer}/search.jspx" accept-charset="utf-8" onsubmit="document.charset='utf-8';">
								<input type="hidden" name="channelId">
								<input id="txtKey" type="text" autocomplete="off" maxlength="24" onblur="if(this.value=='')this.value=''" onfocus="if(this.value=='请输入关键词')this.value=''" value="" name="q">
								<button class="btn1" type="submit">搜　索</button>
							</form>
                        </p>
						<p></p>
                    </div>
                </div>
            <div class="clear"></div>
			$contain.get('/contain/menu.htm')
            <div class="clear"></div>
            <div class="ad">
                <img src="$!{imageServer}/images/home/temp/ad1.png" />
            </div>
           ## <div class="hr10"></div>
				##内容页面
                $screen_content
				##内容页面
                <div class="foot">
                    <p>
                       <a href="$!{cmsServer}">返回首页</a>
                        | <a href="$!{cmsServer}/aboutUsCorp.jhtml">关于我们</a>
                        | <a href="$!{cmsServer}/employ/index.jhtml">诚聘英才</a>
                        | <a href="$!{cmsServer}/adv/index.jhtml">广告服务</a>
                        | <a href="$!{cmsServer}/aboutUsLink.jhtml">联系我们</a>
                    </p>
                    <p>
                        <img src="$!{imageServer}/images/home/index01.png"/>
                        <span>Copyright @ 2010-2011 中部林业产权交易服务系统 <br />
                            湘ICP备案06000290号
                        </span >
                        <img src="$!{imageServer}/images/home/index02.png"/>
                    </p>
                </div>
        </div>
    </body>
</html>
