<script src="$!{appServer}/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="$!{appServer}/scripts/project/proTypeAttri.js" type="text/javascript"></script>
<script>
   //取消按钮
function doback(){
	location.href = "$!{appServer}/baseset/projecttype/attriList.htm?tCode=$!{projectTypeAttri.proTypeCode}";
}

function setInputType(v){
	var e = document.getElementById("mulType");
	if(v=="checkbox" || v=="CHECKBOX" || v=="radio" || v=="RADIO" || v=="select" || v=="SELECT"){
		e.style.display="";
	}else{
		e.style.display="none";
	}
}
</script>
<div class="main">
  <form  name="addForm" id="addForm"  action="${appServer}/baseset/projecttype/addAttri.htm" method="post" enctype="multipart/form-data" >
  <div class="formBox">
    <h3><i></i><span>添加属性</span></h3>
    <div class="content">
	
      <table class="c2">
		<tr>
          <th><span id="err_proName" class="red">*</span>项目类型：</th>
          <td>
			$!{proTypeName}
			#springBind("projectTypeAttri.proTypeCode")
			<input type="hidden" id="${status.expression}" name="${status.expression}" value="$!{status.value}">
		    <p class="red">${status.errorMessage}</p>
		</td>
        </tr>
        <tr>
          <th><span id="err_proName" class="red">*</span>属性key：</th>
          <td>
			#springBind("projectTypeAttri.keyName")
			<input type="text" class="inp" id="${status.expression}" name="${status.expression}" value="$!{status.value}" />
            <p class="red">${status.errorMessage}</p>
		  </td>
        </tr>
		<tr>
          <th><span class="red">*</span>属性title：</th>
          <td>
			#springBind("projectTypeAttri.keyTitle")
			<input type="text" class="inp" id="${status.expression}" name="${status.expression}" value="$!{status.value}" />
            <p class="red">${status.errorMessage}</p>
		  </td>
        </tr>
		<tr>
          <th><span class="red">*</span>属性类型：</th><!--html控件类型-->
          <td>
			#springBind("projectTypeAttri.inputType")
			<select class="select" id="${status.expression}" name="${status.expression}" value="$!{status.value}" style="width:200px;" onchange="setInputType(this.value)">
    			<option value="">请选择</option>
    			#foreach($item in $inputTypeList)
    				<option value="$!{item.value}" #if($!{status.value} == $!{item.value}) selected #end>$!{item.name}</option>	
    			#end
			</select>
			<p class="red">${status.errorMessage}</p>
		  </td>
        </tr>
		<tr>
          <th>预设值：</th>
          <td>
			#springBind("projectTypeAttri.text")
            <textarea  cols="3" rows="2" id="${status.expression}" name="${status.expression}" class="textarea">$!{status.value}</textarea>
            <br />
			<span id="mulType" style="display:none">说明：预设值输入格式：key1:value1-key2:value2</span>
			<p class="red">${status.errorMessage}</p>
		  </td>
        </tr>
		<tr>
          <th>属性描述 ：</th>
          <td>
			#springBind("projectTypeAttri.remark")
			<textarea  cols="3" rows="3" id="${status.expression}" name="${status.expression}" class="textarea">$!{status.value}</textarea>
			<p class="red">${status.errorMessage}</p>
		  </td>
        </tr>
		<tr>
          <th><span class="red">*</span>是否必填：</th>
          <td>
			#springBind("projectTypeAttri.isRequired")
            <input type="radio" name="${status.expression}" id="radio2" value="1" #if($!{status.value} == 1)  checked #end />  是
            <input type="radio" name="${status.expression}" id="radio" value="0" #if($!{status.value} != 1)  checked #end /> 否
			<p class="red">${status.errorMessage}</p>
		  </td>
        </tr>
		<tr>
          <th>验证规则(正则)：</th>
          <td>
			#springBind("projectTypeAttri.valueValidate")
			<input type="text" class="inp" id="${status.expression}" name="${status.expression}" value="$!{status.value}" />
            <span class="red"></span><p class="red">${status.errorMessage}</p>
		  </td>
        </tr>
		<tr>
          <th><span class="red">*</span>是否启用：</th>
          <td>
			#springBind("projectTypeAttri.enable")
			<input type="radio" name="${status.expression}" id="radio" value="0" #if($!{status.value} != 1)  checked #end /> 是
            <input type="radio" name="${status.expression}" id="radio2" value="1" #if($!{status.value} == 1)  checked #end />  否
			<p class="red">${status.errorMessage}</p>
		  </td>
        </tr>
        <tr>
          <th><span class="red">*</span>排序号：</th>
          <td>
			#springBind("projectTypeAttri.rank")
			<input type="text" class="inp" id="attriRank" name="${status.expression}" value="$!{status.value}" />
            <span id="err_attriRank" class="red"></span><p class="red">${status.errorMessage}</p>
		  </td>
        </tr>
		
        
      </table>
    </div>
    <div class="form-but">
      <!-- 表单按钮区 -->
      <button type="submit" class="button-s4"  >保存属性</button>
	  <button type="button" class="button-s4" onclick="doback();">取消</button>
    </div>
    <!-- 表单按钮区 END -->
    <div class="clear"></div>
  </div>
  </form>
  <!-- 表单模块 END -->
  <div class="clear"></div>
  
</div>

