<script src="$!{imageServer}/scripts/user/systemMessage.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function() {
    	$("#beginTime").datePicker({clickInput:true,startDate:"1900-01-01"});  
    	$("#endTime").datePicker({clickInput:true,startDate:"1900-01-01"});
    });
</script>

<div class="main">
	<h2>站内信列表</h2>
	<div class="clear"></div>
    <!-- 搜索模块 -->
	<form id="systemMessageListFrom" action="$!{appServer}/message/list.htm" onsubmit="return equalTime('beginTime','endTime');" method="post">
        <div class="searchBox">
    		<h5><span>搜索站内信</span></h5>
    		<table>
    			<tr>
    				<th class="w110 fn tr">标题：</th>
    				<td>
						#springBind("query.title")
    					<input type="text" id="title" name="$!{status.expression}" value="$!{status.value}" class="inp" />
    				</td>
    				<th class="w110 fn tr">发件人：</th>
    				<td>
						#springBind("query.operator")
    					<input type="text" id="operator" name="$!{status.expression}" value="$!{status.value}" class="inp" />
    				</td>
					<th class="w110 fn tr">收件人：</th>
    				<td>
						#springBind("query.receiveAccount")
    					<input type="text" id="receiveAccount" name="$!{status.expression}" value="$!{status.value}" class="inp" />
    				</td>    			
				</tr>
    			<tr>
    				<th class="w110 fn tr">发送时间：</th>
    				<td>
						#springBind("query.beginTime")
    					<input type="text" id="beginTime" name="$!{status.expression}" value="$!{status.value}" readonly="readonly" class="date-pick" style="width:65px"/>-
						#springBind("query.endTime")
    					<input type="text" id="endTime" name="$!{status.expression}" value="$!{status.value}" readonly="readonly" class="date-pick" style="width:65px"/>						
    				</td>
					<th class="w110 fn tr">状态:</th>
                    <td>
						#springBind("query.status")
						<select class="select" id="status" name="${status.expression}" value="$!{status.value}" >
                			<option value="">请选择</option>
							<option value="Y"  #if($!{status.value} == "Y") selected #end>已读</option>
							<option value="N"  #if($!{status.value} == "N") selected #end>未读</option>
            			</select>
					</td>
    				<th class="w110 fn tr">&nbsp;</th>
    				<td>
    					<button type="submit" class="btn">搜 索</button>
    				</td>
    			</tr>
    		</table>
    	</div>
    </form>
	<!-- 搜索模块 END -->
	<div class="tool">
		<button type="button" class="btn" align="right" onclick="window.location.href='$!{appServer}/message/send.htm'">发送站内信</button>
	</div>
	<br>
	<!-- 会员列表BEGIN -->
	<div class="listBox">
		<h5><span>会员列表</span></h5>
		<table width="100%">
			<tr>
				<th width="12%">发件人</th>
				<th width="12%">收件人</th>
                <th width="10%">状态</th>
				<th width="30%">标题</th>
				<th width="18%">发送时间</th>
				<th width="18%">操作</th>
            </tr>
			#if($query && $query.getData().size() > 0)
				#foreach($!list in $!query.getData())
					<tr id="$!{list.id}">
                        <td>$!{list.operator}</td>
                        <td><a href="$!{appServer}/user/info.htm?account=$!list.receiveAccount">$!{list.receiveAccount}</a></td>
                        <td>#if($!{list.status} == 'N') 未读  #else 已读 #end</td>
                        <td><a href="$!{appServer}/message/view.htm?id=$!{list.systemMessageId}">#direct($!{list.title})</a></td>
                        <td>$!dateTool.format("yyyy-MM-dd H:m:s",$!{list.gmtCreate})</td>
                        <td>
                            <a href="$!{appServer}/message/view.htm?id=$!{list.systemMessageId}">查看</a>|
                            <a href="JavaScript:deleteUserMessage($!{list.systemMessageId});">删除</a>
						</td>
                    </tr>
				#end
			#end
        </table>
		<div class="pages-box" >
			<div class="pages">
				#pager($query, "systemMessageListFrom")
            </div> 
        </div>
    </div>
</div>
<div id="pwdResetDialog"></div>