<script src="$!{imageServer}/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="$!{imageServer}/scripts/user/systemMessage.js" type="text/javascript"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/jquery.artDialog.source.js?skin=aero"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/artDialog/artDialog.iframeTools.js"></script>
<script type="text/javascript" src="$!{imageServer}/scripts/user/userDialog.js"></script>

<div class="main">
	<h2>站内信发送</h2>
	<div class="formBox">
		<form id="sendMessageForm" action="$!{appServer}/message/send.htm" method = "POST">
    		<div class="content">
    			<table class="c2">
    				<tr>
                        <th><span class="red">*</span>站内信接收者</th>
    					<td>
    						#springBind("messageInfo.userAccounts")
    						<input type="text" id="userAccounts" name="userAccounts" value="$!{status.value}" class="inp" />
                            <span>多个收件人请以";"号隔开</span><span><input type="button" onclick="chooseUsers('userAccounts','userAccount','N','');" value="选择"/></span>
                        </td>
                    </tr>
    				<tr>
                        <th><span class="red">*</span>站内信标题</th>
    					<td>
    						#springBind("messageInfo.title")
    						<input type="text" id="title" name="title" value="$!{status.value}" class="inp" />
							<span class="red"></span>
                        </td>
                    </tr>
    				<tr>
                        <th><span class="red">*</span>站内信内容</th>
    					<td>
    						#springBind("messageInfo.content")
    						<textarea cols="" rows="" id="content" name="content" class="textarea">$!{status.value}</textarea>
							<span class="red"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-but">
    			<!-- 表单按钮区 -->
    			<button type="submit" class="button-s4">发送</button>
    			<button type="button" class="button-s4" onclick="goToList();">取消</button>
            </div>
		</form>
	</div>
</div>